@import "../config.scss";

.pc-organization-dashboard {
  margin-left: 250px;
  width: 100%;
  padding: 15px 30px 0;
  @media screen and (max-width: 855px) {
    margin-left: 0;
    padding: 5px 15px;
  }
  .pc-org-dashboard-wrapper {
    .pc-org-header {
      padding: 10px;
      @include genericBoxPattern;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      .pc-org-profile-img {
        height: 100px;
        width: 100px;
        border: 3px solid white;
        border-radius: 50%;
        overflow: hidden;
        @media screen and (max-width: 855px) {
          width: 80px;
          height: 80px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .pc-org-detail {
        margin-left: 10px;
        .pc-org-name {
          margin-bottom: 5px;
          font-family: font-family();
        }
        .pc-org-location {
          margin-bottom: 3px;
          display: flex;
          align-items: center;
          color: color-get(text-light);
          svg {
            margin-right: rem(5);
          }
        }
      }
    }
    .pc-tab-header {
      list-style: none;
      padding: 5px 15px;
      @include genericBoxPattern;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        font-weight: 600;
        color: color-get(text-dark);
        &:not(:first-child) {
          margin-left: 20px;
          @media screen and (max-width: 767px) {
            margin-left: 10px;
          }
        }
      }
      li {
        padding: 7px 0;
        line-height: 35px;
        cursor: pointer;
        font-size: 18px;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
        &.active,
        &:hover {
          border-bottom: 3px solid $primary;
          color: $primary;
        }
      }
    }
    .pc-tab-content {
      width: 100%;
      position: relative;
      min-height: calc(100vh - 295px);
      @media screen and (max-width: 855px) {
        min-height: calc(100vh - 308px);
        padding: 10px;
      }
      .tab-child {
        .pc-table-wrapper {
          @include genericBoxPattern;
          margin-bottom: rem(20);
        }
        .pc-org-overview {
          margin-bottom: rem(30);
          .pc-overview-title {
            margin-bottom: 10px;
          }
        }
        .pc-sub-pay {
          margin-bottom: rem(30);
          .pc-card {
            margin-bottom: rem(5);
            @include genericBoxPattern;
            padding: 15px;
            .pc-card-title {
              margin-bottom: 10px;
            }
            .pc-card-details {
              padding: 10px;
              .pc-sub-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                .pc-header-detail {
                  .pc-sub-name {
                    margin-bottom: 10px;
                  }
                }
              }
              .pc-plan-action {
                display: flex;
                align-items: center;
                .pc-sub-cancel {
                  margin-left: 10px;
                }
              }
            }
          }
        }
        .copy-to-clipboard {
          margin-bottom: rem(30);
        }
        .pc-role-header-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: rem(16) rem(24);
          border-bottom: rem(1) solid color-get(border);
          .pc-role-title-wrapper {
            display: flex;
            .pc-role-header-title {
              margin-right: 10px;
              @media screen and (max-width: 767px) {
                font-size: 16px;
              }
            }
            .pc-role-count {
              height: 20px;
              width: 20px;
              color: #fff;
              background: $primary;
              display: flex;
              justify-content: center;
              border-radius: 50%;
              font-size: 14px;
            }
          }
          .pc-head-right {
            display: flex;
            align-items: center;
            .pc-badge {
              margin-right: 10px;
              .pc-badge-count {
                width: 20px;
                height: 20px;
                background-color: #db3737;
                border-radius: 50%;
                line-height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 14px;
              }
            }
          }
        }
        .pc-user-list {
          display: block;
          white-space: nowrap;
          width: 100%;
          overflow-x: auto;
          .pc-user-list-table {
            thead {
              tr {
                th {
                  svg {
                    vertical-align: bottom;
                  }
                }
              }
            }
            tbody {
              tr {
                td {
                  .pc-click-name {
                    cursor: pointer;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                  .pc-action-pill {
                    .tooltip {
                      &:not(:first-child) {
                        margin-left: 10px;
                      }
                      .pc-action-icon {
                        cursor: pointer;
                      }
                    }
                  }
                  .pc-req-action {
                    display: flex;
                    button {
                      &:first-child {
                        margin-right: 10px;
                      }
                    }
                  }
                  input[type="checkbox"] {
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                  }
                  .add-user-btn {
                    cursor: pointer;
                  }
                }
                &:hover {
                  background-color: rgba(0, 0, 0, 0.075);
                }
              }
              .pc-status {
                padding: 3px 8px;
                border-radius: 50%;
                color: #fff;
                display: block;
                width: 20px;
                height: 20px;

                &.active {
                  background-color: #0f9960;
                }
                &.inactive {
                  background-color: #db3737;
                }
              }
            }
          }
          .pc-change-active {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            span {
              color: color-get(text-light);
              font-size: 14px;
            }
          }
        }

        .pc-actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: rem(16) rem(24);
          @media screen and (max-width: 576px) {
            flex-wrap: wrap;
          }
          .pc-req-action {
            max-width: 300px;
            display: flex;
            button {
              &:first-child {
                margin-right: 10px;
              }
            }
            @media screen and (max-width: 576px) {
              margin-bottom: 10px;
            }
          }
        }
        .pc-role-filter {
          display: flex;
          max-width: 350px;
          margin-left: auto;
          padding: rem(16) rem(24) rem(1);
          .formLabel {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.pc-overview-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  .pc-card-container {
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (max-width: rem(1199)) {
      max-width: 50%;
      flex: 0 0 50%;
      margin-bottom: 15px;
    }
    @media screen and (max-width: rem(767)) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 15px;
    }
    .pc-card-body {
      @include genericBoxPattern;
      padding: rem(16) rem(24);
      .pc-card-header {
        align-items: center;
        display: flex;
        margin-bottom: rem(15);
      }
      .card-count {
        font-size: rem(18);
        margin-left: auto;
      }
      .pc-card-info {
        .pc-card-title {
          margin-bottom: rem(10);
        }
        .card-progress {
          height: rem(6);
          display: flex;
          overflow: hidden;
          line-height: 0;
          font-size: rem(12);
          background-color: #e9ecef;
          border-radius: 0.25rem;
          .pc-progress-bar {
            width: 50%;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            transition: width 0.6s ease;
          }
        }
      }
      &.dark-blue {
        svg {
          color: color-get(primary, 500);
        }
        .pc-progress-bar {
          background-color: color-get(primary, 500);
        }
      }
      &.green {
        svg {
          color: color-get(success, 500);
        }
        .pc-progress-bar {
          background-color: color-get(success, 500);
        }
      }
      &.red {
        svg {
          color: color-get(error, 500);
        }
        .pc-progress-bar {
          background-color: color-get(error, 500);
        }
      }
      &.light-blue {
        svg {
          color: color-get(secondary, 500);
        }
        .pc-progress-bar {
          background-color: color-get(secondary, 500);
        }
      }
    }
  }
}

.list-pagination {
  padding: rem(16) rem(24);
  position: relative;
}
.pagination-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-members-wrapper {
  border-top: rem(1) solid color-get(border);
  padding-top: rem(15);
  .classroom-members {
    .cm-item {
      display: flex;
      align-items: center;
      margin-bottom: rem(15);
      .cm-image {
        .img-con {
          width: rem(40);
          height: rem(40);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: rem(2) solid color-get(primary);
          }
        }
      }
      .cm-name {
        padding-left: rem(15);
      }
    }
  }
}

.all-members {
  display: flex;
  align-items: center;
  .member-count {
    margin-left: rem(5);
  }
}
