@import '../config.scss';

.banner-container {
  padding: 10px 25px;
  margin: 0 auto;
  .banner-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .page-sub-heading {
      color: $subHeadColor;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
    .page-heading {
      color: $headingColor;
      font-size: 32px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
      @media screen and (max-width: 767px) {
        font-size: 26px;
      }
    }
  }
  .banners {
    .banner {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 40px;
      .banner-image {
        max-width: 50%;
        flex: 0 0 50%;
        padding-left: 15px;
        padding-right: 15px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .banner-content {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 50%;
        flex: 0 0 50%;
        text-align: left;
        .banner-title {
          h3 {
            margin: 0 0 5px 0;
            font-size: 32px;
            font-weight: 400;
            line-height: 1.6;
            text-transform: capitalize;
            color: $headingColor;
            text-align: left;
            font-weight: 600;
            @media screen and (max-width: 1199px) {
              font-size: 27px;
            }
            @media screen and (max-width: 991px) {
              font-size: 23px;
            }
            @media screen and (max-width: 767px) {
              font-size: 20px;
            }
          }
        }
        .banner-description {
          .pc-desc-list {
            li {
              margin-bottom: 5px;
              margin-left: 15px;
              position: relative;
              color: $subHeadColor;
              &::before {
                content: '✓';
                display: block;
                height: 15px;
                width: 15px;
                position: absolute;
                left: -15px;
                font-weight: 700;
                color: $subHeadColor;
              }
              @media screen and (max-width: 767px) {
                font-size: 14px;
              }
            }
          }
          p {
            svg {
              vertical-align: sub;
            }
            color: #444343;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
          }
        }
      }
    }
    .row-reverse {
      flex-direction: row-reverse;
    }
  }
  @media screen and (max-width: 767px) {
    .banners {
      .banner {
        .banner-image {
          max-width: 100%;
          flex: 0 0 100%;
          margin-bottom: 15px;
        }
        .banner-content {
          max-width: 100%;
          flex: 0 0 100%;
          .banner {
            .banner-image {
              max-width: 100%;
              flex: 0 0 100%;
            }
            .banner-content {
              max-width: 100%;
              flex: 0 0 100%;
            }
          }
        }
      }
    }
  }
}
