.pc-main-banner-container {
  margin: pixel-to-rem(110) auto pixel-to-rem(30);
  .pc-banner-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pc-banner-col {
      max-width: 50%;
      flex: 0 0 50%;
    }
    .pc-col-left {
      .search-box-container {
        .pc-jumbo {
          .search-form {
            margin-top: pixel-to-rem(30);
            input {
              text-align: left;
              height: pixel-to-rem(45);
              width: pixel-to-rem(300);
              line-height: pixel-to-rem(40);
              font-size: pixel-to-rem(16);
              border-width: pixel-to-rem(0.5);
              vertical-align: middle;
              border: none;
              outline: none;
              padding: 0 pixel-to-rem(20);
              border-top-left-radius: pixel-to-rem(5);
              border-bottom-left-radius: pixel-to-rem(5);
              box-shadow: 0 0 pixel-to-rem(8) 0 rgba(17, 22, 26, 0.16),
                0 pixel-to-rem(4) pixel-to-rem(8) 0 rgba(17, 22, 26, 0.08),
                0 pixel-to-rem(8) pixel-to-rem(16) 0 rgba(17, 22, 26, 0.08);
              @media (max-width: pixel-to-rem(991)) {
                width: pixel-to-rem(220);
              }
            }

            ::placeholder {
              text-align: left !important;
              font-size: pixel-to-rem(16);
            }

            button {
              background: #0056b8;
              color: white;
              vertical-align: middle;
              height: pixel-to-rem(45);
              width: pixel-to-rem(90);
              padding: pixel-to-rem(3);
              font-size: pixel-to-rem(16);
              border: none;
              border-top-right-radius: pixel-to-rem(5);
              border-bottom-right-radius: pixel-to-rem(5);
              box-shadow: 0 0 pixel-to-rem(8) 0 rgba(17, 22, 26, 0.16),
                0 pixel-to-rem(4) pixel-to-rem(8) 0 rgba(17, 22, 26, 0.08),
                0 pixel-to-rem(8) pixel-to-rem(16) 0 rgba(17, 22, 26, 0.08);
              &:hover {
                cursor: pointer;
              }
            }
          }
          .pc-jumbo-text {
            font-size: pixel-to-rem(48);
            line-height: pixel-to-rem(55);
            color: $headingColor;
            letter-spacing: pixel-to-rem(1);
            margin-bottom: pixel-to-rem(15);
            @media (max-width: pixel-to-rem(1199)) {
              font-size: pixel-to-rem(43);
              line-height: pixel-to-rem(48);
            }
            @media (max-width: pixel-to-rem(991)) {
              font-size: pixel-to-rem(32);
              line-height: pixel-to-rem(40);
            }
          }
          .pc-jumbo-text-second {
            color: $subHeadColor;
            line-height: 1.4;
            max-width: pixel-to-rem(512);
            font-size: pixel-to-rem(18);
          }
        }
      }
    }
    .pc-col-right {
      .pc-banner-image {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media screen and (max-width: pixel-to-rem(767)) {
    .pc-banner-row {
      .pc-banner-col {
        max-width: 100%;
        flex: 0 0 100%;
      }
      .search-box-container {
        .search-form {
          form {
            text-align: center;
          }
        }
      }
      .pc-col-right {
        .pc-banner-image {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: pixel-to-rem(575)) {
    .pc-jumbo {
      text-align: center;
      .pc-jumbo-text {
        font-size: pixel-to-rem(28) !important;
      }
    }
  }
}
