.pc-stat-wrapper {
  // background-color: color-get(secondary);
  margin-bottom: rem(50);
  @media screen and (max-width: rem(767)) {
    margin-bottom: rem(25);
    padding-bottom: 0;
    display: none;
  }
  .pc-stat-container {
    .pc-stat-row {
      justify-content: space-between;
      .pc-stat-col {
        .pc-stat-wrap {
          text-align: left;
          .count-num {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: rem(5);
            .stats-img {
              height: rem(40);
            }
            .stats-value {
              font-size: rem(42);
              line-height: rem(50);
              font-weight: bold;
              color: color-get(secondary);
              margin-left: rem(15);
              position: relative;
              &::after {
                background: color-get(secondary);
                border-radius: 50%;
                position: absolute;
                content: "";
                top: 0;
                width: rem(10);
                height: rem(10);
              }
            }
          }
          .stats-subtitle {
            font-size: rem(22);
            font-weight: 700;
            line-height: rem(25);
            text-transform: uppercase;
            color:color-get(secondary);
          }
        }
      }
    }
  }
  @media screen and (max-width: rem(991)) {
    .pc-stat-container {
      .pc-stat-row {
        .pc-stat-col {
          margin-bottom: rem(20);
        }
      }
    }
  }
  @media screen and (max-width: rem(767)) {
    .pc-stat-container {
      .pc-stat-row {
        justify-content: center;
        text-align: center;
        .pc-stat-col {
          width: 100%;
        }
      }
    }
  }
}
