.pc-stat-wrapper {
  background-color: #f7f7f8;
  padding: pixel-to-rem(30) 0;
  margin-top: 10px;
  margin-bottom: pixel-to-rem(30);
  @media screen and (max-width: pixel-to-rem(767)) {
    display: none;
  }
  .pc-stat-container {
    .pc-stat-row {
      justify-content: space-between;
      .pc-stat-col {
        .pc-stat-wrap {
          h3 {
            font-size: pixel-to-rem(24);
            font-weight: bold;
            color: $headingColor;
          }
        }
      }
    }
  }
  @media screen and (max-width: pixel-to-rem(991)) {
    .pc-stat-container {
      .pc-stat-row {
        .pc-stat-col {
          margin-bottom: pixel-to-rem(20);
        }
      }
    }
  }
  @media screen and (max-width: pixel-to-rem(767)) {
    .pc-stat-container {
      .pc-stat-row {
        justify-content: center;
        text-align: center;
        .pc-stat-col {
          width: 100%;
        }
      }
    }
  }
}
