.popularContainer {
  margin: pixel-to-rem(40) auto pixel-to-rem(40);
  @media screen and (max-width: pixel-to-rem(576)) {
    margin-bottom: pixel-to-rem(20);
    margin-top: pixel-to-rem(20);
  }
  padding: 0 pixel-to-rem(20);
  .popularHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
      text-align: center;
      color: $darkBlue;
      font-size: pixel-to-rem(40);
      font-weight: 600;
    }
    .page-sub-heading {
      color: $subHeadColor;
      font-size: pixel-to-rem(16);
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: pixel-to-rem(10);
    }
    .page-heading {
      color: $headingColor;
      font-size: pixel-to-rem(32);
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: pixel-to-rem(20);
      @media screen and (max-width: pixel-to-rem(767)) {
        font-size: pixel-to-rem(26);
      }
    }
  }

  .popularCover {
    position: relative;
    display: flex;
    margin-left: pixel-to-rem(-15);
    margin-right: pixel-to-rem(-15);
    flex-flow: row wrap;
    justify-content: center;
    @media screen and (max-width: pixel-to-rem(576)) {
      margin-right: 0;
      margin-left: 0;
    }
    .card-wrapper {
      padding-right: pixel-to-rem(15);
      padding-left: pixel-to-rem(15);
      max-width: 25%;
      flex: 0 0 25%;
      overflow: hidden;
      margin-bottom: pixel-to-rem(30);
      @media screen and (max-width: pixel-to-rem(767)) {
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: pixel-to-rem(20);
      }
      @media screen and (max-width: pixel-to-rem(576)) {
        max-width: 100%;
        flex: 0 0 100%;
      }

      .card {
        .card-image {
          width: 100%;
          position: relative;
          margin: 0 auto;
          z-index: 1;
          max-width: pixel-to-rem(130);

          img {
            width: pixel-to-rem(130);
            height: pixel-to-rem(130);
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .card-desc {
          padding: pixel-to-rem(10);
          text-align: center;
          width: 100%;
          .title {
            font-size: pixel-to-rem(18);
            display: flex;
            justify-content: center;
            a {
              color: $headingColor;
              font-weight: 600;
            }
            .pc-verified-badge {
              margin-left: pixel-to-rem(5);
            }
          }
          .sub-title {
            font-size: pixel-to-rem(14);
            color: #4e4e4e;
          }
          .courses {
            margin-top: pixel-to-rem(10);
            color: #707070;
            cursor: pointer;
            margin-bottom: pixel-to-rem(5);
          }
          .ratings {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: pixel-to-rem(10);
            svg {
              fill: $star-color;
            }
          }
        }
      }
    }
  }
}
