@import '../config.scss';
.popularContainer {
  .popularHeader {
    display: flex;
    justify-content: space-around;
    padding: 3%;
    p {
      text-align: center;
      color: $darkBlue;
      font-size: 40px;
      font-weight: 600;
    }
  }
  .popularCover {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    .popular {
      display: flex;
      padding: 10px;
      .popularImage {
        height: 150px;
        width: 150px;
        overflow: hidden;
        border: 1px solid $normalBorder;
        border-radius: 50%;
        flex-shrink: 0; // prevents from shrinking the width
      }
      .popularDesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        .popularName {
          font-size: 20px;
          color: $darkBlue;
          &:hover {
            text-decoration: none;
          }
        }
        .popularExpertize {
          color: $lightTextColor;
          font-weight: 550;
        }
      }
    }
  }
}