.popularContainer {
  margin: rem(40) auto rem(40);
  @media screen and (max-width: rem(576)) {
    margin-bottom: rem(20);
    margin-top: rem(20);
  }
  .popularHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: rem(20);
    p {
      text-align: center;
      color: $darkBlue;
      font-size: rem(40);
      font-weight: 600;
    }
    .page-sub-heading {
      color: color-get(text-light);
      font-size: rem(16);
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: rem(10);
    }
  }

  .popularCover {
    position: relative;
    display: flex;
    margin-left: rem(-15);
    margin-right: rem(-15);
    flex-flow: row wrap;
    .card-wrapper {
      width: 100%;
    }
    @media screen and (max-width: rem(576)) {
      margin-right: 0;
      margin-left: 0;
    }
    .card-wrapper {
      @media screen and (min-width: rem(992)) {
        max-width: 50%;
        flex: 0 0 50%;
        padding-right: rem(15);
        padding-left: rem(15);
      }
      .pc-card {
        padding: rem(10) rem(15);
      }

      .mentor-card {
        @include genericBoxPattern;
        margin-bottom: 50px;
        @media screen and (max-width: rem(767)) {
          margin-bottom: rem(20);
        }
        .mentor-profile {
          @media screen and (min-width: rem(992)) {
            display: flex;
            padding: rem(33) rem(21);
            align-items: center;
          }
          @media screen and (max-width: rem(991)) {
            text-align: center;
            padding: rem(33) rem(21);
          }
        }
        .mentor-image {
          img {
            height: 160px;
            width: 160px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        @media screen and (min-width: rem(992)) {
          .mentor-desc {
            padding-left: rem(24);
          }
        }
        .title {
          font-size: rem(22);
          color: color-get(primary);
          font-weight: 600;
          .tooltip {
            margin-left: rem(5);
          }
        }
        .headline {
          margin-bottom: rem(3);
        }
        .headline,
        .address {
          color: color-get(text-light);
          font-size: rem(14);
        }
        .details {
          line-height: 24px;
          margin-top: 12px;
        }
      }
      .mentor-content {
        padding: 0 rem(40) rem(30);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-content {
          ul {
            li {
              display: inline-block;
              color: color-get(text-light);
              margin-right: rem(8);
              font-size: rem(15);
              svg {
                fill: color-get(primary);
              }
            }
          }
        }
        .right-content {
          a {
            color: color-get(primary);
          }
        }
      }
    }
  }
}
