
.post-container {
  width: 100%;
  .posts {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    .post-box {
      .post-header {
        width: 100%;
        p {
          font-size: 25px;
          text-decoration: underline;
          color: $dropPrimary;
        }
      }
      .desc-image {
        display: flex;
        justify-content: space-between;
        .post-desc {
          padding: 5px;
          p {
            font-size: 18px;
          }
        }
        .post-image {
          display: flex;
          padding: 5px;
          border: 1px solid rgba(16, 22, 26, 0.15);
        }
      }
    }
  }
}