@import './config.scss';
.archive {
  margin-top: $navbarHeight;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  padding: 5px;
  .ar-top {
    padding: 5px;
    span {
      color: $lightTextColor;
    }
  }
  .ar-content {
    display: flex;
    .ar-left {
      flex: 0.7;
      .ar-left-i {
        margin-top: 15px;
        padding: 5px;
        display: flex;
        border-bottom: 1px solid $normalBorder;
        .ar-i-img {

        }
        .ar-i-detail {
          flex-direction: column;
          margin-left: 10px;
          .pc-date {
            font-size: 12px;
            color: $lightTextColor;
          }
          .ar-i-title {
            color: $textColor;
            font-size: 22px;
          }
          .pc-blog-desc {
            padding: 5px 0px;
          }
          .ar-i-counts {
            display: flex;
            .label {
              color: $lightTextColor;
              margin: 0px 3px 0px 0px;
              .count {
                margin: 0px 2px;
                // color: $textColor;
                font-weight: bolder;
              }
            }
          }
        }
      }
    }
    .ar-right {
      flex: 0.3;
      p.ar-right-top {
        font-size: 20px;
        font-weight: bold;
      }
      hr {
        border: 0.5px solid $normalBorder;
      }
    }
  }
}

.public-blog {
  margin-top: $navbarHeight;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  .public-blog-title {
    padding-top: 10px;
    p {
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
    .author-user {
      display: flex;
      justify-content: center;
      .auth-con {
        display: flex;
        .author-detail {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
        }
      }
      img {
        margin: 5px;
      }
    }
  }
  .public-blog-content {
    width: 100%;
    font-size: 21px;
    display: flex;
    .left {
      flex: 0.1;
    }
    #blogContent {
      flex: 0.8;
      img {
        max-width: 100%;
        // object-fit: contain;
      }
    }
    .right {
      flex: 0.1;
    }
  }
  .response {
    display: flex;
    .left {
      flex: 0.1;
    }
    .comment-section {
      flex: 0.8;
      display: flex;
      flex-direction: column;
      .top-label{
        // text-align: center;
      }
      .comment-area {
        display: flex;
        textarea {
          font-size: 21px;
          flex: 0.8;
          height: 80px;
          resize: none;
        }
        button {
          font-size: 21px;
          flex: 0.2;
        }
      }
      .responses {
        .i-response {
          display: flex;
          .comment-content {
            padding: 5px;
          }
        }
      }
    }
    .right {
      flex: 0.1;
    }
  }
}