@import './config.scss';

// styling the communication window here
.communicate {
  position: fixed;
  width: 35%;
  bottom: 0;
  right: 2px;
  background: $backgroundColor;
  z-index: 3;
  border: 1px solid $normalBorder;
  .header {
    height: 30px;
    font-size: 16px;
    display: flex;
    color: $backgroundColor;
    justify-content: space-between;
    .win-title {
      margin-left: 5px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    .control-icons {
      display: flex;
      align-items: center;
    }
  }
  .content {
    height: -webkit-calc(100% - 30px);
    height:    -moz-calc(100% - 30px);
    height:         calc(100% - 30px);
    // design chat list from here
    .chat-list {
      padding-bottom: 5px;
      overflow-y: scroll;
      .i-chat {
        border-bottom: 1px solid $normalBorder;
        margin: 3px 0px;
        padding: 5px;
        &.unseen {
          background: $fadedBackground;
        }
        &:hover {
          box-shadow: 1px 1px 10px 0px $normalShadowColor;
        }
        .name {
          color: $darkBlue;
          font-weight: bold;
          font-size: 16px;
        }
        .short-msg {
          opacity: 0.8;
        }
      }
    }
    // design individual chat history from here
    .chat-history {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .top {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        border-bottom: 1px solid $normalBorder;
        .op-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $darkBlue;
          font-weight: bold;
          font-size: 16px
        }
        .call-control {
          button {
            margin: 0px 1px;
          }
        }
      }
      .chats {
        padding: 5px 5px 0px 5px;
        overflow-y: scroll;
        height: 100%;
        .i-chat {
          margin: 0;
          display: flex;
          time {
            margin: 0px 10px;
            font-size: 9px;
            color: $lightTextColor;
            font-weight: bold;
          }
          .img-wrap {
            img {
              border-radius: 50%;
              border: 1px solid $normalBorder;
            }
          }
          &.left {
            margin-right: 12%;
            flex-direction: row;
            .text {
              margin: 0px 10px;
              border: 1px solid $darkBlue;
              padding: 2px;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }
          &.right {
            margin-left: 12%;
            flex-direction: row-reverse;
            .text-contain {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
            }
            .text {
              margin: 0px 10px;
              padding: 2px;
              border: 1px solid $darkBlue;
              border-top-left-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }
        }
      }
      .chat-box {
        display: flex;
        textarea {
          flex: 0.8;
          resize: none;
        }
        button {
          flex: 0.2;
        }
      }
    }
    // design the
    .call-screen {
      display: flex;
      flex-direction: column;
      height: 100%;
      // chat-screen inside call screen
      .sc-chat-list {
        height: 95%;
        position: absolute;
        background-color: $backgroundColor;
        z-index: 3;
        box-shadow: 0px 0px 3px 0px $normalShadowColor;
        width: 80%;
        .sc-cl-header {
          display: flex;
          justify-content: space-between;
          padding: 5px;
          height: 30px;
          border-bottom: 1px solid $normalBorder;
          .sc-cl-title {
            color: $darkBlue;
            font-size: 16;
            font-weight: bold;
          }
        }
        .sc-cl-content {
          overflow-x: hidden;
          height: calc(100% - 40px);
          .sc-cl-i-chat {
            padding: 20px 0px;
            border-bottom: 1px solid $normalBorder;
            background-color: $fadedBackground;
            cursor: pointer;
            &:hover {
              background-color: $boardColor;
            }
          }
        }
        .sc-cl-footer {
          height: 10px;
        }
      }
      .sc-chat-history {
        height: 95%;
        position: absolute;
        align-self: flex-end;
        background-color: $backgroundColor;
        z-index: 4;
        box-shadow: 0px 0px 3px 0px $normalShadowColor;
        width: 80%;
        .sc-ch-header {
          display: flex;
          justify-content: space-between;
          padding: 5px;
          height: 30px;
          border-bottom: 1px solid $normalBorder;
          .sc-ch-title {
            color: $darkBlue;
            font-size: 16;
            font-weight: bold;
          }
        }
        .sc-ch-content {
          overflow-x: hidden;
          height: calc(100% - 33px);
        }
        .sc-ch-footer {
          height: 10px;
        }
      }
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        border-bottom: 1px solid $normalBorder;
        height: 35px;
        .op-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $darkBlue;
          font-weight: bold;
          font-size: 16px
        }
      }
      .video-container {
        height: calc(100% - 35px);
        .pc-main-screen {
          width: 100%;
          height: 100%;
          .pc-main-video {
            background-color: black;
            object-fit: contain;
            height: 100%;
            width: 100%;
          }
        }
        .pc-user-screens {
          display: flex;
          position: absolute;
          z-index: 2;
          width: 100%;
          overflow-x: auto;
          overflow-y: hidden;
          .pc-each-screen {
            display: flex;
            flex-shrink: 0;
            width: 100px;
            height: 100px;
            background-color: $backgroundColor;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 50%;
            margin: 10px;
            overflow: hidden;
            video {
              height: 100px;
              width: 100px;
            }
            .pc-info {
              position: absolute;
              .pc-short-name {
                color: $skyBlueMain;
                font-size: 25px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                text-transform: uppercase;
              }
              .pc-ice {
                display: flex;
                justify-content: center;
                color: $skyBlueMain;
                font-size: 8px;
                text-transform: capitalize;
              }
            }
          }
        }
        .pc-maxmin-btn {
          position: absolute;
          right: 0;
          display: none;
          padding: 5px;
          z-index: 3;
          .pc-control-btn {
            background: $darkBlue;
            color: $backgroundColor;
            height: 40px;
            width: 40px;
            font-size: 30px;
            border-radius: 40px;
          }
        }
        &:hover {
          .pc-maxmin-btn {
            display: block;
          }
        }
      }
      .controllers {
        padding: 5px;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 25px;
        .pc-control-btn {
          height: 40px;
          width: 40px;
          font-size: 27px;
          border-radius: 40px;
          color: $backgroundColor;
          background: $darkBlue;
          display: flex;
          &.bg-red {
            background: red;
          }
          &.active {
            background: $backgroundColor;
            color: $darkBlue;
          }
          &.record {
            border-width: 2px;
            border-style: solid;
            animation: rotate 2s ease infinite;
          }
        }
        button {
          margin-left: 5px;
        }
      }
      .pc-record-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 105px;
        right: 0;
        z-index: 5;
        padding: 10px 5px;
        .recorded-item {
          color: $backgroundColor;
          padding: 5px;
          background: $skyBlueMain;
          border-radius: 15px;
          margin: 5px 0px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    .incoming-call-screen {
      margin: 1px;
      height: 100%;
      flex-direction: column;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      background: #574e54;
      .person-icon-container {
        flex-direction: column;
        .img-container {
          height: 140px;
          width: 140px;
          border-radius: 50%;
          overflow: hidden;
          align-self: center;
          border-width: 3px;
          border-style: solid;
          border-color: $backgroundColor;
          animation: rotate 2s ease infinite;
          img.portrait {
            width: 100%;
            height: auto;
          }
          img.landscape {
            height: 100%;
            width: auto;
          }
        }
        .controllers {
          padding: 10px 0px;
          display: flex;
          justify-content: space-around;
        }
      }
    }
    .outgoing-call-screen {
      margin: 1px;
      height: 100%;
      flex-direction: column;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      background: #574e54;
      .person-icon-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .person-name-status {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin: 5px;
          .name {
            color: $backgroundColor;
            font-size: 22px;
            font-weight: bold;
          }
          .status {
            font-size: 12px;
            color: $fadedBackground;
          }
        }
        .icon-container {
          margin-top: 5%;
          border-color: $backgroundColor;
          border-width: 3px;
          border-style: solid;
          padding: 0px 6px;
          border-radius: 10px;
          animation: rotate 2s ease infinite;
        }
        .img-container {
          margin-top: 5%;
          height: 140px;
          width: 140px;
          border-radius: 50%;
          overflow: hidden;
          align-self: center;
          border-width: 3px;
          border-style: solid;
          border-color: $backgroundColor;
          animation: rotate 2s ease infinite;
          img.portrait {
            width: 100%;
            height: auto;
          }
          img.landscape {
            height: 100%;
            width: auto;
          }
        }
        .controllers {
          margin-top: 5%;
          padding: 10px 0px;
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
  @media screen and (min-width: 500px) and (max-width: 800px){
    width: 60%;
  }
  @media screen and (min-width: 800px) and (max-width: 1000px){
    width: 50%;
  }
  @media screen and (max-width: 500px){
    width: 90%;
    .content {
      .call-screen {
        .video-container {
          .pc-maxmin-btn {
            display: block;
          }
        }
      }
    }
  }

  &.pc-com-maximum {
    width: 100%;
    .content {
      .call-screen {
        .sc-chat-list {
          width: 50%;
        }
        .sc-chat-history {
          width: 50%;
        }
      }
    }
    @media screen and (max-width: 500px){
      .content {
        .call-screen {
          .sc-chat-list {
            width: 80%;
          }
          .sc-chat-history {
            width: 80%;
          }
        }
      }
    }
  }
  @keyframes rotate {
    0%   {border-color: #ff0000;}
    10%  {border-color: #ff0080;}
    20%  {border-color: #ff00ff;}
    30% {border-color: #8000ff;}
    40% {border-color: #0080ff;}
    50% {border-color: #0000ff;}
    60% {border-color: #00ffbf;}
    70% {border-color: #00ff00;}
    80% {border-color: #bfff00;}
    90% {border-color: #ffff00;}
    100% {border-color: #ff8000;}
  }

  @keyframes slideDown {
    from { height: 75%; }
    to { height: 31px; }
  }

  @keyframes slideUp {
    from { height: 31px; }
    to { height: 75%; }
  }
}