@import './config.scss';

// styling the communication window here
.communicate {
  position: fixed;
  width: 35%;
  bottom: 0;
  right: 2px;
  background: $backgroundColor;
  z-index: 2;
  border: 1px solid $normalBorder;
  @media screen and (min-width: 500px) and (max-width: 800px){
    width: 60%;
  }
  @media screen and (min-width: 800px) and (max-width: 1000px){
    width: 50%;
  }
  @media screen and (max-width: 500px){
    width: 90%;
  }
  .header {
    height: 30px;
    font-size: 16px;
    background: black;
    display: flex;
    color: $backgroundColor;
    justify-content: space-between;
    .win-title {
      margin-left: 5px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }
  .content {
    height: -webkit-calc(100% - 30px);
    height:    -moz-calc(100% - 30px);
    height:         calc(100% - 30px);
    // design chat list from here
    .chat-list {
      padding-bottom: 5px;
      overflow-y: scroll;
      .i-chat {
        border-bottom: 1px solid $normalBorder;
        margin: 3px 0px;
        padding: 5px;
        &.unseen {
          background: $fadedBackground;
        }
        &:hover {
          box-shadow: 1px 1px 10px 0px rgba(155,159,163,1);
        }
        .name {
          color: $darkBlue;
          font-weight: bold;
          font-size: 16px;
        }
        .short-msg {
          opacity: 0.8;
        }
      }
    }
    // design individual chat history from here
    .chat-history {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .top {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        border-bottom: 1px solid $normalBorder;
        .op-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $darkBlue;
          font-weight: bold;
          font-size: 16px
        }
        .call-control {
          button {
            margin: 0px 1px;
          }
        }
      }
      .chats {
        padding: 5px 5px 0px 5px;
        overflow-y: scroll;
        height: 100%;
        .i-chat {
          margin: 5px 5px 20px 5px;
          display: flex;
          time {
            margin: 0px 10px;
            font-size: 9px;
            color: $lightTextColor;
            font-weight: bold;
          }
          .img-wrap {
            img {
              border-radius: 50%;
              border: 1px solid $normalBorder;
            }
          }
          &.left {
            margin-right: 12%;
            flex-direction: row;
            .text {
              margin: 0px 10px;
              border: 1px solid $darkBlue;
              padding: 2px;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }
          &.right {
            margin-left: 12%;
            flex-direction: row-reverse;
            .text-contain {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
            }
            .text {
              margin: 0px 10px;
              padding: 2px;
              border: 1px solid $darkBlue;
              border-top-left-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }
        }
      }
      .chat-box {
        display: flex;
        textarea {
          flex: 0.8;
          resize: none;
        }
        button {
          flex: 0.2;
        }
      }
    }
    // design the 
    .call-screen {
      display: flex;
      flex-direction: column;
      .top {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        border-bottom: 1px solid $normalBorder;
        .op-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $darkBlue;
          font-weight: bold;
          font-size: 16px
        }
      }
      .video-container {
        display: flex;
        justify-content: center;
        padding: 5px;
        .peer-video {
          object-fit: contain;
          width: 100%;
        }
        .own-video {
          position: absolute;
          height: 20%;
          width: 30%;
        }
      }
      .controllers {
        padding: 5px;
        display: flex;
        justify-content: center;
        button {
          margin-left: 5px;
        }
      }
    }
    .incoming-call-screen {
      margin: 1px;
      height: 100%;
      flex-direction: column;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      background: rgba(17, 4, 12, 0.7);
      .person-icon-container {
        flex-direction: column;
        img {
          border-radius: 50%;
          border-width: 2px;
          border-style: solid;
          border-color: $backgroundColor;
		      animation: rotate 2s ease infinite;
        }
        .controllers {
          padding: 10px 0px;
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }

  @keyframes rotate {
    0%   {border-color: #ff0000;}
    10%  {border-color: #ff0080;}
    20%  {border-color: #ff00ff;}
    30% {border-color: #8000ff;}
    40% {border-color: #0080ff;}
    50% {border-color: #0000ff;}
    60% {border-color: #00ffbf;}
    70% {border-color: #00ff00;}
    80% {border-color: #bfff00;}
    90% {border-color: #ffff00;}
    100% {border-color: #ff8000;}
  }

  @keyframes slideDown {
    from { height: 75%; }
    to { height: 31px; }
  }

  @keyframes slideUp {
    from { height: 31px; }
    to { height: 075%; }
  }
}