@import './config.scss';

// styling the popover form in here
.popover-form {
  padding: 5px 5px 0px 5px;
  &.bio {
    .bp3-form-group {
      margin-bottom: 2px;
    }
  }
  div.top {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
  }
}

// styling the delete popover container
.delete-popover {
  padding: 5px 0px;
  .top {
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
  }
  .popover-button {
    text-align: center;
    button {
      margin-right: 10px;
    }
  }
}

// styling the bp3 popover 
.bp3-menu {
  background: $backgroundColor;
}
.bp3-popover-content {
  background: $backgroundColor !important;
}
.bp3-popover-arrow-fill {
  fill: $backgroundColor !important;
}

.tag-input {
  display: flex !important;
  div {
    margin-top: 0px;
  }
}