$primary: rgba(78, 185, 255, 1);
$dropPrimary: rgba(30, 110, 255, 1);
$primaryHover: rgba(78, 185, 240, 1);
$dropPrimaryHover: rgba(30, 110, 220, 1);
$shadowColor: #383535;
$backgroundColor: #f6f6f6;
// navbar height 
$navbarHeight: 60px;
$navbarHeightSmall: 40px;
$boardColor: #88e0e9;
$toolbarHeight: 40px;
$blue: rgba(19, 124, 189, 1);
$silver: #bbbcbd;
$albaster: #f8f8f8;
