@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Oxygen|Roboto:100,300,400,500,900&display=swap");
.slider-container { position: relative; margin-top: 60px; height: 600px; margin-left: 1px; margin-right: 1px; overflow: hidden; }
@media screen and (min-width: 100px) and (max-width: 810px) { .slider-container { height: 50%; } }
.slider-container .search-box-container { position: absolute; top: 50%; /* this to center the box w.r.t to parent */ left: 50%; /* this to center the box w.r.t to parent */ /* Above 2 lines wont fully center it, the next line internally
centers it, buy moving itself 50% left and top */ transform: translate(-50%, -50%); z-index: 2; display: flex; flex-direction: column; align-items: center; }
.slider-container .search-box-container .search-form { box-shadow: 1px 1px 3px 0px #1d4354; }
.slider-container .search-box-container .search-form input { background-color: #fff; text-align: center; height: 55px; width: 230px; line-height: 40px; font-size: 20px; border-width: 0.5px; vertical-align: middle; border-color: #e0e0e0; }
.slider-container .search-box-container .search-form button { background: #1d4354; border-color: #1d4354; color: #fff; vertical-align: middle; height: 55px; width: 120px; padding: 3px; font-size: 20px; }
.slider-container .search-box-container .search-form button:hover { box-shadow: 1px 1px 3px 0px #1d4354; }
.slider-container .search-box-container .pc-jumbo { display: flex; align-items: center; flex-direction: column; }
.slider-container .search-box-container .pc-jumbo .pc-jumbo-text { color: #fff; font-size: 50px; font-weight: bolder; text-transform: uppercase; }
.slider-container .search-box-container .pc-jumbo button { background: red; border-color: red; color: #fff; vertical-align: middle; height: 45px; width: 120px; padding: 3px; font-size: 18px; }
.slider-container .search-box-container .pc-jumbo button:hover { box-shadow: 1px 1px 3px 0px red; }
@media screen and (min-width: 810px) and (max-width: 990px) { .slider-container .search-box-container .search-form input { height: 35px; width: 180px; line-height: 30px; font-size: 18px; }
  .slider-container .search-box-container .search-form button { height: 35px; width: 100px; font-size: 18px; }
  .slider-container .search-box-container .pc-jumbo .pc-jumbo-text { font-size: 40px; }
  .slider-container .search-box-container .pc-jumbo button { height: 35px; width: 120px; } }
@media screen and (min-width: 605px) and (max-width: 810px) { .slider-container .search-box-container .search-form input { height: 35px; width: 120px; line-height: 30px; font-size: 18px; }
  .slider-container .search-box-container .search-form button { height: 35px; width: 60px; font-size: 16px; }
  .slider-container .search-box-container .pc-jumbo .pc-jumbo-text { font-size: 30px; }
  .slider-container .search-box-container .pc-jumbo button { height: 35px; width: 120px; } }
@media screen and (min-width: 200px) and (max-width: 605px) { .slider-container .search-box-container .search-form { display: flex; flex-wrap: nowrap; }
  .slider-container .search-box-container .search-form input { height: 30px; width: 120px; line-height: 30px; font-size: 18px; }
  .slider-container .search-box-container .search-form button { height: 30px; width: 60px; font-size: 16px; }
  .slider-container .search-box-container .pc-jumbo .pc-jumbo-text { font-size: 18px; }
  .slider-container .search-box-container .pc-jumbo button { height: 30px; width: 100px; font-size: 16px; } }

/* this is navbar
there is navigation fixing
top attachment etc.
*/
.navbar { top: 0; display: flex; position: fixed; margin: auto; width: 100%; height: 60px; justify-content: space-between; flex-wrap: nowrap; background-color: #fff; box-shadow: 0px 1px 2px rgba(57, 73, 76, 0.35); z-index: 3; }
.navbar.pcm-nav { box-shadow: none; border: 1px solid #e0e0e0; }
.navbar .navbar-left { display: flex; flex-direction: row; }
.navbar .navbar-more-container { padding: 0px 10px; display: flex; align-items: center; }
.navbar .navbar-more-container .more-icon { display: none; }
.navbar .navbar-right { display: flex; flex-direction: row; }
.navbar .navbar-item { font-size: 14px; font-weight: bold; padding: 10px; color: #666; position: relative; text-transform: uppercase; }
.navbar .navbar-item img.profile-icon { height: 50px; border-radius: 50%; padding: 1px; border: 1px solid #666; }
.navbar a:link { display: flex; flex-direction: column; justify-content: center; text-decoration: none; }
.navbar a:hover .navbar-item { color: #137cbd; }
.navbar a:hover .navbar-item img { border: 2px solid #137cbd; }
.navbar a.active .navbar-item { color: #137cbd; }
.navbar a.active .navbar-item img { border: 2px solid #137cbd; }
@media screen and (min-width: 575px) and (max-width: 700px) { .navbar .navbar-item { font-size: 13px; } }
@media screen and (min-width: 200px) and (max-width: 575px) { .navbar .navbar-left { display: none; }
  .navbar .navbar-more-container .more-icon { display: block; } }

.pc-drop-menu { display: flex; flex-direction: column; padding: 10px; }
.pc-drop-menu .pc-drop-menu-link { padding: 10px; text-transform: uppercase; color: #666; font-weight: bold; border-bottom: 1px solid #e0e0e0; }

.pc-dropdown-drawer .bp3-drawer-header h4 { text-align: center; color: #137cbd; }
.pc-dropdown-drawer .bp3-drawer-header svg { height: 25px; width: 25px; color: #666; }

.o-log-or-reg { display: flex; justify-content: space-around; }
.o-log-or-reg .log-or-reg { max-width: 40%; }
@media screen and (max-width: 800px) { .o-log-or-reg .log-or-reg { max-width: 90%; } }
.o-log-or-reg .log-or-reg .reg-box-header { padding: 40px 10px 20px 10px; }
.o-log-or-reg .log-or-reg .reg-box-header p { font-size: 34px; font-weight: 700; }
.o-log-or-reg .log-or-reg .auth-footer { padding: 0 0 0 10px; }
.o-log-or-reg .log-or-reg div div label { padding: 10px 10px 10px 10px; }
.o-log-or-reg .log-or-reg div div label .label-text { font-size: 18px; font-weight: 300; }
.o-log-or-reg .log-or-reg div div .btn-group { padding: 0 10px 0 10px; }
.o-log-or-reg .auth-with-others { padding: 0px 10px; }
.o-log-or-reg .auth-with-others .linkedin-default { background-repeat: no-repeat; background-size: contain; }
.o-log-or-reg .auth-with-others button.google-default { width: 100%; }

.post-container { width: 100%; }
.post-container .posts { width: 100%; display: flex; justify-content: center; padding: 10px; }
.post-container .posts .post-box .post-header { width: 100%; }
.post-container .posts .post-box .post-header p { font-size: 25px; text-decoration: underline; color: #58AFFC; }
.post-container .posts .post-box .desc-image { display: flex; justify-content: space-between; }
.post-container .posts .post-box .desc-image .post-desc { padding: 5px; }
.post-container .posts .post-box .desc-image .post-desc p { font-size: 18px; }
.post-container .posts .post-box .desc-image .post-image { display: flex; padding: 5px; border: 1px solid rgba(16, 22, 26, 0.15); }

.banner-container { padding: 5px; }
.banner-container .banner-head { display: flex; justify-content: space-around; padding: 3%; }
.banner-container .banner-head p { color: #1d4354; font-size: 40px; font-weight: 600; }
.banner-container .banners { display: flex; justify-content: space-around; flex-wrap: wrap; }
.banner-container .banners .banner { margin: 5px; border: 1px solid #e0e0e0; display: flex; flex-direction: column; align-items: center; }
.banner-container .banners .banner .banner-image img { height: 200px; }
.banner-container .banners .banner .banner-title { padding: 5px; display: flex; width: 100%; justify-content: center; font-size: 20px; font-weight: bolder; color: #58AFFC; }
.banner-container .banners .banner .banner-description { width: 100%; display: flex; flex-direction: column; }
.banner-container .banners .banner .banner-description ul { list-style-type: square; padding-inline-start: 25px; font-size: 18px; }
@media screen and (max-width: 390px) { .banner-container .banners .banner { margin: 10px 0px; }
  .banner-container .banners .banner .banner-image img { width: 300px; height: auto; } }

.popularContainer .popularHeader { display: flex; justify-content: space-around; padding: 3%; }
.popularContainer .popularHeader p { text-align: center; color: #1d4354; font-size: 40px; font-weight: 600; }
.popularContainer .popularCover { display: flex; justify-content: space-around; flex-wrap: wrap; padding: 10px; }
.popularContainer .popularCover .popular { display: flex; padding: 10px; }
.popularContainer .popularCover .popular .popularImage { height: 150px; width: 150px; overflow: hidden; border: 1px solid #e0e0e0; border-radius: 50%; }
.popularContainer .popularCover .popular .popularImage img.landscape { height: 100%; width: auto; }
.popularContainer .popularCover .popular .popularImage img.portrait { width: 100%; height: auto; }
.popularContainer .popularCover .popular .popularDesc { display: flex; flex-direction: column; justify-content: center; padding: 10px; }
.popularContainer .popularCover .popular .popularDesc .popularName { font-size: 20px; }
.popularContainer .popularCover .popular .popularDesc .popularExpertize { color: #696969; font-weight: 550; }

.broWrapper { display: flex; margin-top: 60px; }
.broWrapper .fake-side-nav { flex: 0.19; margin-top: 4px; margin-left: 4px; padding: 50px 10px; }
.broWrapper .bro-right { flex: 0.81; }
@media screen and (max-width: 855px) { .broWrapper { display: block; }
  .broWrapper .fake-side-nav { display: none; } }

.sideNav { display: flex; margin-top: 4px; margin-left: 4px; padding: 50px 5px; width: 20%; height: calc(100% - 70px); z-index: 3; align-items: center; flex-direction: column; position: fixed; border: 1px solid #e0e0e0; background-color: #f9f9f9; }
.sideNav .sideNavElement { margin-bottom: 5px; padding: 10px 10px 10px 10px; align-self: stretch; border: 1px solid #e0e0e0; background-color: #f9f9f9; }
.sideNav .sideNavElement span { font-size: 16px; font-weight: bold; color: #666; }
.sideNav .sideNavElement span svg { fill: #666; }
.sideNav .sideNavElement:hover { background-color: #fff; border-left: 3px solid #137cbd; text-decoration: none; }
.sideNav .active span { color: #137cbd; }
.sideNav .active span svg { fill: #137cbd; }
@media screen and (max-width: 855px) { .sideNav { display: none; } }

.pc-small-screen-sidenav { flex: 1; display: none; }
.pc-small-screen-sidenav .nav-button { background-color: #fff; color: #666; }
.pc-small-screen-sidenav .pc-collapse-menu { padding: 10px 0px; display: flex; flex-direction: column; }
.pc-small-screen-sidenav .pc-collapse-menu .sideNavElement { margin-bottom: 5px; padding: 10px 10px 10px 10px; align-self: stretch; border: 1px solid #e0e0e0; background-color: #f9f9f9; }
.pc-small-screen-sidenav .pc-collapse-menu .sideNavElement span { font-size: 16px; color: #666; }
.pc-small-screen-sidenav .pc-collapse-menu .sideNavElement:hover { background-color: #fff; border-left: 3px solid #137cbd; text-decoration: none; }
.pc-small-screen-sidenav .pc-collapse-menu .active span { color: #137cbd; }
.pc-small-screen-sidenav .pc-collapse-menu .active span svg { fill: #137cbd; }
@media screen and (max-width: 855px) { .pc-small-screen-sidenav { display: block; margin: 70px 20px 0px 15px; } }

.profile { display: flex; align-items: center; flex-direction: column; padding: 4px; position: relative; }
.profile .cover-pic { height: 250px; position: relative; overflow: hidden; width: 100%; background: linear-gradient(to right, #2b5468, 0%, #137cbd, 100%); }
.profile .cover-pic img { width: 110%; }
.profile .cover-pic .edit-cover { padding: 5px; position: absolute; bottom: 0; right: 0; color: white; }
.profile .cover-pic .edit-cover .edit-icon { vertical-align: text-top; }
.profile .cover-pic .edit-cover:hover { text-decoration: underline; cursor: pointer; color: #137cbd; }
.profile .cover-pic .edit-cover:hover svg { fill: #137cbd; }
.profile .profilePic { position: absolute; top: 100px; left: 10px; border: 1px solid #e0e0e0; box-shadow: 0px 0px 5px 1px rgba(57, 73, 76, 0.35); border-radius: 50%; width: 150px; height: 150px; overflow: hidden; }
.profile .profilePic img.portrait { width: 100%; height: auto; }
.profile .profilePic img.landscape { height: 100%; width: auto; }
.profile .profilePic span { position: absolute; top: 70px; left: 110px; }
.profile .profilePic svg { border-radius: 100px; background-color: #2572D1; }
.profile .top-details { width: 100%; background: white; padding: 5px; }
.profile .top-details .name { font-size: 20px; font-weight: bold; }
.profile .top-details .designation { font-size: 16px; font-weight: bold; color: #696969; }
.profile .bio { width: 100%; padding: 20px 5px; }
.profile .bio .bio-content { font-size: 20px; }
.profile .bio .bio-info { margin-left: 2px; display: flex; justify-content: space-between; }
.profile .bio .bio-info p.edit { padding-right: 5px; }
.profile .bio .bio-info p.edit svg { fill: #137cbd; }
.profile .education { padding: 20px 5px; width: 100%; }
.profile .education p.p-top { font-size: 20px; display: flex; justify-content: space-between; padding-right: 5px; }
.profile .education p.p-top svg { fill: #137cbd; }
.profile .education .p-edu-list .p-edu-list-i { display: flex; padding: 2px; }
.profile .education .p-edu-list .p-edu-list-i img { height: 45px; padding: 2px; }
.profile .education .p-edu-list .p-edu-list-i p { padding: 0px 0px 0px 10px; }
.profile .education .p-edu-list .p-edu-list-i p span.p-name-i { font-size: 18px; font-weight: bold; }
.profile .education .p-edu-list .p-edu-list-i p span.p-timeline { font-weight: bold; color: #696969; }
.profile .education .p-edu-list .p-edu-list-i p svg { fill: #137cbd; }
.profile .experience { padding: 20px 5px; width: 100%; }
.profile .experience p.p-top { font-size: 20px; display: flex; justify-content: space-between; padding-right: 5px; }
.profile .experience p.p-top svg { fill: #137cbd; }
.profile .experience .p-exp-list .p-exp-list-i { display: flex; padding: 2px; }
.profile .experience .p-exp-list .p-exp-list-i img { height: 45px; padding: 2px; }
.profile .experience .p-exp-list .p-exp-list-i p { padding: 0px 0px 0px 10px; }
.profile .experience .p-exp-list .p-exp-list-i p span.p-title-i { font-size: 18px; font-weight: bold; }
.profile .experience .p-exp-list .p-exp-list-i p span.p-company-i { font-size: 16px; font-weight: bold; color: #696969; }
.profile .experience .p-exp-list .p-exp-list-i p span.p-timeline { font-weight: bold; color: #696969; }
.profile .experience .p-exp-list .p-exp-list-i p svg { fill: #137cbd; }
.profile .skills { padding: 20px 5px; width: 100%; }
.profile .skills p.p-top { font-size: 20px; display: flex; justify-content: space-between; padding-right: 5px; }
.profile .skills p.p-top svg { fill: #137cbd; }
.profile .skills .skills-container { padding: 5px 5px 5px 0px; }
.profile .skills .skills-container span { margin: 5px; padding: 5px; color: #fff; background: #137cbd; }
@media screen and (max-width: 855px) { .profile { padding: 5px 15px; } }

.classes { display: flex; flex-direction: column; padding: 5px; }
.classes .header { margin-bottom: 10px; padding: 10px; }
.classes .header .title { font-size: 18px; color: #222; }
.classes .header small { color: #696969; }
.classes .content-list { display: flex; flex-wrap: wrap; }
.classes .content-list .more-button { top: 10px; right: 10px; position: absolute; }
.classes .content-list .content-link { margin: 10px; height: 150px; width: 250px; display: flex; cursor: pointer; text-decoration: none; box-shadow: 0px 1px 2px 1px rgba(57, 73, 76, 0.35); }
.classes .content-list .content-link.add-new { display: flex; flex-direction: column; align-items: center; justify-content: center; box-shadow: 0px 1px 2px 1px rgba(57, 73, 76, 0.35); }
.classes .content-list .content-link.add-new button { box-shadow: 0px 1px 2px 1px rgba(57, 73, 76, 0.35); }
.classes .content-list .content-link.add-new button:hover { box-shadow: 0px 1px 2px 1.5px rgba(57, 73, 76, 0.35); }
.classes .content-list .content-link .class-repr { padding: 5px; display: flex; background: #1d4354; align-items: center; width: 50%; }
.classes .content-list .content-link .class-repr span { word-break: break-all; text-align: center; color: white; font-size: 20px; }
.classes .content-list .content-link .class-detail { padding: 5px; width: 50%; display: flex; flex-direction: column; align-items: center; justify-content: center; background: white; }
.classes .content-list .content-link .class-detail span { text-align: center; }
.classes .content-list .content-link .class-detail span.name { font-weight: bold; }
.classes .content-list .content-link .class-detail span.date { color: black; opacity: 0.7; }

.tool-bar { top: 60px; height: 40px; position: absolute; width: 100%; padding: 5px 0px; background: #f9f9f9; }
.tool-bar .toolbar-container { height: 100%; padding: 2px; display: flex; justify-content: space-between; }
.tool-bar .toolbar-container .left-tools { display: flex; flex-direction: row; }
.tool-bar .toolbar-container .left-tools .each-item { padding: 0px 5px 0px 5px; display: flex; align-items: center; }
.tool-bar .toolbar-container .left-tools .class-name { color: #222; font-weight: 600; font-size: 16px; }
.tool-bar .toolbar-container .left-tools .user-list .i-user { position: relative; padding: 4px; border-radius: 50%; font-weight: 500; cursor: pointer; background: #137cbd; color: #fff; }
.tool-bar .toolbar-container .left-tools .user-list .i-user:hover { background: #1d4354; }
.tool-bar .toolbar-container .left-tools .user-list .i-user .green-dot { position: absolute; height: 10px; width: 10px; background-color: #71f971; border-radius: 50%; top: 20px; left: 15px; }
.tool-bar .toolbar-container .right-tools { display: flex; }
.tool-bar .toolbar-container .right-tools button { margin: 0px 3px; padding: 1px; color: #222; border: 1px solid #222; }
.tool-bar .toolbar-container .right-tools button svg { fill: #222; }

.class-wrapper .columns { height: 100%; padding-top: 100px; display: flex; flex-direction: row; align-items: flex-start; overflow-y: scroll; }
.class-wrapper .columns .column-container { height: 100%; padding-bottom: 18px; }
.class-wrapper .columns .column-container .column-inner-container { display: flex; flex-direction: column; min-width: 300px; max-width: 300px; max-height: 100%; margin: 8px 8px 8px 8px; background-color: #1d4354; }
.class-wrapper .columns .column-container .column-inner-container .column-title { padding: 8px; position: relative; color: #fff; }
.class-wrapper .columns .column-container .column-inner-container .column-title span { font-size: 20px; font-weight: 600; }
.class-wrapper .columns .column-container .column-inner-container .column-title .more-button { top: 5px; right: 7px; position: absolute; }
.class-wrapper .columns .column-container .column-inner-container .column-title .more-button svg { fill: #fff; }
.class-wrapper .columns .column-container .column-inner-container .task-list { min-height: 200px; max-height: 100%; overflow-y: scroll; }
.class-wrapper .columns .column-container .column-inner-container .task-list .task-container { margin: 8px; padding: 5px; background-color: #fff; border: 1px solid #e0e0e0; flex-grow: 1; }
.class-wrapper .columns .column-container .column-inner-container .task-list .task-container .pc-task-flag { display: flex; justify-content: space-between; }
.class-wrapper .columns .column-container .column-inner-container .task-list .task-container .pc-task-flag .pc-deadline-view { color: #fff; }
.class-wrapper .columns .column-container .column-inner-container .task-list .task-container .pc-task-flag .pc-deadline-view p { padding: 5px; border-radius: 2.5px; background-color: green; color: #fff; }
.class-wrapper .columns .column-container .column-inner-container .task-list .task-container .pc-task-flag .pc-deadline-view p.expire { background-color: red; }
.class-wrapper .columns .column-container .column-inner-container .task-list .task-container .pc-task-name { margin: 0; font-weight: bold; }
.class-wrapper .columns .column-container .column-inner-container .column-footer { color: #fff; padding: 10px; cursor: pointer; }
.class-wrapper .columns .add-new-column .title { padding: 8px; margin: 8px; background-color: #f9f9f9; width: 200px; box-shadow: 0px 1px 2px 1px rgba(57, 73, 76, 0.35); cursor: pointer; }
.class-wrapper .columns .add-new-column .title span { font-size: 16px; font-weight: 500; }

.overlay-container { padding: 0; }
.overlay-container .task-detail-overlay .overlay-title { padding: 7px; display: flex; justify-content: space-between; background: #f9f9f9; color: #222; border: 1px solid #e0e0e0; }
.overlay-container .task-detail-overlay .overlay-title svg { fill: #222; }
.overlay-container .task-detail-overlay .overlay-title .head { display: flex; flex-direction: row; font-size: 20px; font-weight: bold; width: 100%; }
.overlay-container .task-detail-overlay .overlay-title .head textarea { width: 100%; resize: none; padding: 0px 3px; overflow-y: scroll; font-size: 18px; font-weight: bold; background: transparent; }
.overlay-container .task-detail-overlay .overlay-title .head .buttons-group { display: flex; justify-content: center; align-items: center; }
.overlay-container .task-detail-overlay .overlay-title .head .buttons-group button { margin-left: 5px; }
.overlay-container .task-detail-overlay .overlay-title .head .buttons-group .edit-title { margin-left: 5px; }
.overlay-container .task-detail-overlay .overlay-title .head .buttons-group .edit-title svg { fill: #137cbd; }
.overlay-container .task-detail-overlay .overlay-body { display: flex; background: #fff; }
.overlay-container .task-detail-overlay .overlay-body .left { flex: 0.7; }
.overlay-container .task-detail-overlay .overlay-body .left .pc-tags-and-deadline { display: flex; justify-content: space-between; }
.overlay-container .task-detail-overlay .overlay-body .left .pc-tags-and-deadline .pc-deadline-view { display: flex; padding: 5px; }
.overlay-container .task-detail-overlay .overlay-body .left .pc-tags-and-deadline .pc-deadline-view p { padding: 5px; border-radius: 3px; background-color: green; color: #fff; }
.overlay-container .task-detail-overlay .overlay-body .left .pc-tags-and-deadline .pc-deadline-view p.expire { background-color: red; }
.overlay-container .task-detail-overlay .overlay-body .left .overlay-description { padding: 5px; }
.overlay-container .task-detail-overlay .overlay-body .left .overlay-description .desc-head u { font-weight: bold; font-size: 17px; }
.overlay-container .task-detail-overlay .overlay-body .left .overlay-description .desc { padding: 5px; font-size: 15px; font-weight: 400; }
.overlay-container .task-detail-overlay .overlay-body .left .overlay-description .desc textarea { width: 100%; }
.overlay-container .task-detail-overlay .overlay-body .left .attach-container { padding: 5px; }
.overlay-container .task-detail-overlay .overlay-body .left .attach-container u { font-weight: bold; font-size: 17px; }
.overlay-container .task-detail-overlay .overlay-body .left .attach-container .attach-list ul li { margin-bottom: 3px; display: flex; list-style-type: none; }
.overlay-container .task-detail-overlay .overlay-body .left .attach-container .attach-list ul li .file-type { width: 60px; height: 60px; display: flex; flex-direction: column; justify-content: center; font-size: 18px; font-weight: bold; align-items: center; color: #222; background: #f9f9f9; text-transform: uppercase; box-shadow: 0px 1px 2px 0px #383535; }
.overlay-container .task-detail-overlay .overlay-body .left .attach-container .attach-list ul li .file-detail { padding-left: 10px; display: flex; flex-direction: column; justify-content: center; }
.overlay-container .task-detail-overlay .overlay-body .left .attach-container .attach-list ul li .file-detail .attach-title { font-weight: bold; font-size: 16px; }
.overlay-container .task-detail-overlay .overlay-body .left .edit-button { margin-left: 10px; vertical-align: inherit !important; }
.overlay-container .task-detail-overlay .overlay-body .left .edit-button svg { fill: #137cbd; }
.overlay-container .task-detail-overlay .overlay-body .left textarea { background: transparent; border: none; border-color: transparent; resize: none; }
.overlay-container .task-detail-overlay .overlay-body .left .comment-container { padding: 5px; display: flex; justify-content: stretch; }
.overlay-container .task-detail-overlay .overlay-body .left .comments { padding: 5px; }
.overlay-container .task-detail-overlay .overlay-body .left .comments .s-comment { display: flex; justify-content: stretch; padding-bottom: 10px; padding-top: 10px; }
.overlay-container .task-detail-overlay .overlay-body .left .comments .s-comment div img { border: 1px solid white; border-radius: 50%; padding: 1px; }
.overlay-container .task-detail-overlay .overlay-body .left .comments .s-comment .com-con { margin-left: 10px; display: flex; flex-direction: column; align-items: flex-start; }
.overlay-container .task-detail-overlay .overlay-body .left .comments .s-comment .com-con .com-config small { cursor: pointer; color: #666; margin-right: 5px; }
.overlay-container .task-detail-overlay .overlay-body .left .comments .s-comment .com-con .com-config small.danger u:hover { color: red; }
.overlay-container .task-detail-overlay .overlay-body .left .comments .s-comment .com-con .com-config small.primary u:hover { color: #137cbd; }
.overlay-container .task-detail-overlay .overlay-body .right { display: flex; flex: 0.3; justify-content: flex-end; }
.overlay-container .task-detail-overlay .overlay-body .right .rt-in { padding: 5px 5px 5px 5px; display: flex; flex-direction: column; }
.overlay-container .task-detail-overlay .overlay-body .right .rt-in .rt-tools { display: flex; flex-direction: column; }
.overlay-container .task-detail-overlay .overlay-body .right .rt-in .rt-tools .bp3-popover-target { width: 100%; }
.overlay-container .task-detail-overlay .overlay-body .right .rt-in .rt-tools .bp3-popover-target button { width: 100%; }
.overlay-container .task-detail-overlay .overlay-body .right .rt-in .rt-actions { display: flex; flex-direction: column; }
.overlay-container .task-detail-overlay .overlay-body .right .rt-in button { margin-bottom: 2px; }

.settings { display: flex; flex-direction: column; }
.settings .setting-types { display: flex; flex-direction: row; justify-content: space-around; font-size: 18px; font-weight: bold; border-bottom: 1px solid #a7b6c2; }
.settings .setting-types .i-setting { width: 100%; padding: 10px; text-align: center; }
.settings .setting-types .active { color: #137cbd; border-bottom: 5px solid #137cbd; text-align: center; width: 100%; padding: 10px; }
.settings .container-settings { padding-top: 5px; }
.settings .container-settings .basic .label { font-size: 16px; font-weight: bold; }
.settings .container-settings .basic .label:hover { text-decoration: underline; }
.settings .container-settings .basic .value { margin-left: 5px; padding: 2px; font-size: 15px; }
.settings .container-settings .basic .edit-icon { margin-left: 5px; vertical-align: text-top; }
.settings .container-settings .basic .edit-icon:hover svg { fill: #137cbd; }
.settings .container-settings .basic ul { display: flex; }
.settings .container-settings .basic ul li { color: white; padding: 5px; margin-left: 2px; background-color: #137cbd; list-style-type: none; }
.settings .container-settings .switch-adv-con { display: flex; flex-direction: column; align-items: center; }
.settings .container-settings .switch-adv-con p { text-align: center; color: #5c7080; line-height: 18px; }
.settings .container-settings .switch-adv-con button.switch-button { background: #0f9960; color: white; }
@media screen and (max-width: 855px) { .settings { padding: 5px 15px; } }

.create-blog { margin-top: 60px; }
.create-blog div[contenteditable]:focus { outline: 0px solid transparent; }
.create-blog [contenteditable]:empty::before { content: attr(datatext); color: grey; }
.create-blog .blog-top { padding: 10px; text-align: center; }
.create-blog .blog-top span { font-size: 25px; font-weight: 600; }
.create-blog .toolbar { display: flex; margin: 2px; padding: 10px; background-color: #DFDCDC; justify-content: space-between; }
.create-blog .toolbar .left .switch { font-size: 18px; font-weight: bold; }
.create-blog .toolbar .left .switch span { margin-top: 3px; }
.create-blog .toolbar button { margin: 0px 3px 0px 3px; }
.create-blog .title { margin: 10px; }
.create-blog .title textarea { font-size: 30px; font-weight: bold; }
.create-blog .editor-container { padding: 5px 10px 5px 10px; }
.create-blog .editor-container #editor { background-color: white; min-height: 500px; padding: 10px; font-size: 21px; }
.create-blog .editor-container #editor img { max-width: 100%; }

.blogs { padding: 5px; width: 100%; }
.blogs .header { margin-bottom: 10px; padding: 10px; display: flex; justify-content: space-between; }
.blogs .header .title { font-size: 18px; color: #222; }
.blogs .header small { color: #696969; }
.blogs .blog-list { display: flex; flex-wrap: wrap; }
.blogs .blog-list .blog-container { margin: 10px; max-width: 250px; box-shadow: 0px 1px 2px 1px rgba(57, 73, 76, 0.35); }
.blogs .blog-list .blog-container .img-container { width: 100%; position: relative; overflow: hidden; }
.blogs .blog-list .blog-container .img-container .more-button { position: absolute; top: 0; right: 0; }
.blogs .blog-list .blog-container .img-container img { height: 250px; object-fit: cover; }
.blogs .blog-list .blog-container .detail-container { padding: 10px; }
.blogs .blog-list .blog-container .detail-container .blog-title p { margin-bottom: 0; }
.blogs .blog-list .blog-container .detail-container .blog-title p.title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 18px; font-weight: 800; }
.blogs .blog-list .blog-container .detail-container .blog-title p .pc-date { font-size: 12px; color: #696969; }
.blogs .blog-list .blog-container .detail-container .blog-author { display: flex; justify-content: flex-end; }
.blogs .blog-list .blog-container .detail-container .blog-author a { font-size: 16px; font-weight: 500; }

.notification-list { padding: 5px; background: #fff; }
.notification-list .pc-noti-wrapper { padding: 5px; cursor: pointer; border-bottom: 1px solid #e0e0e0; display: flex; flex-direction: row; }
.notification-list .pc-noti-wrapper .pc-noti-img img { height: 50px; width: 50px; border-radius: 50%; }
.notification-list .pc-noti-wrapper .pc-noti-body { margin-left: 10px; padding: 5px; display: flex; align-items: center; justify-content: center; flex-direction: column; }
.notification-list .pc-noti-wrapper .pc-noti-body p { margin: 0; width: 280px; word-wrap: break-word; }
.notification-list .pc-noti-wrapper .pc-noti-body .pc-ago-date { font-size: 12px; color: #696969; }

.popover-form { padding: 5px 5px 0px 5px; }
.popover-form.bio .bp3-form-group { margin-bottom: 2px; }
.popover-form div.top { font-size: 18px; font-weight: 600; padding-bottom: 10px; text-align: center; }

.delete-popover { padding: 5px 0px; }
.delete-popover .top { padding: 15px 0px; text-align: center; font-size: 16px; }
.delete-popover .popover-button { text-align: center; }
.delete-popover .popover-button button { margin-right: 10px; }

.bp3-menu { background: #fff; }

.bp3-popover-content { background: #fff !important; }

.bp3-popover-arrow-fill { fill: #fff !important; }

.tag-input { display: flex !important; }
.tag-input div { margin-top: 0px; }

.communicate { position: fixed; width: 35%; bottom: 0; right: 2px; background: #fff; z-index: 2; border: 1px solid #e0e0e0; }
@media screen and (min-width: 500px) and (max-width: 800px) { .communicate { width: 60%; } }
@media screen and (min-width: 800px) and (max-width: 1000px) { .communicate { width: 50%; } }
@media screen and (max-width: 500px) { .communicate { width: 90%; } }
.communicate .header { height: 30px; font-size: 16px; background: black; display: flex; color: #fff; justify-content: space-between; }
.communicate .header .win-title { margin-left: 5px; font-weight: bold; display: flex; align-items: center; }
.communicate .content { height: -webkit-calc(100% - 30px); height: -moz-calc(100% - 30px); height: calc(100% - 30px); }
.communicate .content .chat-list { padding-bottom: 5px; overflow-y: scroll; }
.communicate .content .chat-list .i-chat { border-bottom: 1px solid #e0e0e0; margin: 3px 0px; padding: 5px; }
.communicate .content .chat-list .i-chat.unseen { background: #f9f9f9; }
.communicate .content .chat-list .i-chat:hover { box-shadow: 1px 1px 10px 0px #9b9fa3; }
.communicate .content .chat-list .i-chat .name { color: #1d4354; font-weight: bold; font-size: 16px; }
.communicate .content .chat-list .i-chat .short-msg { opacity: 0.8; }
.communicate .content .chat-history { display: flex; flex-direction: column; justify-content: space-between; height: 100%; }
.communicate .content .chat-history .top { display: flex; justify-content: space-between; padding: 5px 0px; border-bottom: 1px solid #e0e0e0; }
.communicate .content .chat-history .top .op-name { display: flex; flex-direction: column; justify-content: center; color: #1d4354; font-weight: bold; font-size: 16px; }
.communicate .content .chat-history .top .call-control button { margin: 0px 1px; }
.communicate .content .chat-history .chats { padding: 5px 5px 0px 5px; overflow-y: scroll; height: 100%; }
.communicate .content .chat-history .chats .i-chat { margin: 5px 5px 20px 5px; display: flex; }
.communicate .content .chat-history .chats .i-chat time { margin: 0px 10px; font-size: 9px; color: #696969; font-weight: bold; }
.communicate .content .chat-history .chats .i-chat .img-wrap img { border-radius: 50%; border: 1px solid #e0e0e0; }
.communicate .content .chat-history .chats .i-chat.left { margin-right: 12%; flex-direction: row; }
.communicate .content .chat-history .chats .i-chat.left .text { margin: 0px 10px; border: 1px solid #1d4354; padding: 2px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.communicate .content .chat-history .chats .i-chat.right { margin-left: 12%; flex-direction: row-reverse; }
.communicate .content .chat-history .chats .i-chat.right .text-contain { display: flex; flex-direction: column; align-items: flex-end; }
.communicate .content .chat-history .chats .i-chat.right .text { margin: 0px 10px; padding: 2px; border: 1px solid #1d4354; border-top-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.communicate .content .chat-history .chat-box { display: flex; }
.communicate .content .chat-history .chat-box textarea { flex: 0.8; resize: none; }
.communicate .content .chat-history .chat-box button { flex: 0.2; }
.communicate .content .call-screen { display: flex; flex-direction: column; }
.communicate .content .call-screen .top { display: flex; justify-content: space-between; padding: 5px 0px; border-bottom: 1px solid #e0e0e0; }
.communicate .content .call-screen .top .op-name { display: flex; flex-direction: column; justify-content: center; color: #1d4354; font-weight: bold; font-size: 16px; }
.communicate .content .call-screen .video-container { display: flex; justify-content: center; padding: 5px; }
.communicate .content .call-screen .video-container .peer-video { object-fit: contain; width: 100%; }
.communicate .content .call-screen .video-container .own-video { position: absolute; height: 20%; width: 30%; }
.communicate .content .call-screen .controllers { padding: 5px; display: flex; justify-content: center; }
.communicate .content .call-screen .controllers button { margin-left: 5px; }
.communicate .content .incoming-call-screen { margin: 1px; height: 100%; flex-direction: column; overflow: hidden; align-items: center; justify-content: center; background: rgba(17, 4, 12, 0.7); }
.communicate .content .incoming-call-screen .person-icon-container { flex-direction: column; }
.communicate .content .incoming-call-screen .person-icon-container img { border-radius: 50%; border-width: 2px; border-style: solid; border-color: #fff; animation: rotate 2s ease infinite; }
.communicate .content .incoming-call-screen .person-icon-container .controllers { padding: 10px 0px; display: flex; justify-content: space-around; }
@keyframes rotate { 0% { border-color: #ff0000; }
  10% { border-color: #ff0080; }
  20% { border-color: #ff00ff; }
  30% { border-color: #8000ff; }
  40% { border-color: #0080ff; }
  50% { border-color: #0000ff; }
  60% { border-color: #00ffbf; }
  70% { border-color: #00ff00; }
  80% { border-color: #bfff00; }
  90% { border-color: #ffff00; }
  100% { border-color: #ff8000; } }
@keyframes slideDown { from { height: 75%; }
  to { height: 31px; } }
@keyframes slideUp { from { height: 31px; }
  to { height: 075%; } }
.archive { margin-top: 60px; padding: 5px; }
.archive .ar-top { padding: 5px; }
.archive .ar-top span { color: #696969; }
.archive .ar-content { display: flex; }
.archive .ar-content .ar-left { flex: 0.7; }
.archive .ar-content .ar-left .ar-left-i { margin-top: 15px; padding: 5px; display: flex; border-bottom: 1px solid #e0e0e0; }
.archive .ar-content .ar-left .ar-left-i .ar-i-detail { flex-direction: column; margin-left: 10px; }
.archive .ar-content .ar-left .ar-left-i .ar-i-detail .pc-date { font-size: 12px; color: #696969; }
.archive .ar-content .ar-left .ar-left-i .ar-i-detail .ar-i-title { color: #222; font-size: 22px; }
.archive .ar-content .ar-left .ar-left-i .ar-i-detail .pc-blog-desc { padding: 5px 0px; }
.archive .ar-content .ar-left .ar-left-i .ar-i-detail .ar-i-counts { display: flex; }
.archive .ar-content .ar-left .ar-left-i .ar-i-detail .ar-i-counts .label { color: #696969; margin: 0px 3px 0px 0px; }
.archive .ar-content .ar-left .ar-left-i .ar-i-detail .ar-i-counts .label .count { margin: 0px 2px; font-weight: bolder; }
.archive .ar-content .ar-right { flex: 0.3; }
.archive .ar-content .ar-right p.ar-right-top { font-size: 20px; font-weight: bold; }
.archive .ar-content .ar-right hr { border: 0.5px solid #bababa; }

.public-blog { padding-top: 60px; }
.public-blog .public-blog-title { padding-top: 10px; }
.public-blog .public-blog-title p { width: 100%; text-align: center; font-size: 30px; font-weight: bold; }
.public-blog .public-blog-title .author-user { display: flex; justify-content: center; }
.public-blog .public-blog-title .author-user .auth-con { display: flex; }
.public-blog .public-blog-title .author-user .auth-con .author-detail { display: flex; justify-content: center; align-items: flex-start; flex-direction: column; }
.public-blog .public-blog-title .author-user img { margin: 5px; }
.public-blog .public-blog-content { width: 100%; font-size: 21px; display: flex; }
.public-blog .public-blog-content .left { flex: 0.1; }
.public-blog .public-blog-content #blogContent { flex: 0.8; }
.public-blog .public-blog-content #blogContent img { max-width: 100%; }
.public-blog .public-blog-content .right { flex: 0.1; }
.public-blog .response { display: flex; }
.public-blog .response .left { flex: 0.1; }
.public-blog .response .comment-section { flex: 0.8; display: flex; flex-direction: column; }
.public-blog .response .comment-section .comment-area { display: flex; }
.public-blog .response .comment-section .comment-area textarea { font-size: 21px; flex: 0.8; height: 80px; resize: none; }
.public-blog .response .comment-section .comment-area button { font-size: 21px; flex: 0.2; }
.public-blog .response .comment-section .responses .i-response { display: flex; }
.public-blog .response .comment-section .responses .i-response .comment-content { padding: 5px; }
.public-blog .response .right { flex: 0.1; }

.public-profile { margin-top: 60px; flex: 0.8; display: flex; align-items: center; flex-direction: column; padding: 1px 3px; position: relative; }
.public-profile .cover-pic { height: 250px; position: relative; width: 100%; background: linear-gradient(to right, #9be1f3 0%, #43c0df 100%); }
.public-profile .cover-pic .edit-cover { padding: 5px; position: absolute; bottom: 0; right: 0; color: white; }
.public-profile .cover-pic .edit-cover .edit-icon { vertical-align: text-top; }
.public-profile .cover-pic .edit-cover:hover { text-decoration: underline; cursor: pointer; color: #137cbd; }
.public-profile .cover-pic .edit-cover:hover svg { fill: #137cbd; }
.public-profile .profilePic { position: absolute; top: 100px; left: 10px; }
.public-profile .profilePic img { border: 1px solid #e2eaeb; box-shadow: 0px 0px 5px 1px #e2eaeb; border-radius: 50%; height: 150px; padding: 2px; }
.public-profile .profilePic span { position: absolute; top: 70px; left: 110px; }
.public-profile .profilePic svg { border-radius: 100px; background-color: #2572D1; }
.public-profile .top-details { width: 100%; display: flex; justify-content: space-between; background: white; padding: 5px; }
.public-profile .top-details .connect-btns { flex: 0.3; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.public-profile .top-details .connect-btns .con { display: flex; }
.public-profile .top-details .connect-btns .con .con-option { display: flex; flex-direction: row; }
.public-profile .top-details .connect-btns button { margin-left: 10px; font-size: 16px; font-weight: 400; }
.public-profile .top-details .desc { flex: 0.7; }
.public-profile .top-details .desc .name { font-size: 20px; font-weight: bold; }
.public-profile .top-details .desc .designation { font-size: 16px; font-weight: bold; color: rgba(20, 18, 18, 0.596); }
.public-profile .bio { margin-top: 5px; background: white; text-align: center; width: 100%; }
.public-profile .bio p { font-family: 'Oxygen', sans-serif; font-weight: bold; font-style: italic; font-size: 16px; }
.public-profile .education { margin-top: 5px; width: 100%; background: white; }
.public-profile .education p.p-top { font-size: 20px; font-weight: bold; display: flex; justify-content: space-between; padding-right: 5px; }
.public-profile .education p.p-top svg { fill: #137cbd; }
.public-profile .education .p-edu-list .p-edu-list-i { display: flex; padding: 2px; }
.public-profile .education .p-edu-list .p-edu-list-i img { height: 45px; padding: 2px; }
.public-profile .education .p-edu-list .p-edu-list-i p { padding: 0px 0px 0px 10px; }
.public-profile .education .p-edu-list .p-edu-list-i p span.p-name-i { font-size: 18px; font-weight: bold; }
.public-profile .education .p-edu-list .p-edu-list-i p span.p-timeline { font-weight: bold; color: #757575; }
.public-profile .education .p-edu-list .p-edu-list-i p svg { fill: #137cbd; }
.public-profile .experience { margin-top: 5px; width: 100%; background: white; }
.public-profile .experience p.p-top { font-size: 20px; font-weight: bold; display: flex; justify-content: space-between; padding-right: 5px; }
.public-profile .experience p.p-top svg { fill: #137cbd; }
.public-profile .experience .p-exp-list .p-exp-list-i { display: flex; padding: 2px; }
.public-profile .experience .p-exp-list .p-exp-list-i img { height: 45px; padding: 2px; }
.public-profile .experience .p-exp-list .p-exp-list-i p { padding: 0px 0px 0px 10px; }
.public-profile .experience .p-exp-list .p-exp-list-i p span.p-title-i { font-size: 18px; font-weight: bold; }
.public-profile .experience .p-exp-list .p-exp-list-i p span.p-company-i { font-size: 16px; font-weight: bold; color: #757575; }
.public-profile .experience .p-exp-list .p-exp-list-i p span.p-timeline { font-weight: bold; color: #757575; }
.public-profile .experience .p-exp-list .p-exp-list-i p svg { fill: #137cbd; }
.public-profile .skills { margin-top: 5px; width: 100%; background: white; }
.public-profile .skills p.p-top { font-size: 20px; font-weight: bold; display: flex; justify-content: space-between; padding-right: 5px; }
.public-profile .skills p.p-top svg { fill: #137cbd; }
.public-profile .skills .skills-container { padding: 5px 5px 5px 0px; }
.public-profile .skills .skills-container span { margin: 5px; padding: 5px; color: white; background: #137cbd; }

.search-result { margin-top: 60px; }
.search-result .filter-toolbar { min-height: 40px; display: flex; flex-direction: row; justify-content: space-between; background: white; padding: 5px; box-shadow: 1px 1px 3px 0px #9b9ca1; }
.search-result .filter-toolbar .set { display: flex; justify-content: center; align-items: center; }
.search-result .filter-toolbar .filter-label { font-size: 20px; font-weight: bold; opacity: 0.8; }
.search-result .filter-toolbar .btn-group { padding-top: 6px; margin-left: 50px; vertical-align: middle; }
.search-result .filter-toolbar .btn-group button { min-height: 0; }
.search-result .result-list { padding: 5px; flex: 0.7; }
.search-result .result-list .label { opacity: 0.7; font-weight: bold; }
.search-result .result-list .i-result { margin-top: 5px; width: 100%; display: flex; }
.search-result .result-list .i-result .img-con { padding: 3px; }
.search-result .result-list .i-result .desc-con { padding-left: 5px; }
.search-result .result-list .i-result .desc-con .name { font-size: 16px; font-weight: bold; }
.search-result .result-list .i-result .desc-con .location { opacity: 0.8; font-weight: bold; }
.search-result .result-list .i-result img { border-radius: 50%; }

.footer { margin-top: 20px; min-height: 100px; padding: 5px; background: #1d4354; color: #fff; }
.footer .pc-logo { padding: 5px; font-size: 18px; font-weight: bold; }
.footer .left-right-container { display: flex; }
.footer .left-right-container .footer-left { flex: 0.8; display: flex; justify-content: flex-start; }
.footer .left-right-container .footer-left .foot-left-one .one-content { padding: 5px; font-weight: bold; }
.footer .left-right-container .footer-right { flex: 0.2; display: flex; justify-content: flex-end; }
.footer .left-right-container .footer-right .right-content { padding: 5px; font-weight: bold; }

.drawing-board { flex: 0.8; padding: 5px; }
.drawing-board .draw-title { text-align: center; text-transform: uppercase; font-weight: bold; font-size: 18px; color: #1d4354; padding: 3px; }
.drawing-board .draw-tools { display: flex; padding: 5px 5px; }
.drawing-board .draw-tools .tool-label { clip-path: polygon(0 0, 0 100%, 65% 100%, 100% 50%, 65% 0); font-size: 18px; background: #1d4354; color: white; padding: 3px 15px 3px 2px; display: flex; align-items: center; flex-direction: row; }
.drawing-board .draw-tools .tool-container { padding: 3px; margin-left: 5px; border: 1px solid #d6d9d9; display: flex; justify-content: center; width: 100%; }
.drawing-board .draw-tools .tool-container .i-tool { margin: 0px 5px; }
.drawing-board .draw-tools .save-wrapper { margin-left: 5px; }
.drawing-board .draw-canvas { display: flex; justify-content: center; }
.drawing-board .draw-canvas #mainCanvas { object-fit: contain; background: white; border: 2px solid black; }

.take-tour { margin-top: 60px; padding: 20px; display: flex; justify-content: center; align-items: center; }

.connection .header { margin-bottom: 10px; padding: 10px; }
.connection .header .title { font-size: 18px; color: #222; }
.connection .header small { color: #696969; }
.connection .con-list .i-result { margin-top: 5px; width: 100%; display: flex; }
.connection .con-list .i-result .img-con { padding: 3px; }
.connection .con-list .i-result .desc-con { padding-left: 5px; }
.connection .con-list .i-result .desc-con .name { font-size: 16px; font-weight: bold; }
.connection .con-list .i-result .desc-con .location { opacity: 0.8; font-weight: bold; }
.connection .con-list .i-result img { border-radius: 50%; }

@font-face { font-family: 'Gotham-Pro'; src: url("../assets/fonts/gotham/gotham-pro.ttf") format("truetype"); font-weight: normal; font-stretch: extra-condensed; font-style: normal; }
@font-face { font-family: 'Gotham-Pro'; src: url("../assets/fonts/gotham/gotham-medium.otf") format("truetype"); font-weight: bold; font-stretch: extra-condensed; font-style: normal; }
@font-face { font-family: 'Gotham-Pro'; src: url("../assets/fonts/gotham/gotham-light.otf") format("truetype"); font-weight: 200; font-stretch: extra-condensed; font-style: normal; }
body { margin: 0; padding: 0; background-color: #fff; font-family: "Gotham-Pro"; }

.home-screen { margin: 0; padding: 0; }

.bp3-button { border-radius: 0; }

.bp3-input { border-radius: 0; }
