@import './config.scss';
@import './main-page/slider.scss';
@import './navbar.scss';
@import './login-or-reg/regLog.scss';
@import './main-page/posts.scss';
@import './main-page/banner.scss';
@import './main-page/popular.scss';
@import './bro/sideNav.scss';
@import './bro/profile.scss';
@import './bro/classes.scss';
@import './bro/settings.scss';
@import './bro/blogs.scss';
@import './notification.scss';
@import './components.scss';
@import './communication.scss';
@import './archive.scss';
@import './PublicProfile.scss';
@import './searchResult.scss';
@import './footer/footer.scss';
@import './drawingBoard.scss';
@import './main-page/takeTour.scss';
@import './bro/connection.scss';
@import './footer/about.scss';
@import './footer/privacy.scss';
@import './footer/terms.scss';
@import './footer/support.scss';
@import './footer/career.scss';
@import './footer/report.scss';
@import './footer/business.scss';
@import './footer/services.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Oxygen|Roboto:100,300,400,500,900&display=swap');
@font-face {
  font-family: 'Gotham-Pro';
  src: url('../assets/fonts/gotham/gotham-pro.ttf') format('truetype');
  font-weight: normal;
  font-stretch: extra-condensed;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Pro';
  src: url('../assets/fonts/gotham/gotham-medium.otf') format('truetype');
  font-weight: bold;
  font-stretch: extra-condensed;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Pro';
  src: url('../assets/fonts/gotham/gotham-light.otf') format('truetype');
  font-weight: 200;
  font-stretch: extra-condensed;
  font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: $backgroundColor;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Oxygen', sans-serif;
    // font-family: 'Noto Sans', sans-serif;
    font-family: "Gotham-Pro";
}

.home-screen {
    margin: 0;
    padding: 0;
}

.bp3-button {
  border-radius: 0;
}

.bp3-input {
  border-radius: 0;
}

.pc-date-picker {
  .bp3-input-action {
    top: 6px;
    right: 5px !important;
  }
}
// removes outlines from every possible tabs or links
a, button, div {
  outline: none !important;
}
