body {
    margin: 0;
    padding: 0;
}
.screen-home {
    display: flex;
    justify-content: space-around;
}
.log-or-reg {
    width: 300px;
    margin-top: 100px;
    text-align: center;
    height: auto;
    background: white;
}
.f-element-class {
    margin-bottom: 10px;
}