/* this is navbar
there is navigation fixing
top attachment etc.
*/
@import './config.scss';

.navbar {
  top: 0;
  display: flex;
  position: fixed;
  margin: auto;
  width: 100%;
  height: $navbarHeight;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: $backgroundColor;
  box-shadow: 0px 1px 2px $normalShadowColor;
  z-index: 3; // above all putting navbar at the top of the heap.
  &.pcm-nav {
    box-shadow: none;
    border: 1px solid $normalBorder;
  }
  @media screen and (max-width: 650px){
    height: $navbarHeightSmall;
  }
  .navbar-left {
      display: flex;
      flex-direction: row;
  }
  .navbar-right {
      display: flex;
      flex-direction: row;
  }
  .navbar-item {
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      color: $navTextColor;
      text-transform: uppercase;
      @media screen and (max-width: 650px){
        font-size: 15px;
        padding: 2px;
      }
      img.profile-icon {
        height: 50px;
        border-radius: 50%;
        padding: 1px;
        border: 1px solid $navTextColor;
      }
  }
  a:link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }
  a:hover {
    .navbar-item {
      color: $skyBlueMain;
      img {
        border: 2px solid $skyBlueMain;
      }
    }
  }
  a.active {
    .navbar-item {
      color: $skyBlueMain;
      img {
        border: 2px solid $skyBlueMain;
      }
    }
  }
}