/* this is navbar
there is navigation fixing
top attachment etc.
*/
@import './config.scss';

.navbar {
  top: 0;
  display: flex;
  position: fixed;
  margin: auto;
  width: 100%;
  height: $navbarHeight;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: $backgroundColor;
  box-shadow: 0px 1px 2px $normalShadowColor;
  z-index: 3; // above all putting navbar at the top of the heap.
  &.pcm-nav {
    box-shadow: none;
    border: 1px solid $normalBorder;
  }
  .navbar-left {
    display: flex;
    flex-direction: row;
  }
  .navbar-more-container {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    .more-icon {
      display: none;
    }
  }
  .navbar-right {
    display: flex;
    flex-direction: row;
  }
  .navbar-item {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: $darkBlue;
    position: relative;
    text-transform: uppercase;
    .profile-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0px 1px 3px 2px $normalShadowColor;
      img.portrait {
        width: 100%;
        height: auto;
      }
      img.landscape {
        height: 100%;
        width: auto;
      }
    }
  }
  a:link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }
  a:hover {
    .navbar-item {
      color: $skyBlueMain;
    }
  }
  a.active {
    .navbar-item {
      color: $skyBlueMain;
    }
  }
  @media screen and (min-width: 575px) and (max-width: 700px){
    .navbar-item {
      font-size: 13px;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 575px) {
    .navbar-left {
      display: none;
    }
    .navbar-more-container {
      .more-icon {
        display: block;
      }
    }
  }
}

// styling for the drop menu in the small screens
.pc-drop-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  .pc-drop-menu-link {
    padding: 10px;
    text-transform: uppercase;
    color: $navTextColor;
    font-weight: bold;
    border-bottom: 1px solid $normalBorder;
  }
}
.pc-dropdown-drawer {
  .bp3-drawer-header {
    h4 {
      text-align: center;
      color: $skyBlueMain;
    }
    svg {
      height: 25px;
      width: 25px;
      color: $navTextColor;
    }
  }
}