/* this is navbar
there is navigation fixing
top attachment etc.
*/

.navbar {
  top: 0;
  display: flex;
  position: fixed;
  margin: auto;
  width: 100%;
  height: $navbarHeight;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: $primary;
  background-image: linear-gradient($dropPrimary,$primary);
  box-shadow: 0 1px 5px $dropPrimary;
  z-index: 3; // above all putting navbar at the top of the heap.
  @media screen and (max-width: 650px){
    height: $navbarHeightSmall;
  }
  .navbar-left {
      display: flex;
      flex-direction: row;
  }
  .navbar-right {
      display: flex;
      flex-direction: row;
  }
  .navbar-item {
      font-size: 20px;
      padding: 10px;
      color: white;
      @media screen and (max-width: 650px){
        font-size: 15px;
        padding: 2px;
      }
      img.profile-icon {
        height: 50px;
        border-radius: 50%;
        padding: 1px;
        border: 1px solid white;
      }
  }
  a:link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
  }
  a:hover {
      background-image: linear-gradient($dropPrimaryHover,$primaryHover);
  }
  a.active {
    background-image: linear-gradient($dropPrimaryHover,$primaryHover) !important;
  }
}