@import './config.scss';

.notification-list {
  padding: 5px;
  background: white;
  .notification-wrapper {
    padding: 2px;
    cursor: pointer;
    .ntvwd {
      border: 0.4px solid rgba(0, 0, 0, 0.40);
      background: rgba(0, 0, 0, 0.077);
      padding: 5px;
    }
    .vwd {
      border: 0.4px solid rgba(0, 0, 0, 0.40);
      background: rgba(255, 255, 255, 0);
      padding: 5px;
    }
  }
}