@import './config.scss';

// conside the size of the notification drawer as 
.notification-list {
  padding: 5px;
  overflow: auto;
  // styling individual notification wrapper as <a>
  .pc-noti-wrapper {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid $normalBorder;
    display: flex;
    flex-direction: row;
    .pc-noti-img {
      width: 55px;
      height: 55px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
    }
    .pc-noti-icon {
      width: 55px;
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg {
        fill: $darkBlue;
      }
    }
    .pc-noti-body {
      margin-left: 10px;
      padding: 5px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p {
        margin: 0;
        word-wrap: break-word;
      }
      .pc-ago-date {
        font-size: 12px;
        color: $lightTextColor;
      }
    }
  }
}