@import './config.scss';

.search-result {
  // this is for footer
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  margin-top: $navbarHeight;
  .filter-toolbar {
    min-height: $toolbarHeight;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $backgroundColor;
    padding: 5px;
    width: 100%;
    box-shadow: 1px 1px 3px 0px $normalShadowColor;
    .set {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .filter-label {
      font-size: 20px;
      font-weight: bold;
      opacity: 0.8;
    }
    .btn-group {
      padding-top: 6px;
      margin-left: 50px;
      vertical-align: middle;
      button {
        min-height: 0;
      }
    }
  }
  .result-list {
    padding: 5px;
    flex: 0.7;
    .label {
      opacity: 0.7;
      font-weight: bold;
    }
    .i-result {
      margin: 15px 0px;
      width: 100%;
      display: flex;
      align-items: center;
      .img-con {
        border: 1px solid $normalBorder;
        border-radius: 50%;
        overflow: hidden;
        width: 70px;
        height: 70px;
      }
      .desc-con {
        padding-left: 5px;
        .name {
          font-size: 16px;
          font-weight: bold;
        }
        .location {
          opacity: 0.8;
          display: flex;
          .country {
            text-transform: capitalize;
            margin-left: 5px;
          }
        }
      }
    }
    &.blogs {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 855px) {
    .filter-toolbar {
      .filter-label {
        display: none;
      }
    }
  }
}
