.slider-container {
  position: relative;
  height: 500px;
  margin-left: 1px;
  margin-right: 1px;
  .slider {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
  .search-box-container {
    top:50%;  /* this to center the box w.r.t to parent */
    left: 50%;/* this to center the box w.r.t to parent */
    /* Above 2 lines wont fully center it, the next line internally
    centers it, buy moving itself 50% left and top */
    transform:translate(-50%,-50%);
    margin: auto;
    position: absolute;
    z-index: 2;
  }
}