@import './config.scss';

.drawing-board {
  padding: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .draw-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: $darkBlue;
    padding: 3px;
  }
  .draw-tools {
    display: flex;
    padding: 5px 5px;
    .tool-label {
      clip-path: polygon(0 0, 0 100%, 65% 100%, 100% 50%, 65% 0);
      font-size: 18px;
      background: $darkBlue;
      color: $backgroundColor;
      padding: 3px 15px 3px 2px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .tool-container {
      padding: 3px;
      margin-left: 5px;
      border: 1px solid $borderColor;
      display: flex;
      justify-content: center;
      width: 100%;
      .i-tool { margin: 0px 5px; }
    }
    .save-wrapper {
      margin-left: 5px;
    }
  }
  .draw-canvas {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    .canvas-container {
      #mainCanvas {
        width: 100% !important;
        object-fit: contain !important;
        height: auto !important;
        background: white;
        border: 2px solid $darkBlue;
      }
      .upper-canvas {
        object-fit: contain !important;
        height: auto !important;
        width: 100% !important;
      }
    }
  }
  @media screen and (max-width: 470px) {
    .draw-tools {
      .tool-label {
        display: none;
      }
    }
  }
}
