.appointment {
    width: 100%;
}
.appointment-wrapper {
    padding: rem(20);
    @media screen and (max-width: rem(767)) {
        padding: rem(10);
    }
}
.appointment-table-wrapper {
    @include genericBoxPattern;
    .appointment-list {
        tbody {
            tr {
                td {
                    &:last-child {
                        padding-right: rem(24);
                        .action-icons {
                            display: flex;
                            justify-content: center;
                            background: color-get(primary, 100);
                            border-radius: rem(10);
                            padding: rem(3) 0;
                            cursor: pointer;
                            .edit-icon {
                                svg {
                                    fill: color-get(primary, 500);
                                }
                            }
                            .delete-icon {
                                margin-left: rem(5);
                                svg {
                                    fill: color-get(error);
                                }
                            }
                        }
                    }
                    .status {
                        width: rem(15);
                        height: rem(15);
                        border-radius: 50%;
                        background: color-get(primary);
                        &.green {
                            background: color-get(success);
                        }
                        &.grey {
                            background: color-get(border);
                        }
                    }
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.075);
                }
            }
        }
    }
}

.stats-wrapper {
    display: flex;
    margin-left: rem(-15);
    margin-right: rem(-15);
    margin-bottom: rem(25);
    .stats-container {
        padding-left: rem(15);
        padding-right: rem(15);
        flex: 1;
        .stats-card {
            border-radius: rem(3);
            padding: rem(10) rem(15);
            background-color: color-get(secondary, 100);
            border: rem(1) solid color-get(secondary, 500);
            .stats-number {
                font-size: rem(30);
                font-weight: 600;
                color: color-get(secondary);
            }
            .stats-title {
                font-size: rem(14);
                color: color-get(secondary, 500);
                font-weight: 600;
            }
        }
        &:nth-child(2) {
            .stats-card {
                background-color: color-get(success, 100);
                border-color: color-get(success, 500);
                .stats-number,
                .stats-title {
                    color: color-get(success, 500);
                }
            }
        }
        &:nth-child(3) {
            .stats-card {
                background-color: color-get(primary, 500);
                background-color: color-get(primary, 100);
                .stats-number,
                .stats-title {
                    color: color-get(primary);
                }
            }
        }
    }
}
