@import '../config.scss';

.create-blog {
  margin-top: $navbarHeight;
  margin-bottom: 10px;
  div[contenteditable]:focus {
    outline: 0px solid transparent;
  }
  // just to put the default placeholder
  [contenteditable]:empty::before {
    content: attr(datatext);
    color: $lightTextColor;
  }
  .pc-create-blog-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 10px;
    flex-wrap: wrap;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: $backgroundColor;
    padding: 10px 32px;
    box-shadow: 0px 1px 2px $normalShadowColor;
    @media screen and (max-width: 767px) {
      justify-content: flex-end;
    }
    @media screen and (max-width: 480px) {
      padding: 10px;
    }
    .left {
      .pc-publish-btn {
        display: flex;
        align-items: center;
        label {
          font-size: 18px;
          color: $headingColor;
          font-weight: 600;
        }
        .switch-container {
          margin-left: 10px;
        }
      }
      @media screen and (max-width: 767px) {
        order: 2;
        margin-right: 30px;
      }
    }
    .right {
      @media screen and (max-width: 767px) {
        order: 3;
      }
    }
  }

  .pc-create-blog-wrapper {
    margin-top: 165px;
    @media screen and (max-width: 767px) {
      margin-top: 205px;
    }
    .img-upload-container {
      // padding: 20px 0px 0px 0px;
      position: relative;
      .blog-cover-img {
        display: flex;
        justify-content: center;
        // padding: 0 20px;
        max-height: 300px;
        // padding: 0 20px;
        overflow: hidden;
        border-radius: 10px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .img-upload {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        // opacity: 0.7;
        cursor: pointer;
        bottom: 0;
        width: 100%;
        // &:hover {
        //   opacity: 1;
        // }
        .pc-img-upload {
          display: flex;
          padding: 5px;
          background-color: #000;
          opacity: 0.6;
          border-radius: 5px;
          margin-right: 10px;
          svg {
            fill: #fff;
          }
        }
      }
    }
    .title {
      margin: 10px 0;
      .formLabel {
        textarea {
          font-size: 45px;
          border: transparent;
          color: $headingColor;
          font-weight: 800;
        }
        ::placeholder {
          font-size: 45px;
          color: $headingColor;
          font-weight: 800;
        }
      }
    }
    .quill {
      .ql-container.ql-snow {
        border-radius: 10px;
        min-height: calc(100vh - 370px);
        background-color: #fff;
        border: transparent;
        box-shadow: 0 0.4rem 0.8rem -0.1rem rgb(0 32 128 / 10%), 0 0 0 1px #f0f2f7;
      }
      .ql-editor {
        min-height: calc(100vh - 370px);
        p,
        li {
          font-size: 20px;
          color: $subHeadColor;
        }
      }
    }
  }

  #toolbar {
    max-width: 60%;
    flex: 0 0 60%;
    background-color: #fff;
    border-radius: 10px;
    @include genericBoxPattern;
    border: none;
    @media screen and (max-width: 767px) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 10px;
    }
    .pc-blog-tools {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .toolbar {
    position: fixed;
    z-index: 2;
    height: 60px;
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: $fadedBackground;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-right: 0;
      }
      label {
        margin-bottom: 0px;
      }
    }
    .right {
      display: flex;
      align-items: center;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-wrap: wrap;
    }
    button {
      margin: 3px;
    }
  }

  .editor-container {
    padding: 5px 10px 5px 10px;
    #editor {
      background-color: $backgroundColor;
      min-height: 500px;
      padding: 10px;
      font-size: 25px;
      p {
        font-size: 30px;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
.blogs {
  padding: 5px;
  width: 100%;
  @media screen and (max-width: 576px) {
    padding: 0;
  }
  .blog-wrapper {
    padding: 20px;
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    // background: #fff;
    // border-radius: 10px;
    // border: 1px solid #eee;
    @media screen and (max-width: 767px) {
      padding: 10px;
    }
    .header {
      margin-bottom: 10px;
      padding: 10px;
      // position: sticky;
      // top: 92px;
      // z-index: 10;
      background-color: $backgroundColor;
      .title {
        font-size: 24px;
        // color: $textColor;
        font-weight: bold;
      }
      small {
        color: $lightTextColor;
        @media screen and (max-width: 767px) {
          display: block;
        }
      }
      display: flex;
      justify-content: space-between;
    }
    .blog-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      .pc-no-blogs {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: $lightTextColor;
        }
      }
      .blog-container {
        // margin: 10px;
        // max-width: 250px;
        // max-height: 340px;
        max-width: 33.33%;
        flex: 0 0 33.33%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        // box-shadow: 0px 1px 2px 1px $normalShadowColor;
        // border-radius: 10px;
        // overflow: hidden;
        margin-bottom: 30px;

        @media screen and (max-width: 1199px) {
          max-width: 50%;
          flex: 0 0 50%;
        }
        @media screen and (max-width: 767px) {
          max-width: 100%;
          flex: 0 0 100%;
        }

        .each-blog-wrapper {
          @include genericBoxPattern;
          overflow: hidden;
          position: relative;

          .img-container {
            max-width: 100%;
            height: 250px;
            position: relative;
            display: flex;
            overflow: hidden;
            justify-content: center;

            .more-button {
              position: absolute;
              top: 0;
              right: 0;
              z-index: 2;
            }
            figure {
              position: relative;
              padding-bottom: 30%;
              z-index: 1;
              width: 100%;
              img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                // border-top-left-radius: 10px;
                // border-top-right-radius: 10px;
              }
            }
          }
          .detail-container {
            // height: 90px;
            padding: 10px 15px;
            // background-color: #fff;
            // border-bottom-right-radius: 10px;
            // border-bottom-left-radius: 10px;
            // border: 1px solid #eee;
            // display: flex;
            // flex-direction: column-reverse;
            // align-items: center;
            .blog-title {
              p {
                margin-bottom: 0;
                a {
                  color: #58646d;
                }
                &.title {
                  // text-align: end;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-size: 18px;
                  font-weight: 800;
                }
                .pc-date {
                  font-size: 12px;
                  color: $lightTextColor;
                }
              }
            }
            .blog-author {
              display: flex;
              // justify-content: flex-end;
              a {
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

.bp3-button.bp3-intent-success.create-btn {
  background-color: #175fc7;
  box-shadow: unset;
  border-radius: 5px;
}
