.profile {
  display: flex;
  flex-direction: column;
  padding: rem(4);
  position: relative;
  width: 100%;
  overflow: hidden;
  .cover-pic {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 30%;
    z-index: 1;
    border-top-right-radius: rem(10);
    border-top-left-radius: rem(10);
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .edit-cover {
      padding: rem(5) rem(10);
      position: absolute;
      z-index: 1;
      bottom: rem(20);
      right: rem(10);
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: rem(5);
      cursor: pointer;
      svg {
        fill: #fff;
      }
      .edit-icon {
        color: black;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .cover-pic-edit-mode {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    position: relative;
    .canvas-container {
      width: 100% !important;
      @media screen and (max-width: rem(855)) {
        height: calc(100vw * 0.33) !important;
      }
      #mainCanvas {
        width: 100% !important;
        object-fit: contain !important;
        height: auto !important;
        background: white;
        box-shadow: rem(3) rem(3) rem(3) rem(3);
      }
      .upper-canvas {
        object-fit: contain !important;
        height: auto !important;
        width: 100% !important;
      }
    }
    .edit-cover {
      padding: rem(5);
      position: absolute;
      z-index: 1;
      bottom: rem(5);
      right: rem(1);
      color: $backgroundColor;
      display: flex;
      &:hover {
        cursor: pointer;
        color: $darkBlue;
      }
      button:nth-child(1) {
        margin-right: rem(10);
      }
    }
    .pc-zoom-slider {
      position: absolute;
    }
  }
  .profile-main-wrapper {
    .top-section-wrapper {
      background-color: #fff;
      margin-bottom: rem(30);
      border-bottom-right-radius: rem(10);
      border-bottom-left-radius: rem(10);
      // box-shadow: 0 0 rem(8) 0 rgba(17, 22, 26, 0.16), 0 rem(4) rem(8) 0 rgba(17, 22, 26, 0.08),
      //   0 rem(8) rem(16) 0 rgba(17, 22, 26, 0.08);
      border: 1px solid color-get(border);
      .p-image-wrap {
        height: rem(50);
        display: flex;
        justify-content: center;
        .profilePic {
          border: rem(3) solid white;
          position: relative;
          margin-top: rem(-80);
          z-index: 2;
          background-color: #fff;
          box-shadow: 0 0 rem(5) rem(1) $normalShadowColor;
          border-radius: 50%;
          height: rem(130);
          width: rem(130);
          overflow: hidden;
          .image-upload-icon {
            position: absolute;
            bottom: 30%;
            right: 1%;
            svg {
              border-radius: 50%;
              background-color: $primaryColor;
              path {
                stroke: #fff;
              }
            }
          }
        }
        @media screen and (max-width: rem(1199)) {
          height: rem(35);
          .profilePic {
            margin-top: rem(-40);
            width: rem(80);
            height: rem(80);
          }
        }
      }

      .top-details {
        width: 100%;
        padding: rem(10);
        text-align: center;

        .name {
          font-size: rem(30);
          font-weight: bold;
          margin-bottom: rem(5);
        }
        .pc-locate {
          display: flex;
          justify-content: center;
          align-items: center;
          .country {
            margin-left: rem(4);
            color: color-get(text-light);
          }
        }
      }
    }
    .bio {
      width: 100%;
      .bio-content {
        font-size: rem(20);
        margin-bottom: rem(10);
        color: color-get(text-dark);
        font-weight: bold;
      }
      .bio-info {
        margin-left: rem(2);
        display: flex;
        justify-content: space-between;
        p {
          color: color-get(text-light);
          &.edit {
            padding-right: rem(5);
            svg {
              fill: $skyBlueMain;
            }
          }
        }
      }
    }
    .education {
      width: 100%;
      p.p-top {
        font-size: rem(20);
        display: flex;
        justify-content: space-between;
        padding-right: rem(5);
        margin-bottom: rem(10);
        svg {
          fill: $skyBlueMain;
        }
      }
    }
    .experience {
      width: 100%;
    }
    .skills {
      width: 100%;
      p.p-top {
        font-size: rem(20);
        display: flex;
        justify-content: space-between;
        padding-right: rem(5);
        svg {
          fill: $skyBlueMain;
        }
      }
      .skills-container {
        padding: rem(5) rem(5) rem(5) 0;
        display: flex;
        flex-wrap: wrap;
        span {
          margin: rem(5);
          padding: rem(10);
          color: $backgroundColor;
          background: $primaryColor;
          border-radius: rem(5);
        }
      }
    }
  }
  @media screen and (max-width: rem(855)) {
    padding: rem(5) rem(15);
  }
}

.pc-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(10);
  &__title {
    font-size: rem(20);
  }
  &__icon {
    width: rem(30);
    height: rem(30);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background: color-get(text-light, 200);
      svg {
        path {
          stroke: color-get(text-dark, 500);
        }
      }
    }
    svg {
      path {
        stroke: color-get(text-light, 300);
      }
    }
  }
}

.pc-content-list {
  display: flex;
  padding-bottom: rem(10);
  position: relative;
  &__image {
    height: rem(45);
    padding: rem(2);
  }
  &__edit {
    position: absolute;
    top: 0;
    right: 0;
    svg {
      color: color-get(text-light, 300);
      &:hover {
        color: color-get(text-dark);
      }
    }
  }
  &:not(:last-child) {
    border-bottom: rem(1) solid color-get(border);
    margin-bottom: rem(10);
  }
}

.pc-list-details {
  padding-left: rem(10);
  &__title {
    font-size: rem(18);
    color: color-get(primary);
  }
  &__company {
    color: color-get(text-dark);
    font-weight: 600;
  }
  &__timeline {
    font-size: rem(14);
  }
}
