.profile {
  display: flex;
  flex-direction: column;
  padding: pixel-to-rem(4);
  position: relative;
  width: 100%;
  overflow: hidden;
  .pc-profile-wrapper {
    max-width: pixel-to-rem(1024);
    width: 100%;
    margin: 0 auto;
  }
  .cover-pic {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 30%;
    z-index: 1;
    border-top-right-radius: pixel-to-rem(10);
    border-top-left-radius: pixel-to-rem(10);
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .edit-cover {
      padding: pixel-to-rem(5) pixel-to-rem(10);
      position: absolute;
      z-index: 1;
      bottom: pixel-to-rem(20);
      right: pixel-to-rem(10);
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: pixel-to-rem(5);
      cursor: pointer;
      svg {
        fill: #fff;
      }
      .edit-icon {
        color: black;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .cover-pic-edit-mode {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    position: relative;
    .canvas-container {
      width: 100% !important;
      @media screen and (max-width: pixel-to-rem(855)) {
        height: calc(100vw * 0.33) !important;
      }
      #mainCanvas {
        width: 100% !important;
        object-fit: contain !important;
        height: auto !important;
        background: white;
        box-shadow: pixel-to-rem(3) pixel-to-rem(3) pixel-to-rem(3) pixel-to-rem(3);
      }
      .upper-canvas {
        object-fit: contain !important;
        height: auto !important;
        width: 100% !important;
      }
    }
    .edit-cover {
      padding: pixel-to-rem(5);
      position: absolute;
      z-index: 1;
      bottom: pixel-to-rem(5);
      right: pixel-to-rem(1);
      color: $backgroundColor;
      display: flex;
      &:hover {
        cursor: pointer;
        color: $darkBlue;
      }
      button:nth-child(1) {
        margin-right: pixel-to-rem(10);
      }
    }
    .pc-zoom-slider {
      position: absolute;
    }
  }
  .profile-main-wrapper {
    .top-section-wrapper {
      background-color: #fff;
      margin-bottom: pixel-to-rem(20);
      border-bottom-right-radius: pixel-to-rem(10);
      border-bottom-left-radius: pixel-to-rem(10);
      box-shadow: 0 0 pixel-to-rem(8) 0 rgba(17, 22, 26, 0.16),
        0 pixel-to-rem(4) pixel-to-rem(8) 0 rgba(17, 22, 26, 0.08),
        0 pixel-to-rem(8) pixel-to-rem(16) 0 rgba(17, 22, 26, 0.08);
      .p-image-wrap {
        height: pixel-to-rem(50);
        display: flex;
        justify-content: center;
        .profilePic {
          border: pixel-to-rem(3) solid white;
          position: relative;
          margin-top: pixel-to-rem(-80);
          z-index: 2;
          background-color: #fff;
          box-shadow: 0 0 pixel-to-rem(5) pixel-to-rem(1) $normalShadowColor;
          border-radius: 50%;
          height: pixel-to-rem(130);
          width: pixel-to-rem(130);
          overflow: hidden;
          .image-upload-icon {
            position: absolute;
            bottom: 30%;
            right: 1%;
            svg {
              border-radius: 50%;
              background-color: $primaryColor;
              path {
                stroke: #fff;
              }
            }
          }
        }
        @media screen and (max-width: pixel-to-rem(1199)) {
          height: pixel-to-rem(35);
          .profilePic {
            margin-top: pixel-to-rem(-40);
            width: pixel-to-rem(80);
            height: pixel-to-rem(80);
          }
        }
      }

      .top-details {
        width: 100%;
        padding: pixel-to-rem(10);
        text-align: center;

        .name {
          font-size: pixel-to-rem(30);
          font-weight: bold;
          margin-bottom: pixel-to-rem(5);
        }
        .pc-locate {
          display: flex;
          justify-content: center;
          align-items: center;
          .country {
            margin-left: pixel-to-rem(4);
            color: $subHeadColor;
          }
        }
      }
    }
    .bio {
      width: 100%;
      padding: pixel-to-rem(20);
      @include genericBoxPattern;
      margin-bottom: pixel-to-rem(20);
      .bio-content {
        font-size: pixel-to-rem(20);
        margin-bottom: pixel-to-rem(10);
        color: $headingColor;
        font-weight: bold;
      }
      .bio-info {
        margin-left: pixel-to-rem(2);
        display: flex;
        justify-content: space-between;
        p {
          color: $subHeadColor;
          &.edit {
            padding-right: pixel-to-rem(5);
            svg {
              fill: $skyBlueMain;
            }
          }
        }
      }
    }
    .education {
      padding: pixel-to-rem(20);
      width: 100%;
      @include genericBoxPattern;
      margin-bottom: pixel-to-rem(20);
      p.p-top {
        font-size: pixel-to-rem(20);
        display: flex;
        justify-content: space-between;
        padding-right: pixel-to-rem(5);
        margin-bottom: pixel-to-rem(10);
        svg {
          fill: $skyBlueMain;
        }
      }
      .p-edu-list {
        .p-edu-list-i {
          display: flex;
          padding: pixel-to-rem(2);
          border-bottom: pixel-to-rem(1) solid #eee;
          padding-top: pixel-to-rem(10);
          padding-bottom: pixel-to-rem(10);
          img {
            height: pixel-to-rem(45);
            padding: pixel-to-rem(2);
          }
          p {
            padding-left: pixel-to-rem(10);
            span.p-name-i {
              font-size: pixel-to-rem(18);
              font-weight: bold;
            }
            span.p-timeline {
              font-weight: bold;
              color: $lightTextColor;
              font-size: pixel-to-rem(14);
            }
            span {
              color: $lightTextColor;
            }
            svg {
              fill: $skyBlueMain;
            }
          }
        }
      }
    }
    .experience {
      padding: pixel-to-rem(20);
      width: 100%;
      @include genericBoxPattern;
      margin-bottom: pixel-to-rem(20);

      .p-exp-list {
        .p-exp-list-i {
          display: flex;
          padding: pixel-to-rem(2);
          border-bottom: pixel-to-rem(1) solid #eee;
          padding-top: pixel-to-rem(10);
          padding-bottom: pixel-to-rem(10);
          img {
            height: pixel-to-rem(45);
            padding: pixel-to-rem(2);
          }
          p {
            padding-left: pixel-to-rem(10);
            span.p-title-i {
              font-weight: bold;
              color: $headingColor;
            }
            span.p-company-i {
              font-size: pixel-to-rem(16);
              font-weight: bold;
              color: $lightTextColor;
            }
            span.p-timeline {
              font-weight: bold;
              color: #696969;
              font-size: pixel-to-rem(14);
            }
            svg {
              fill: $skyBlueMain;
            }
          }
        }
      }
    }
    .skills {
      padding: pixel-to-rem(20);
      width: 100%;
      margin-bottom: pixel-to-rem(20);
      @include genericBoxPattern;
      p.p-top {
        font-size: pixel-to-rem(20);
        display: flex;
        justify-content: space-between;
        padding-right: pixel-to-rem(5);
        svg {
          fill: $skyBlueMain;
        }
      }
      .skills-container {
        padding: pixel-to-rem(5) pixel-to-rem(5) pixel-to-rem(5) 0;
        display: flex;
        flex-wrap: wrap;
        span {
          margin: pixel-to-rem(5);
          padding: pixel-to-rem(10);
          color: $backgroundColor;
          background: $primaryColor;
          border-radius: pixel-to-rem(20);
        }
      }
    }
  }
  @media screen and (max-width: pixel-to-rem(855)) {
    padding: pixel-to-rem(5) pixel-to-rem(15);
  }
}

h2.p-top {
  font-size: pixel-to-rem(20);
  display: flex;
  justify-content: space-between;
  padding-right: pixel-to-rem(5);
  svg {
    fill: $skyBlueMain;
  }
}
