@import '../config.scss';
.broWrapper {
  display: flex;
  margin-top: $navbarHeight;
  .fake-side-nav {
    padding: 50px 10px;
  }
  .bro-right {
    margin-left: 250px;
    padding: 15px 30px 0;
    @media screen and (max-width: 767px) {
      padding: 10px;
    }
  }
  @media screen and (max-width: 855px) {
    display: block;
    .fake-side-nav {
      display: none;
    }
    .bro-right {
      margin-left: 0;
      padding: 5px 15px;
    }
  }
}
.sideNav {
  display: flex;
  padding: 20px 10px;
  width: 250px;
  height: 100vh;
  box-shadow: 0 6px 12px -1px rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  position: fixed;
  .sideNavElement {
    margin-bottom: 8px;
    padding: 10px 10px 10px 10px;
    align-self: stretch;
    display: flex;
    // align-items: center;
    border-radius: rem(3);
    text-decoration: none;
    span {
      font-size: 16px;
      font-weight: bold;
      color: color-get(text-dark);
      svg {
        fill: color-get(text-dark);
      }
    }
    &:hover {
      background-color: #fff;
      box-shadow: 0 6px 12px -1px rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
      border-left: 3px solid color-get(primary);
      text-decoration: none; // to remove the underline from link
    }
  }
  .active {
    background-color: #fff;
    box-shadow: 0 6px 12px -1px rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
    span {
      color: color-get(primary);
      svg {
        fill: color-get(primary);
      }
    }
  }
  @media screen and (max-width: 855px) {
    display: none;
  }
}
// styling the small screen side navigation
.pc-small-screen-sidenav {
  flex: 1;
  display: none;
  button.right {
    background-color: #fff;
    box-shadow: 0 6px 12px -1px rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
    color: color-get(text-dark);
    span {
      justify-content: space-between;
    }
  }
  .nav-button {
    background-color: $backgroundColor;
    color: $navTextColor;
  }
  .pc-collapse-menu {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    .sideNavElement {
      margin-bottom: 5px;
      padding: 10px 10px 10px 10px;
      align-self: stretch;
      box-shadow: 0 6px 12px -1px rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
      background-color: #fff;
      border-radius: 5px;
      span {
        font-size: 16px;
        color: color-get(text-dark);
      }
      &:hover {
        background-color: $backgroundColor;
        border-left: 3px solid $skyBlueMain;
        text-decoration: none; // to remove the underline from link
      }
    }
    .active {
      span {
        color: $skyBlueMain;
        svg {
          fill: $skyBlueMain;
        }
      }
    }
  }
  @media screen and (max-width: 855px) {
    display: block;
    margin: 95px 10px 0;
    position: relative;
  }
}
