//alert
.alert-info-wrapper {
	.alert-info {
		background-color: color-get(info, 100);
		color: color-get(info, 500);
		border-color: transparent;
		display: flex;
	}
	.alert {
		padding: rem(16);
		margin-bottom: rem(21);
		border: rem(1) solid transparent;
		text-align: left;
		border-bottom: rem(3);
		position: relative;
		&.success {
			background-color: color-get(success, 100);
			color: color-get(success, 500);
			border: rem(1) solid color-get(success, 300);
		}
		&.danger {
			background-color: color-get(error, 100);
			color: color-get(error, 500);
			border: rem(1) solid color-get(error, 300);
		}
		&.warning {
			background-color: color-get(warn, 100);
			color: color-get(warn, 500);
			border: rem(1) solid color-get(warn, 300);
		}
	}
	.close-alert {
		position: absolute;
		right: rem(8);
		color: inherit;
		opacity: 0.5;
		cursor: pointer;
	}

	.info-icons {
		padding: rem(2);
		margin-top: rem(-1);
	}
	.content {
		padding: 0 rem(15);
	}
}
