@import "../config.scss";

//generic button
$white: #fdfdfd;
$dark: #181717;

.btn {
  border-radius: rem(5);
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
  font-family: font-family(secondary);
  font-size: rem(16);
  font-weight: 500;
  width: 100%;
  height: 100%;
  border: none;
  text-transform: capitalize;
  span {
    font-size: rem(16);
  }
  .loader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: rem(5);
    }
  }
  &:disabled {
    opacity: 0.3;
    color: #666666;
    cursor: not-allowed;
  }
}

.right {
  span {
    flex-direction: row-reverse;
    svg {
      margin-left: rem(5);
    }
  }
}
.btn-drawing-icon {
  background-color: transparent;
  border: none;
}
.btn-drawing-icon-danger {
  background-color: color-get(error);
  border: none;
  color: #fff;
}
.btn-drawing-icon-danger:disabled {
  color: #fff;
  cursor: not-allowed;
}

.btn--primary--solid {
  background-color: color-get();
  color: $white;
  border: none;
  &:disabled {
    color: #fff;
  }
}

.btn--default--solid {
  background-color: #fff;
  color: $dark;
  border: none;
  &:disabled {
    color: lightgray;
  }
}

.btn--warning--solid {
  background-color: color-get(warn);
  color: #fff;
  border: none;
}
.btn--success--solid {
  background-color: color-get(success);
  color: $white;
  border: none;
}

.btn--danger--solid {
  background-color: color-get(error);
  color: $white;
  border: none;
  &:disabled {
    color: #fff;
  }
}
.btn-circle {
  background-color: transparent;
  color: color-get(primary);
  border: rem(1) solid color-get(primary);
  &:hover {
    background-color: color-get();
    color: $white;
  }
  svg {
    margin-right: 0 !important;
  }
}
.btn--circle-icons {
  border-radius: 50%;
  height: rem(40);
  width: rem(40);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  border: none;
  background-color: color-get();
}

.btn--primary--outline {
  background-color: transparent;
  color: color-get();
  box-shadow: inset 0 0 0 rem(1) color-get();
  &:hover {
    box-shadow: inset 0 0 0 rem(1.5) color-get();
  }
}

.btn--warning--outline {
  background-color: transparent;
  color: color-get(warn);
  box-shadow: inset 0 0 0 rem(1) color-get(warn);
  &:hover {
    box-shadow: inset 0 0 0 rem(1.5) color-get(warn);
  }
}
.btn--success--outline {
  background-color: transparent;
  color: color-get(success);
  box-shadow: inset 0 0 0 rem(1) color-get(success);
  &:hover {
    box-shadow: inset 0 0 0 rem(1.5) color-get(success);
  }
}

.btn--danger--outline {
  background-color: transparent;
  color: color-get(error);
  box-shadow: inset 0 0 0 rem(1) color-get(error);
  &:hover {
    box-shadow: inset 0 0 0 rem(1.5) color-get(error);
  }
}

.btn--small {
  padding: rem(6) rem(12);
  font-size: rem(16);
}

.btn--medium {
  padding: rem(10) rem(20);
  font-size: rem(18);
  @media screen and (max-width: rem(767)) {
    padding: rem(10) rem(15);
    font-size: rem(16);
  }
}

.btn--large {
  padding: rem(15) rem(30);
  font-size: rem(20);
  @media screen and (max-width: rem(767)) {
    padding: rem(10) rem(15);
    font-size: rem(16);
  }
}
