@import "../config.scss";

//generic button
$primary: #0056b8; //#4f6df5  //#0056B8
$warning: #ec971f;
$danger: #c9302c;
$success: #449d44;
$white: #fdfdfd;
$dark: #181717;

.btn {
  border-radius: pixel-to-rem(20);
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
  font-family: font-family(secondary);
  font-size: pixel-to-rem(16);
  font-weight: 500;
  width: 100%;
  height: 100%;
  border: none;
  span {
    font-size: pixel-to-rem(16);
  }
  .loader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: pixel-to-rem(5);
    }
  }
  &:disabled {
    opacity: 0.3;
    color: #666666;
    cursor: not-allowed;
  }
}

.right {
  span {
    flex-direction: row-reverse;
    svg {
      margin-left: pixel-to-rem(5);
    }
  }
}
.btn-drawing-icon {
  background-color: transparent;
  border: none;
}
.btn-drawing-icon-danger {
  background-color: #c9302c;
  border: none;
  color: #fff;
}
.btn-drawing-icon-danger:disabled {
  color: #fff;
  cursor: not-allowed;
}

.btn--primary--solid {
  background-color: $primary;
  color: $white;
  border: none;
  &:disabled {
    color: #fff;
  }
}

.btn--warning--solid {
  background-color: $warning;
  color: $dark;
  border: none;
}
.btn--success--solid {
  background-color: $success;
  color: $white;
  border: none;
}

.btn--danger--solid {
  background-color: $danger;
  color: $white;
  border: none;
  &:disabled {
    color: #fff;
  }
}
.btn-circle {
  background-color: transparent;
  color: #286090;
  border: pixel-to-rem(1) solid #286090;
  &:hover {
    background-color: $primary;
    color: $white;
  }
  svg {
    margin-right: 0 !important;
  }
}
.btn--circle-icons {
  border-radius: 50%;
  height: pixel-to-rem(40);
  width: pixel-to-rem(40);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  border: none;
  background-color: $primary;
}

.btn--primary--outline {
  background-color: transparent;
  color: $primary;
  box-shadow: inset 0 0 0 pixel-to-rem(1) $primary;
  &:hover {
    box-shadow: inset 0 0 0 pixel-to-rem(1.5) $primary;
  }
}

.btn--warning--outline {
  background-color: transparent;
  color: $warning;
  box-shadow: inset 0 0 0 pixel-to-rem(1) $warning;
  &:hover {
    box-shadow: inset 0 0 0 pixel-to-rem(1.5) $warning;
  }
}
.btn--success--outline {
  background-color: transparent;
  color: $success;
  box-shadow: inset 0 0 0 pixel-to-rem(1) $success;
  &:hover {
    box-shadow: inset 0 0 0 pixel-to-rem(1.5) $success;
  }
}

.btn--danger--outline {
  background-color: transparent;
  color: $danger;
  box-shadow: inset 0 0 0 pixel-to-rem(1) $danger;
  &:hover {
    box-shadow: inset 0 0 0 pixel-to-rem(1.5) $danger;
  }
}

.btn--small {
  padding: pixel-to-rem(6) pixel-to-rem(12);
  font-size: pixel-to-rem(16);
}

.btn--medium {
  padding: pixel-to-rem(10) pixel-to-rem(20);
  font-size: pixel-to-rem(18);
  @media screen and (max-width: pixel-to-rem(767)) {
    padding: pixel-to-rem(10) pixel-to-rem(15);
    font-size: pixel-to-rem(16);
  }
}

.btn--large {
  padding: pixel-to-rem(15) pixel-to-rem(30);
  font-size: pixel-to-rem(20);
  @media screen and (max-width: pixel-to-rem(767)) {
    padding: pixel-to-rem(10) pixel-to-rem(15);
    font-size: pixel-to-rem(16);
  }
}
