@import "../config.scss";

.pc-collapse {
  background-color: $backgroundColor;
  overflow: hidden;
}

@keyframes slidedown390 {
  0% { height: 0; }
  100% { height: 390px; }
}

@keyframes slideup390 {
  0% { height: 390px; }
  100% { height: 0px; }
}

@keyframes slidedown200 {
  0% { height: 0; }
  100% { height: 200px; }
}

@keyframes slideup200 {
  0% { height: 200px; }
  100% { height: 0px; }
}
