.intro-banner {
    margin-top: $navbarHeight;
    height: rem(120);
    text-align: center;
    padding: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        color: #fff;
        text-transform: capitalize;
        margin-bottom: rem(10);
    }
    &__subTitle {
        color: #fff;
        font-family: font-family(secondary);
    }
}
