@import "../config.scss";

.no-record-found {
  padding: 20px;
  .img-wrapper {
    width: rem(90);
    height: rem(90);
    margin: 0 auto;
    margin-bottom: rem(15);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .no-record-title {
    text-align: center;
    color: color-get(text-dark);
    font-weight: 600;
  }
}
