@import '../config.scss';

.pc-popover-container {
  position: absolute;
  top: 0;
  right: 10px;
  .pc-popover-wrapper {
    position: relative;
    .pc-content-container {
      position: absolute;
      top: -58px;
      right: 0;
      .pc-popover {
        padding: 10px 20px;
        border-radius: 5px;
        // min-width: 200px;
        // border: 1px solid #000;
        background-color: #fff;
        box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16),
          0 4px 8px 0 rgba(17, 22, 26, 0.08),
          0 8px 16px 0 rgba(17, 22, 26, 0.08);
        .pc-popover-arrow {
          height: 10px;
          position: absolute;
          width: 15px;
          top: 36px;
          right: 20px;
          &::before {
            border-radius: 2px;
            content: '';
            display: block;
            position: absolute;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            height: 20px;
            margin: 5px;
            width: 20px;
            background-color: #fff;
            border-right: 1px solid rgba(17, 22, 26, 0.16);
            border-bottom: 1px solid rgba(17, 22, 26, 0.16);
          }
        }
        .pc-popover-content {
          text-align: center;
        }
      }
    }
  }
}
