@import "../config.scss";

.popup-container {
  overflow: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  @include z-index(popup);
  .popup-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 1;
    background-color: rgba(16, 22, 26, 0.7);
    overflow: auto;
    user-select: none;
    @include z-index(overlay);
  }
  .pop-main-wrapper {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    pointer-events: none;
    user-select: none;
    width: 100%;
    @include z-index(popup);
    &.pop-up-open {
      animation: zoomin 0.5s;
    }
    &.pop-up-closed {
      animation: zoomout 0.5s;
    }
    &.hide-popup {
      transform: scale(0);
    }
    .popup-wrapper {
      display: flex;
      flex-direction: column;
      margin: 30px 0;
      padding: 10px;
      pointer-events: all;
      user-select: text;
      width: 100%;
      margin-left: 5%;
      margin-right: 5%;
      background-color: $backgroundColor;
      border-radius: 10px;
      // overflow-y: scroll;
      position: relative;
      .pc-popup-header {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        .pc-popup-icon {
          margin-right: 15px;
          svg {
            fill: #0056b8;
          }
        }
        .pc-popup-title {
          font-size: 18px;
          color: $headingColor;
        }
      }
      .close-btn {
        position: absolute;
        right: 3px;
        top: 2px;
        font-size: 16px;
        font-weight: 700;
        background: #000;
        height: 20px;
        width: 20px;
        opacity: 0.8;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 20;
      }
    }
  }
}

@keyframes zoomin {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
