@import "../config.scss";

.pc-portal {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  .pc-portal-overlay {
    bottom: 0;
    left: 0;
    position: static;
    right: 0;
    top: 0;
    z-index: 20;
    .pc-popover-content {
      position: absolute;
      @include z-index(popover);
      box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 2px 4px rgb(16 22 26 / 20%),
        0 8px 24px rgb(16 22 26 / 20%);
      border-radius: 10px;
      // overflow: hidden;
      background-color: #fff;
      padding: 5px;
    }
  }
}
