.pc-star-rating {
    margin-bottom: rem(10);
    .star-label{
        color: color-get(text-light);
        margin-bottom: 5px;
        font-size: 14px;
    }
    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .active {
        color: color-get(warn, 500);
    }
    .inactive {
        color: #ccc;
    }
}
