@import "../config.scss";

.tag-input {
  background-color: #fff;
  border-radius: rem(3);
  padding: 2px;
  border: 1px solid #bbb;
  display: flex;
  flex-wrap: wrap;
  .each-tag {
    background-color: $primaryColor;
    color: #fff;
    padding: 3px 0px 3px 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 14px;
    .tag-del-btn {
      background-color: $primaryColor;
      border: none;
      color: #c3c3c3;
      font-weight: bold;
      margin-left: 1px;
      font-size: 15px;
      cursor: pointer;
    }
  }
  input {
    border: none;
    margin-left: 5px;
    padding: 5px 2px;
    &:focus {
      outline: none;
    }
  }
}
