@import "./config.scss";
.archive {
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  margin-top: rem(30);

  @media screen and (max-width: 576px) {
    margin-top: rem(10);
  }

  .ar-top {
    h2 {
      color: color-get(text-dark);
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 10px;
      position: relative;
    }
  }
  .ar-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (max-width: 576px) {
      margin-bottom: 25px;
    }
    .ar-left {
      width: 70%;
      padding-right: 30px;
      position: relative;
      @media screen and (max-width: 1199px) {
        width: 100%;
        padding-right: 0;
      }
      .blog-search {
        position: sticky;
        top: rem(90);
        z-index: 2;
        .icon.right {
          @media screen and (min-width: rem(1200)) {
            display: none;
          }
        }
      }
    }
    .ar-right {
      padding: 0;
      p.ar-right-top {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: color-get(text-dark);
      }
    }
    @media screen and (max-width: 767px) {
      .ar-left {
        width: 100%;
        padding-right: 0;
      }
      .ar-right {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

// styling single archive element to make it global
.ar-left-i {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  .bookmark-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    &.bookmarked {
      svg {
        color: color-get(text-dark);
      }
    }
    svg {
      color: color-get(text-light, 300);
      &:hover {
        color: color-get(text-dark);
      }
    }
  }
  .ar-i-img {
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .ar-i-detail {
    flex-direction: column;
    padding-left: 20px;
    p {
      display: flex;
      align-items: center;
      color: rgb(0, 0, 0);
      font-size: 8px;
    }
    .author {
      font-size: 14px;
    }
    .author-name {
      font-size: rem(14);
      font-weight: bold;
    }
    .pc-date {
      font-size: 12px;
      color: color-get(text-light);
      margin-left: 10px;
      display: block;
    }
  }
  .ar-i-title {
    color: color-get(text-dark);
    font-size: 22px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  .pc-blog-desc {
    word-break: break-word;
    line-height: 1.6;
    color: color-get(text-light) !important;
    font-size: 16px !important;
    margin-bottom: 12px;
  }
  .ar-i-counts {
    display: flex;
    .label {
      margin-right: 35px;
      color: #747474;
      font-size: 18px;
      .count {
        margin-left: 5px;
        font-size: rem(16);
      }
      svg {
        fill: color-get(text-light, 300);
      }
    }
  }
}

.public-blog {
  margin: 110px auto 20px;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  max-width: 1140px;
  padding: 20px;
  @include genericBoxPattern;
  .public-blog-title {
    padding-top: 20px;

    h1 {
      margin-top: 20px;
      margin: 0 auto;
      margin-bottom: 20px;
      display: flex;
      font-size: 45px;
      width: 100%;
      justify-self: center;
      text-align: left;
      font-weight: 800;
      text-transform: capitalize;

      @media screen and (max-width: 480px) {
        font-size: 30px;
      }
    }
    .author-user {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .auth-con {
        display: flex;
        align-items: center;
        .profile-icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 7px;
        }
        .author-detail {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          font-weight: bold;
          font-size: 18px;

          span {
            margin-left: 10px;
            font-size: 12px;
            font-weight: light;
          }
        }
      }

      @media screen and (max-width: 480px) {
        display: block;
      }
    }
  }
  .pc-blog-cover-image {
    position: relative;
    padding-bottom: 35%;
    z-index: 1;

    @media screen and (max-width: 576px) {
      padding-bottom: 60%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .public-blog-content {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 30px;
    position: relative;

    #blogContent {
      pre {
        white-space: pre-wrap;
        &.ql-syntax {
          background: #272822;
          color: #f8f8f2;
          padding: rem(16) rem(24);
          margin: rem(10) 0;
        }
      }

      p {
        word-break: break-word;
        color: rgba(41, 41, 41, 1) !important;
        .ql-size-small {
          font-size: rem(15);
        }
        .ql-size-large {
          font-size: rem(30);
        }
        .ql-size-huge {
          font-size: rem(50);
        }
      }
      .ql-align-right {
        text-align: right;
      }
      .ql-align-center {
        text-align: center;
      }
      .ql-align-justify {
        text-align: justify;
      }
      a {
        color: color-get(primary) !important;
      }
      b {
        color: rgba(41, 41, 41, 1) !important;
      }
      li {
        color: rgba(41, 41, 41, 1);
        list-style-position: inside !important;
        padding-left: 16px;
      }
      ul {
        li {
          list-style: disc;
        }
      }
      ol {
        li {
          list-style: decimal;
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .response {
    display: flex;
    .top-label {
      margin-bottom: 20px;
      display: flex;
      h1 {
        font-size: 22px;
      }
    }
    .comment-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 100%;

      .reaction-section {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          font-weight: bold;
          font-size: 16px;
          margin-right: 10px;
        }
        .thumbs-up-btn {
          border: 1px solid white;
          font-size: 22px;
          color: black;
          background-color: white;
        }
        span {
          color: black;
        }
        .comment-icon {
          font-size: 22px;
          margin-left: 30px;
          margin-right: 3px;
        }
      }
      .comment-area {
        display: flex;
        position: relative;
        margin-bottom: 10px;
        .profile-icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
        }
        .formLabel {
          margin-bottom: 0;
          margin-left: rem(10);
          .pc-text-area {
            margin-bottom: 0;
          }
        }
      }
      .cmt-btn-wrapper {
        display: flex;
        justify-content: flex-end;
        .post-btn {
          button {
            span {
              display: flex;
            }
          }
        }
      }
      .responses {
        .res-label {
          color: rgb(37, 37, 37);
          font-size: 16px;
          margin-top: 40px;
          width: 130px;
          h3 {
            margin-bottom: 1px !important;
            text-decoration: underline;
          }
        }
        .i-response {
          margin: 20px 0;
          display: flex;
          .pc-profile-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            flex-shrink: 0;
            overflow: hidden;
            margin-right: 20px;
          }
          .comment-content {
            position: relative;
            border-radius: 5px;
            padding: 20px;
            background: $backgroundColor;
            width: 100%;
            border-radius: 5px;

            a {
              font-weight: bold;
            }
            .com-desc {
              word-break: break-word;
              line-height: 1.6;
              margin: 5px 0px;

              p {
                color: black;
                font-size: 17px;
              }
              .pc-comment-edit {
                display: flex;
                flex-direction: column;
                .formLabel {
                  margin-bottom: 0;
                  .pc-text-area {
                    font-size: 16px;
                    flex: 1;
                    margin-bottom: 0;
                  }
                }
                .btns {
                  margin-top: 10px;
                  display: flex;
                  justify-content: flex-end;
                  .btn--danger--outline {
                    margin-right: 5px;
                  }
                  .cancel-btn {
                    background-color: $backgroundColor;
                    color: black;
                    margin-right: 10px;
                  }
                  .comment-btn {
                    background-color: $primaryColor;
                    color: white;
                  }
                }
              }
              .com-date {
                color: #786a6c;
                font-size: 10px !important;
              }
            }
            .com-config {
              small {
                cursor: pointer;
                color: $navTextColor;
                margin-right: 7px;
                u {
                  text-decoration: none;
                  color: #786a6c;
                }
                &.danger u {
                  &:hover {
                    text-decoration: underline;
                  }
                }
                &.primary u {
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          .comment-content::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-right: 36px solid $backgroundColor;
            border-bottom: 10px solid transparent;
            margin: -10px 0 0 -40px;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .top-label {
        display: flex;
        flex-direction: column;
      }
      .reaction-section {
        margin-left: 0px !important;
        margin-bottom: 20px;
      }
      .res-label {
        font-size: 16px;
      }
      .com-date {
        margin-left: auto !important;
      }
    }
    @media screen and (max-width: 480px) {
      .top-label {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .ar-left {
    width: 100% !important;
    padding-right: 0px !important;
    .ar-i-detail {
      width: 100%;
    }
  }
  .ar-right {
    .popular-blog {
      justify-content: flex-start !important;
      margin: 0 auto !important;
      margin-bottom: 30px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .ar-left-i {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;

    .ar-i-img {
      min-height: 100%;
      max-height: 100%;
      min-width: 100% !important;
      max-width: 100%;
    }
    .ar-i-detail {
      padding: 0px;
    }
  }
}

//blog tags
.blog-tags {
  display: inline-block;
  vertical-align: top;
  color: color-get(text-light);
  padding: rem(6) rem(15);
  margin: 0 rem(5) rem(5) 0;
  cursor: pointer;
  border-radius: rem(18);
  border: rem(1) solid color-get(border);
  background-color: color-get(border, 100);
  &__title {
    text-transform: lowercase;
  }
}

.topics {
  &__header {
    border-bottom: rem(1) solid color-get(border);
    height: rem(52);
    padding-left: rem(14);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__filter {
    padding: rem(12) rem(14) rem(0);
  }
  &__body {
    padding: rem(0) rem(14) rem(12);
    height: rem(300);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.topic-list {
  &__item {
    padding: rem(10) rem(12);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--active {
      background: color-get(text-light, 100);
    }
    svg {
      color: color-get(text-light, 300);
    }
    &:hover {
      background: color-get(text-dark, 100);
    }
  }
}
.topic-filter-icon {
  position: relative;
  width: rem(48);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: color-get(text-dark, 100);
  }
  svg {
    color: color-get(text-light, 300);
  }
  &__count {
    position: absolute;
    top: rem(6);
    left: rem(4);
    width: rem(20);
    height: rem(20);
    background: color-get(primary);
    border-radius: 50%;
    font-size: rem(12);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.no-blog {
  padding: rem(16) rem(24);
  width: 100%;
  &__figure {
    width: rem(200);
    height: rem(150);
    margin: 0 auto;
    margin-bottom: rem(10);
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    text-align: center;
    font-weight: 600;
    color: color-get(text-dark);
  }
}

.mobile-topic-section {
  @include genericBoxPattern;
  max-width: rem(340);
  min-width: rem(320);
  position: absolute;
  right: 0;
  z-index: 2;
  border: rem(1) solid color-get(border);
  .topic-filter-icon {
    @media screen and (max-width: rem(1199)) {
      display: none;
    }
  }
}
