@import './config.scss';

// styling the popover form in here
.popover-form {
  padding: 20px 15px;
  position: relative;
  overflow-y: scroll;
  border-top: 1px solid #ddd;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
  &.bio {
    .bp3-form-group {
      margin-bottom: 2px;
    }
  }
  div.top {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
  }
  .bp3-form-group {
    margin: 0;
  }
  .pc-pop-delete-button {
    margin-top: 5px;
  }
}

// styling the delete popover container
.delete-popover {
  padding: 5px 0px;
  .top {
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
  }
  .popover-button {
    text-align: center;
    display: flex;
    max-width: 250px;
    margin: 0 auto;
    button {
      margin-right: 10px;
    }
  }
}
