@import './config.scss';

.drawing-board {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  .drawing-wrapper {
    background: #f6f7fd;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    .draw-title {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      color: $darkBlue;
      padding: 3px;
      h2 {
        margin-bottom: 10px;
      }
    }
    .pc-drawing-wrapper {
      display: flex;
      position: relative;
      #canvasWrapper {
        width: 100%;
        height: calc(100vh - 100px - 25px);
        border-radius: 10px;
        overflow: hidden;
        @include genericBoxPattern;
        margin-bottom: 10px;
        @media screen and (min-width: 856px) {
          max-width: calc(100% - 55px);
          margin-right: 20px;
        }
        @media screen and (max-width: 855px) {
          height: calc(100vh - 120px - 25px);
        }
      }
      .draw-tools {
        max-width: 55px;
        width: 100%;
        .tool-label {
        
          font-size: 18px;
          background: #286090;
          color: $backgroundColor;
          text-align: center;
          width: 100%;
          padding: 3px;
          margin-bottom: 10px;
        }
        .pc-mobile,
        .pc-tool-toggle {
          display: none;
        }
        @media screen and (max-width: 855px) {
          .pc-desktop {
            display: none;
          }
          .pc-tool-toggle,
          .pc-mobile {
            display: block;
            max-width: 55px;
            width: 100%;
          }
        }
        .tool-container {
          .pc-tool-group {
            @include genericBoxPattern;
            text-align: center;
            padding: 10px 5px;
            @media screen and (max-width:855px) {
              padding: 5px;
            }
          }
          .pc-create-tool,
          .pc-remove-tools {
            margin-bottom: 10px;
            @media screen and (max-width:855px) {
              margin-bottom: 5px;
            }
          }
          .pc-draw-btn {
            input {
              border: none;
              height: 30px;
              margin-top: 5px;
              cursor: pointer;
              &:focus {
                outline: none;
              }
            }
          }
          .pc-draw-btn-wrapper {
            margin-bottom: 10px;
            @media screen and (max-width:855px) {
              margin-bottom: 5px;
            }
            .tooltip {
              display: block;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    @media screen and (max-width: 855px) {
      .draw-tools.pc-draw-col {
        position: absolute;
        right: -30px;
        max-width: 90px;
        width: 100%;
        .pc-tool-toggle {
          margin-bottom: 10px;
          @media screen and (max-width:855px) {
            margin-bottom: 5px;
          }
          button {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px auto 0;
            background: rgba(255, 82, 82, 1);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
            color: #fff;
            transform: scale(1);
            animation: pulse 2s infinite;
          }
        }
      }
    }
    @media screen and (max-width: 470px) {
      .draw-tools {
        .tool-label {
          display: none;
        }
      }
    }
  }
}

.bp3-button.bp3-large.bp3-intent-success {
  box-shadow: unset !important;
  background-color: #175fc7 !important;
  border-radius: 5px !important;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
