/* this is navbar
there is navigation fixing
top attachment etc.
*/
@import "./config.scss";
.navbar {
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: fixed;
  padding: 0 rem(32);
  width: 100%;
  height: $navbarHeight;
  flex-wrap: nowrap;
  background-color: $backgroundColor;
  box-shadow: 0 rem(1) rem(2) $normalShadowColor;
  z-index: 20; // above all putting navbar at the top of the heap.
  &.pcm-nav {
    box-shadow: none;
    border: rem(1) solid color-get(border);
  }
  .navbar-left {
    display: flex;
    flex-direction: row;
  }
  .navbar-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;

    a {
      margin: 0 rem(15);
      text-decoration: none;
    }
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;

    .right-most-elements {
      height: 100%;
      display: flex;
      align-items: center;
      .navbar-profile {
        height: rem(60);
      }
      .navbar-item {
        margin: 0 rem(20);
        &.no-right-margin {
          margin-right: 0;
        }
      }
    }

    .more-icon {
      display: none;
    }

    .navbar-item .login-btn {
      background-color: $primaryColor;
      color: white;
      padding: rem(10) rem(20);
      border-radius: rem(5);
    }
  }
  .navbar-item {
    font-size: rem(16);
    font-weight: 800;
    color: color-get(text-dark);
    position: relative;
    text-transform: capitalize;
    .bell-icon {
      font-size: rem(25);
    }
    .message-icon {
      font-size: rem(25);
    }
    .profile-icon {
      width: rem(60);
      height: rem(60);
      border-radius: 50%;
      overflow: hidden;
      border: rem(3) solid $primaryColor;
      object-fit: cover;
    }
    &.pc-dashboard-icon {
      display: flex;
      flex-direction: row-reverse;
      margin-left: rem(5);
      border-radius: 50%;
      .pc-dot {
        position: absolute;
        right: rem(5);
        height: rem(7);
        width: rem(7);
        border-radius: rem(3);
        z-index: 10;
      }
      .pc-dashboard {
        display: flex;
        align-items: center;
        margin-left: rem(5);
        font-size: rem(12);
        color: white;
      }
    }
  }
  a:hover {
    text-decoration: none !important;

    .navbar-item {
      color: $primaryColor;
      .pc-dot {
        background: green;
      }
    }
  }
  a.active {
    font-weight: bold !important;
    color: $primaryColor !important;
    .navbar-item {
      font-weight: bold !important;
      color: $primaryColor !important;
    }
  }

  @media screen and (max-width: rem(767)) {
    .navbar-center {
      display: none;
    }
    .navbar-item {
      .login-btn {
        padding: rem(10) rem(15);
      }
    }
    .navbar-left {
      display: none;
    }
    .navbar-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .more-icon {
        display: block;
        color: color-get(text-dark);
        svg {
          width: rem(30) !important;
          height: rem(40) !important;
          margin-left: rem(10);
        }
      }
    }
    padding: rem(10);

    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: rem(575)) {
    .navbar-more-container {
      .more-icon {
        display: block;
      }
      svg {
        fill: $darkBlue;
        height: rem(27);
        width: rem(27);
      }
    }
  }
}

// styling for the drop menu in the small screens
.pc-drop-menu {
  display: flex;
  flex-direction: column;
  padding: rem(10);
  .pc-drop-menu-link {
    padding: rem(20) rem(10);
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    border-bottom: rem(1) solid $normalBorder;
    &.active {
      color: $primaryColor;
    }
  }
}

.pc-dropdown-drawer {
  .bp3-drawer-header {
    h4 {
      margin-right: rem(25);
      margin-top: rem(20);
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      svg {
        color: black;
      }
    }
  }
}
