@import "./config.scss";

.ar-right {
  width: 30%;
  @include genericBoxPattern;
  padding: rem(16) rem(13);
  height: 50%;
  position: sticky;
  top: 105px;
  margin-bottom: rem(30);
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  .popular-on-pc {
    .popular-wrapper {
      p.ar-right-top {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: color-get(text-dark);
      }
      .popular-blog {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin-top: 10px;
        border-bottom: 1px solid #d1d1d1;
        padding-bottom: 10px;
        .ar-i-img {
          min-height: 100px;
          min-width: 130px;
          background-size: cover !important;
          background-position: center;
        }
        .ar-i-detail {
          padding-left: 10px;
          line-height: 1.6;
          a {
            font-weight: bold;
            font-size: rem(14);
          }
          .blog-title {
            font-size: 16px;
            font-weight: 600;
            display: block;
            color: color-get(text-dark);
            line-height: 1.6;
            text-transform: capitalize;
          }
          .pc-date {
            color: $lightTextColor;
          }
        }
      }
      .popular-user {
        margin: 10px 0px;
        border-bottom: 1px solid #d1d1d1;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-detail-wrapper {
          display: flex;
          align-items: center;
        }
        .user-image {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          flex-shrink: 0;
          margin-right: 10px;
        }
        .user-detail {
          padding-top: 5px;
          text-align: left;
          .user-bio {
            font-size: 12px;
            color: color-get(text-light);
            margin-bottom: 2px;
          }
        }
        .org-detail {
          text-align: left;
        }
        .name {
          font-size: 15px;
          font-weight: bold;
          line-height: 1.6;
        }
        .user-location {
          font-size: rem(12);
          color: color-get(text-light);
        }
        .follow-mentor-btn {
          .followMentorBtn {
            .btn {
              span {
                svg {
                  margin-right: 0 !important;
                }
              }
            }
          }
        }
      }
      .popular-course {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        .course-description {
          padding-left: 10px;
          a {
            font-size: 14px;
          }
          .course-rating {
            margin-top: 5px;
          }
        }
        .course-thumbnail {
          height: 100px;
          width: 100px;
          min-width: 100px;
          border: 1px solid #d1d7dc;
          position: relative;
          &::before {
            content: "";
            background: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .course-description {
          .course-title {
            display: block;
            line-height: 1.6;
            font-size: 16px;
            font-weight: 600;
            margin-top: 2px;
            margin-bottom: 2px;
            display: block;
            color: #333333;
            line-height: 1.6;
            text-transform: capitalize;
          }
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        .popular-container {
          display: flex;
          flex-wrap: wrap;
          margin-left: -15px;
          margin-right: -15px;
          .popular-blog {
            padding-right: 15px;
            padding-left: 15px;
            border-bottom: none;
            max-width: 50%;
            flex: 0 0 50%;
          }
          .popular-user {
            padding-left: 15px;
            padding-right: 15px;
            max-width: 50%;
            flex: 0 0 50%;
            border-bottom: none;
          }
        }
      }
    }
  }
}
