@import "./config.scss";

.pc-pricing-plan {
  padding-top: 40px;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  .pc-cardlist-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }
    .pc-price-card-wrapper {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px;
      .pc-price-containers {
        @include genericBoxPattern;
        .pc-price-name-and-desc {
          text-align: center;
          h4 {
            font-size: 32px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: rem(5);
          }
          p {
            min-height: rem(42);
          }
        }
        .pc-plan-feature-list {
          margin: rem(10) 0;
          padding: rem(12);
          background-color: #fafbfc;
          ul {
            li {
              display: flex;
              margin: rem(4) 0;
              position: relative;
              padding-left: rem(15);
              padding-right: rem(15);
              img {
                margin-right: rem(6);
                margin-top: 2px;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
              }
              .price-info {
                display: flex;
                justify-content: space-between;
                p {
                  font-size: rem(14);
                  margin-left: rem(3);
                }
                .price-stats {
                  font-weight: 600;
                  position: absolute;
                  right: 0;
                }
              }
            }
          }
        }
        .pc-price-and-submit {
          display: flex;
          flex-direction: column;
          .pc-plan-price {
            display: flex;
            justify-content: center;
            align-items: center;
            .pc-price {
              font-size: 40px;
              font-weight: 600;
              color: color-get(text-dark);
            }
            .pc-plan-month-user {
              margin-left: 8px;
              font-weight: 600;
            }
          }
          .pc-cta-btn {
            margin: 8px;
          }
        }
        .pc-card {
          padding: rem(16);
        }
      }

      @media screen and (min-width: 544px) {
        max-width: 340px;
      }
    }
  }
}
