@import "./config.scss";

.search-result {
  // this is for footer
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  max-width: 1140px;
  margin-top: rem(30);
  margin-bottom: rem(50);
  .filter-toolbar {
    min-height: $toolbarHeight;
    width: 100%;
    position: sticky;
    top: $navbarHeight;
    z-index: 2;

    .filter-control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .filter {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        display: none;
      }
      .filter-inputs {
        display: flex;
        justify-content: space-between;
        max-width: 85%;
        flex: 0 0 85%;
        .formLabel {
          margin-bottom: 0;
          @media screen and (max-width: rem(991)) {
            margin-bottom: rem(5);
          }
          select {
            margin-bottom: 0;
          }
        }
        .input-group {
          display: flex;
          align-items: center;
          max-width: 50%;
          flex: 0 0 50%;
          margin-left: 10px;

          .select-country {
            width: 48%;
            select {
              width: 100%;
            }
          }
          .select-industry {
            width: 48%;
            @media screen and (min-width: rem(992)) {
              margin-left: rem(10);
            }
            select {
              width: 100%;
            }
          }
        }
        .select-language {
          max-width: 25%;
          flex: 0 0 25%;
          select {
            width: 100%;
          }
        }
      }
      .filter-apply-btn {
        background-color: $primaryColor;
        border: none;
        color: white;
        border-radius: 5px;
        width: 100px;
        padding: 8px 10px;
        margin-left: 18px;
        text-transform: capitalize;
        justify-self: flex-end;
        font-size: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
      }
      .pc-collapse {
        display: none;
        @media screen and (max-width: rem(991)) {
          display: block;
          background-color: #fff;
        }
      }
    }
    .pc-filter-button {
      background-color: white;
      color: black;
      border: none;
    }
    .btn-group {
      margin-left: 90px;
      vertical-align: middle;
      border: none;
      button {
        border: none;

        span {
          padding: 6px 10px;
          border: none;
        }
      }
    }
    input#key {
      border: 1px solid rgb(90, 90, 90);
      background-color: white;
      outline: none;
      border-radius: 5px;
      color: rgb(90, 90, 90);
    }
  }
  .result-list {
    flex: 0.7;
    .label {
      opacity: 1;
      font-weight: bold;
      font-size: 16px;
      color: color-get(text-dark);
      text-transform: uppercase;
      margin-bottom: rem(10);
    }

    .i-result {
      width: 100%;
      border-bottom: 1px solid #ececec;
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .result-details {
        display: flex;
        align-items: center;
      }
      .img-con {
        border: 1px solid $normalBorder;
        border-radius: 50%;
        overflow: hidden;
        width: 70px;
        height: 70px;
      }
      .desc-con {
        margin-left: 15px;
        .name {
          font-size: 16px;
          font-weight: bold;
        }
        .location {
          opacity: 0.8;
          display: flex;
          div {
            display: flex;
            align-items: center;
          }
          .country {
            text-transform: capitalize;
            font-size: 12px;
          }
        }
        .user-bio {
          font-size: 14px;
          color: color-get(text-dark);
          margin-bottom: 2px;
          font-weight: bold;
        }
      }
      .result-btn-group {
        .follow-btn {
          border: none;
          background-color: white;
          border: 1px solid $primaryColor;
          color: $primaryColor;
          margin-left: 30px;
          align-self: center;
          padding: 8px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 15px;
        }
        .msg-btn {
          border: none;
          outline: none;
          background-color: transparent;
          border: 1px solid $primaryColor;
          color: $primaryColor;
          align-self: center;
          padding: 8px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 15px;
          margin-left: 10px;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .search-content {
    display: flex;
    .search-content-left {
      max-width: 70%;
      flex: 0 0 70%;
      padding-right: 30px;
      .result-wrapper {
        margin-bottom: 20px;
      }
    }
    .search-content-right {
      max-width: 30%;
      flex: 0 0 30%;
      @include genericBoxPattern;
      padding: 20px 13px;
      position: sticky;
      top: 170px;
      height: 50%;
      overflow-y: auto;

      .users-head {
        font-weight: 700;
        color: color-get(text-dark);
      }

      .search-content-right-top {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      .search-content-left {
        max-width: 100%;
        flex: 0 0 100%;
        padding-right: 0;
      }
      .search-content-right {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    // Hidding arrow icon in filter toolbar for screen size greater than 414px
    .arrow-icon {
      display: none;
    }
  }

  @media screen and (max-width: rem(991)) {
    margin-bottom: 25px;
    .filter-toolbar {
      position: relative;
      top: 0;
      z-index: 0;
      .filter-control {
        position: relative;
        flex-direction: column;
        align-items: unset;
        .filter-inputs {
          flex-direction: column;
          max-width: 100%;
          flex: 0 0 100%;
          align-items: unset;
          .search {
            max-width: 100%;
            flex: 0 0 100%;
          }
          .input-group {
            max-width: 100%;
            flex: 0 0 100%;
            flex-direction: column;
            margin-left: 0;
            .select-country,
            .select-industry {
              width: 100%;
            }
          }
          .select-language {
            margin-bottom: 10px;
            max-width: 100%;
            flex: 0 0 100%;
            margin-left: 0;
            select {
              margin: 0;
            }
          }
          &.pc-desktop-filter {
            display: block;
            @media screen and (max-width: rem(991)) {
              display: none;
            }
          }
        }
        .filter {
          display: block;
          text-align: center;
          margin-bottom: 10px;
        }
        .filter-apply-btn {
          margin-left: 0;
        }
      }
      .arrow-icon {
        height: 20px;
        width: 20px;
        display: block;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding: 10px;
    .result-list {
      .i-result {
        .result-details {
          margin-bottom: 15px;
          display: block;
          .img-con {
            margin-bottom: 10px;
          }
          .desc-con {
            margin-left: 0;
          }
        }
        .result-btn-group {
          .follow-btn {
            margin-left: 0;
          }
        }
      }
    }
  }
}
