@import '../config.scss';

// this is for the registration and login page only
.o-log-or-reg {
    display: flex;
    justify-content: space-around;
  .log-or-reg {
    max-width: 40%;
    @media screen and (max-width: 800px){
      max-width: 90%;
    }
    .reg-box-header {
      padding: 40px 10px 20px 10px;
      p {
        font-size: 34px;
        font-weight: 700;
      }
    }
    .auth-footer {
      padding: 0 0 0 10px;
    }
    div div label {
      padding: 10px 10px 10px 10px;
      .label-text {
        font-size: 18px;
        font-weight: 300;
      }
    }
    div div .btn-group {
      padding: 0 10px 0 10px;
    }
  }
  .auth-with-others {
    padding: 0px 10px;
    .linkedin-default {
      background-repeat: no-repeat;
      background-size: contain;
    }
    button.google-default {
      width: 100%;
    }
  }
}

