$hover-light-color: #7caae3;
$hover-dark-color: #16447d;

.enrolled-course-container {
    margin-top: $navbarHeight;
    min-height: calc(100vh - 90px - 125px);
    .course-content-column {
        .course-sidebar {
            width: rem(360);
            height: calc(100% - 90px);
            box-shadow: 0 6px 12px -1px rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
            z-index: 2;
            position: fixed;
            top: $navbarHeight;
            right: 0;
            background: #fff;
            overflow-y: scroll;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            .sidebar-contents {
                height: 100%;
                .sidebar-header {
                    font-size: rem(20);
                    font-weight: 700;
                    line-height: rem(24);
                    text-transform: capitalize;
                    display: flex;
                    justify-content: space-between;
                    padding: 16px;
                    border: 1px solid #dedfe0;
                    border-right: none;
                    background-color: #fff;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        .course-content-wrapper {
            @media screen and (min-width: rem(1200)) {
                width: calc(100% - 360px);
                margin-right: rem(360);
            }
            .content-output {
                min-height: rem(400);
                background: #fff;
                height: calc(100vh - 500px);
                text-align: center;
                color: #000;
                position: relative;
                min-height: rem(300);
                @media screen and (min-width: rem(1200)) {
                    height: calc(100vh - 150px);
                }
            }
            .course-details {
                min-height: 400px;
                color: #000;
                background: #fff;
            }
            .section-nav-menu {
                position: relative;
                top: 0;
            }
        }
    }
}

.course-list-item {
    .item-link {
        display: flex;
        justify-content: space-between;
        padding: 8px 16px;
        cursor: pointer;
        &:hover {
            background: #f2f3f5;
        }
        &.active {
            background: #d3e3f6;
            .item-title-container {
                .item-title-wrapper {
                    .item-title {
                        font-weight: 600;
                    }
                }
            }
        }
        .item-progress-check {
            padding-right: 10px;
            padding-top: 4px;
            cursor: pointer;
            .item-checkbox {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
        .item-title-container {
            flex: 1;
            min-width: 1px;
            display: flex;
            flex-direction: column;
            margin-left: 6px;
            .item-title-wrapper {
                margin-bottom: 5px;
                .item-title {
                    color: color-get(text-dark);
                    font-size: 14px;
                }
            }
            .read-time-wrapper {
                .read-time {
                    color: color-get(text-light);
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.course-view-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    .lecture-viewer-wrapper {
        height: calc(100% - 48px);
        width: 100%;
        background-color: #fff;
        overflow: auto;
        .lecture-viewer-container {
            height: 100%;
            position: relative;
            .lecture-viewer-content {
                flex: 1;
                min-width: 1px;
                word-break: break-word;
                max-width: 650px;
                margin: 0 auto;
                padding: rem(30);
                text-align: left;
                .header-title {
                    font-size: rem(30);
                    margin-bottom: rem(20);
                    text-align: center;
                }
                .project-details {
                    text-align: left;
                    .project-title {
                        font-size: rem(22);
                        margin-bottom: rem(5);
                    }

                    .project-description {
                        .contents {
                            p {
                                margin-bottom: rem(10);
                            }
                        }
                    }
                }
            }
            .video-output-section {
                iframe {
                    position: absolute;
                    top: auto;
                    left: auto;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #14171c;
                }
            }
        }
    }
}

.lecture-tools-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    background: #f2f3f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .tools-wrapper {
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        min-width: 1px;
        max-width: 350px;
        margin-left: auto;
    }
}
.link-to-class {
    margin-bottom: rem(20);
    padding: rem(10) rem(15);
    @include genericBoxPattern;
    a {
        text-decoration: none;
        color: color-get(text-light);
    }
    .project-class-card {
        .card-header {
            margin-bottom: rem(5);
            span {
                display: flex;
                img {
                    max-width: 20px;
                    height: 20px;
                }
                .pc-class-subhead {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.6;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    color: #2e3d49;
                    margin-left: 5px;
                }
            }
            .pc-class-title {
                font-size: rem(18);
                font-weight: 700;
                line-height: rem(24);
                color: color-get(primary);
            }
        }
        .pc-card-summary {
            .summary-container {
                margin-bottom: 10px;
                .pc-author {
                    margin-right: rem(10);
                    color: #58646d;
                }
                .pc-date {
                    color: #58646d;
                }
            }
        }
    }
}

.prev-and-next-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .prev-and-next--wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        padding: 0 rem(2);
        .prev-and-next-link-container {
            cursor: pointer;
            background: $hover-light-color;
            &:hover {
                background: $hover-dark-color;
            }
            button.btn {
                padding: rem(5);
                svg {
                    fill: #fff;
                    margin-right: 0;
                }
            }
        }
    }
}

.dashboard-content-wrapper {
    margin: auto;
    max-width: 1056px;
}

//course overview enrolled page
.course-overview-container {
    margin-top: 32px;
    .course-overview-heading {
        margin: 0 24px;
        .overview-heading {
            font-size: 24px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 16px;
            color: color-get(text-dark);
        }
        p {
            margin-bottom: 32px;
        }
    }
    .course-overview-row {
        border-top: 1px solid #dedfe0;
        padding: 24px;
        display: flex;
        .row-title {
            width: 25%;
            color: color-get(text-dark);
        }
        .row-detail {
            width: 75%;
            p {
                margin-bottom: 10px;
            }
        }
    }
}

.description-wrapper {
    padding: 0 rem(20) rem(20);
    .description-title {
        font-size: rem(24);
        font-weight: 700;
        line-height: rem(20);
        margin-bottom: rem(16);
        color: color(text-dark);
        font-family: font-family();
    }
}

.mobile-syllabus {
    padding: 0 rem(20) rem(20);
    .sidebar-header {
        margin-bottom: rem(15);
    }
}
