.pc-about {
  margin-top: $navbarHeight;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  .pc-about-wrapper {
    padding: pixel-to-rem(40) 0;
    .pc-about-header {
      text-align: center;
      margin-bottom: pixel-to-rem(30);
      h1 {
        font-size: pixel-to-rem(56);
        line-height: pixel-to-rem(59);
        margin-bottom: pixel-to-rem(10);
      }
      p {
        font-size: pixel-to-rem(20);
        color: $subHeadColor;
      }
    }
    .pc-about-content {
      h2 {
        font-size: pixel-to-rem(24);
        color: $headingColor;
        margin-bottom: pixel-to-rem(10);
      }
      p {
        color: $subHeadColor;
        margin-bottom: pixel-to-rem(10);
      }
    }
  }
}
