.pc-about {
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  .pc-about-wrapper {
    padding: rem(40) 0;
    .pc-about-header {
      text-align: center;
      margin-bottom: rem(30);
      h1 {
        font-size: rem(56);
        line-height: rem(59);
        margin-bottom: rem(10);
      }
      p {
        font-size: rem(20);
        color: color-get(text-light);
      }
    }
    .pc-about-content {
      h2 {
        font-size: rem(24);
        color: color-get(text-dark);
        margin-bottom: rem(10);
      }
      p {
        color: color-get(text-light);
        margin-bottom: rem(10);
      }
    }
  }
}
