@import '../config.scss';

.pc-business {
  margin-top: $navbarHeight;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  .pc-business-content {
    padding-top: 40px;
    h1 {
      font-size: 56px;
      line-height: 59px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
