@import '../config.scss';

.pc-privacy {
  margin-top: $navbarHeight;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  .pc-privacy-content {
    padding: 40px 0;
    h1 {
      font-size: 56px;
      line-height: 59px;
      margin-bottom: 30px;
      text-align: center;
    }
    p {
      color: $subHeadColor;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
      color: $headingColor;
    }
    ul {
      margin-bottom: 10px;
      li {
        margin-bottom: 5px;
        color: $subHeadColor;
      }
    }
  }
}
