@import '../config.scss';

.pc-report {
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  .pc-report-content {
    padding-top: 40px;
    h1 {
      font-size: 56px;
      line-height: 59px;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}
