@import "../config.scss";
@import "./courses.scss";

.pc-course-create {
	margin-top: $navbarHeight;
	// height: calc(100vh - 90px - 125px);

	.pc-course-manager {
		margin: 0 auto;
		max-width: 1440px;
		display: flex;
		margin-bottom: 64px;
		padding-right: 45px;
		padding-top: 40px;
		height: 100%;
		.pcc-nav {
			padding-left: 25px;
			.pcc-sidebar {
				max-width: 260px;
				min-width: 240px;
				padding: 40px 0 0;
				margin-right: 20px;
				position: relative;
				.nav-container {
					position: relative;
					.ul-steps {
						position: relative;
						padding-top: 10px;
						padding-bottom: 10px;
						.sub-nav {
							&:not(:first-child) {
								margin-top: 35px;
							}
							.sub-nav-title {
								display: inline-block;
								margin: 0 0 rem(10) rem(14);
								font-weight: 700;
								color: color-get(text-dark);
							}
						}
						.nav {
							margin-bottom: 0;
							padding-left: 0;
							list-style: none;
							.nav-items {
								margin-top: rem(10);
								.nav-link {
									position: relative;
									margin-right: 0;
									color: color-get(text-light);
									text-decoration: none;
									padding: rem(2) rem(20) rem(5) rem(14);
									padding-left: rem(38);
									display: flex;
									&:hover {
										background: rgba(41, 48, 59, 0.2);
									}
									&::before {
										display: inline-block;
										content: "";
										position: relative;
										border: rem(1) solid #686f7a;
										margin-right: rem(5);
										margin-left: rem(-25);
										font-size: rem(10);
										height: rem(18);
										line-height: rem(18);
										width: rem(18);
										border-radius: 50%;
										text-align: center;
									}
									&.is-active {
										border-right: rem(4) solid $primary;
										color: $primary;
										font-weight: 600;
										&::before {
											border: rem(1) solid $primary;
											content: "✓";
											color: $primary;
											font-weight: 600;
										}
									}
									&.is-disabled {
										cursor: not-allowed;
										opacity: 0.6;
									}
								}
							}
						}
					}
				}
				.course-publish-btn {
					margin: 20px 0;
				}
			}
		}
		.pcc-content {
			flex: 1;
			min-width: 1px;
			width: 100%;
			margin-bottom: rem(50);
			.header-wrapper {
				position: relative;
				padding: rem(30) rem(45);
				border: rem(1) solid color-get(border);
				border-radius: rem(3) rem(3) 0 0;
				background: #fff;
				display: flex;
				justify-content: space-between;
			}
			.main-content-wrapper {
				padding: 45px;
				border-right: rem(1) solid color-get(border);
				border-left: rem(1) solid color-get(border);
				border-bottom: rem(1) solid color-get(border);
				border-radius: 0 0 rem(3) rem(3);
				background: #fff;
				height: 100%;
				.syllabus-editor {
					padding-bottom: 20px;
					p {
						color: color-get(text-dark);
						font-weight: 600;
						font-family: font-family(secondary);
					}
				}
				.form-group {
					textarea {
						border: 1px solid #bbb !important;
					}
				}
				.basic-info-wrapper {
					margin-top: 20px;
					p {
						margin-bottom: 5px;
						font-size: 14px;
						font-weight: 600;
						color: color-get(text-dark);
					}
					.course-basic-form {
						display: flex;
						flex-wrap: wrap;
						margin-left: -10px;
						margin-right: -10px;
						& > * {
							flex: 1 0 auto;
							min-width: 1px;
							width: 220px;
							margin-left: 10px;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

//syllabus content
.syllabus-list-wrapper {
	.syllabus-list {
		.add-section-item {
			width: 100%;
			height: 80px;
			position: relative;
			background: #f6f7fd;
			.syllabus-list-wrapper-section {
				height: 100%;
			}
			.syllabus-add-item-section {
				width: 40px;
				height: 27px;
				position: relative;
				border: 1px dashed #dedfe0;
				border-right: 0;
				background: #fff;
				cursor: pointer;
				top: 40px;
				transition: all 500ms;
				span {
					position: relative;
					left: 0;
					transition: all 500ms;
					svg {
						transition: transform 0.2s ease-in-out;
					}
				}
				&::before {
					content: "";
					position: absolute;
					transition: all 0.5s ease-in-out;
					right: -14px;
					top: 2px;
					height: 21px;
					width: 21px;
					background: #fff;
					border: 1px dashed #dedfe0;
					border-bottom: none;
					border-left: none;
					transform: rotate(35deg) skew(-15deg);
				}
			}
		}
		.inner-add-content {
			.syllabus-add-item-section {
				left: -28px;
				&.cross-btn {
					margin-left: -12px;
					border: none;
					span {
						left: 60px;
						svg {
							transform: rotate(45deg);
						}
					}
				}
			}
		}
		.add-new-section {
			.syllabus-add-item-section {
				left: -19px;
				&.cross-btn {
					border: none;
					&::before {
						border: none;
					}
					span {
						svg {
							transform: rotate(45deg);
						}
					}
				}
			}
		}
		.syllabus-item {
			margin-bottom: 20px;
			border: 1px solid #dedfe0;
			.list-item-section-wrapper {
				position: relative;
				background-color: $backgroundColor;
			}
		}
	}
}

//new section form
.new-section-form-wrapper {
	background: #fff;
	.new-section-form {
		background-color: #fff;
		padding: 10px;
		.sec-wrapper {
			display: flex;
			.left-sec {
				margin: 8px 10px 5px 0;
				color: color-get(text-dark);
				font-weight: 600;
			}
			.right-sec {
				flex: 1;
				min-width: rem(1);
				.syllabus-section-list-wrap {
					margin-left: 0;
					.sslw-container {
						.sslw-wrapper {
							.add-item-menu {
								border: 1px solid color-get(border);
								margin-bottom: rem(10);
							}
						}
					}
				}
				.button-section {
					display: flex;
					max-width: rem(290);
					margin-left: auto;
					button {
						&:not(:first-child) {
							margin-left: rem(5);
						}
					}
				}
				.quill {
					margin-bottom: 10px;
				}
			}
		}
	}
}

//section header
.section-editor {
	.item-bar-section {
		border-bottom: 1px solid #dedfe0;
		padding: 10px;
		position: relative;
		.item-bar-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 35px;
			.item-bar-left {
				.item-bar-left-wrap {
					padding: 5px 5px 5px 0;
					white-space: nowrap;
					display: flex;
					max-width: 480px;
					.item-bar-title {
						padding-left: 10px;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						.sec-title {
							padding-left: 5px;
						}
					}
				}
			}
			.sec-icon {
				padding: 2px 8px;
				cursor: pointer;
				&.hidden-icon {
					opacity: 0;
				}
				&.show-icon {
					opacity: 1;
				}
				svg {
					fill: color-get(text-light);
				}
			}
		}
	}
}

//new item menu
.syllabus-section-list-wrap {
	margin-left: 60px;
	.sslw-wrapper {
		padding: rem(10) 0 rem(15);
		.add-item-menu {
			margin-bottom: -25px;
			padding: rem(10);
			border: 1px dashed #dedfe0;
			background: #fff;
			.btn-tertiary {
				color: $primary;
				background-color: transparent;
				border: 1px solid transparent;
				display: inline;
				width: auto;
				padding: 0 5px;
				margin: 0;
				font-size: 15px;
				cursor: pointer;
				&:disabled {
					color: gray;
					cursor: not-allowed;
				}
				span {
					vertical-align: middle;
				}
			}
		}
		.pc-card {
			margin-bottom: 0;
			padding: rem(10) rem(15);
		}
	}
}

//lecture header
.lecture-header {
	border-bottom: none;
	padding: 15px 10px 0px 60px;
	.item-bar-section {
		background-color: #fff;
		border: 1px solid #dedfe0;
	}
	.add-resourses-container {
		padding: 10px;
		border: 1px solid #dedfe0;
		background-color: #fff;
		.add-resourses-wrapper {
			padding: 10px 0;
			width: 175px;
			.add-description {
				margin-bottom: 15px;
			}
		}
	}
}

//add new lecture form
.add-new-lecture {
	margin-left: 60px;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	.new-section-form-wrapper {
		border: 1px solid #dedfe0;
	}
}

//add resources
.add-resources {
	border: 1px solid #dedfe0;
	border-top: none;
}

//pricing
.course-price-container {
	.price-description {
		margin-bottom: 10px;
	}
	.free-course-switch {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		.switch-container {
			margin-left: 15px;
		}
		.free-title {
			color: color-get(text-dark);
			font-weight: 600;
			font-family: font-family(secondary);
		}
	}
	.pricing-form {
		display: flex;
		align-items: center;
		.formLabel {
			margin-right: 15px;
			width: 150px;
			.pc-select-field {
				margin-bottom: 0;
			}
		}
		button.btn {
			width: 90px;
			margin-top: 6px;
		}
	}
}

//video uploader
.video-uploader,
.select-project {
	display: flex;
	align-items: center;
}
.video-buttons {
	display: flex;
	margin-top: rem(10);
	margin-left: rem(10);
	button {
		&:nth-child(2) {
			margin-left: rem(5);
		}
	}
}

//progress bar
.progress-bar-wrapper {
	display: flex;
	margin-bottom: rem(10);
	.progress-bar {
		height: rem(20);
		position: relative;
		background: linear-gradient(90deg, #eee 50%, transparent 50%);
		background-color: color-get(success, 400);
		background-size: 200%;
		border-radius: rem(5);
		transform: scale(-1);
		transition: 0.3s;
		width: 100%;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: rem(5);
			background: linear-gradient(
				45deg,
				transparent 25%,
				rgba(238, 238, 238, 0.5) 25%,
				rgba(238, 238, 238, 0.5) 30%,
				transparent 30%,
				transparent 35%,
				rgba(238, 238, 238, 0.5) 35%,
				rgba(238, 238, 238, 0.5) 70%,
				transparent 70%
			);
			animation: shift 2s linear infinite;
			background-size: rem(60) 100%;
			box-shadow: inset 0 0px rem(1) rgba(0, 0, 0, 0.2), inset 0 rem(-2) rem(1) rgba(0, 0, 0, 0.2);
		}
	}
	.complete-indicator {
		color: color-get(success, 500);
		margin-left: rem(10);
	}
}

//uploaded list
.uploaded-content {
	.uploaded-list {
		.list-item {
			margin-bottom: rem(15);
			&:last-child {
				margin-bottom: 0;
			}
			.video-detail {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.left-content {
				display: flex;
				align-items: center;
				.thumbnail {
					max-width: rem(100);
					img {
						width: 100%;
						object-fit: cover;
					}
				}
				.details {
					margin-left: rem(15);
					.video-title {
						color: color-get(primary);
						font-family: font-family(secondary);
						margin-bottom: rem(3);
					}
					.video-date {
						font-size: rem(12);
					}
				}
			}
		}
	}
}
.button-group {
	display: flex;
	align-items: center;
	.delete-btn {
		margin-left: rem(10);
	}
}

@keyframes shift {
	to {
		background-position: rem(60) 100%;
	}
}

.data-length {
	margin-bottom: rem(15);
	display: flex;
	justify-content: flex-end;
	label {
		color: color-get(text-light);
	}
	.custom-select-field {
		width: auto;
		display: inline-block;
		border: rem(1) solid color-get(border);
		box-shadow: none;
		color: color-get(text-dark);
		font-size: rem(14);
		padding-top: rem(8);
		padding-bottom: rem(8);
		padding-left: rem(8);
		cursor: pointer;
		margin: 0 rem(5);
		font-weight: 600;
		&:focus {
			outline: none;
			border: rem(1) solid color-get(border);
		}
	}
}

.filter-wrapper {
	display: flex;
	justify-content: flex-end;
	.sort-filter {
		margin-left: rem(20);
	}
}

.payment-status {
	padding: rem(3) rem(5);
	border-radius: rem(4);
	border: 1px solid color-get(primary, 300);
	color: color-get(primary, 300);
	&.paid {
		background: color-get(success, 100);
		color: color-get(success, 500);
		border-color: color-get(success, 300);
	}
	&.partial {
		background: color-get(warn, 100);
		color: color-get(warn, 500);
		border-color: color-get(warn, 300);
	}
}
.syllabus-project-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
