@import '../config.scss';

.pc-about {
  margin-top: $navbarHeight;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
  .pc-about-header {
    width: 100%;
    background-color: $darkBlue;
    height: calc(40vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 { color: $backgroundColor; }
    p { color: $backgroundColor; }
  }
  .pc-about-content {
    padding: 10px 10vw;
  }
  @media screen and (max-width: 700px){
    .pc-about-content {
      padding: 10px 5vw;
    }
  }
}