@import '../config.scss';

.footer {
  margin-top: 20px;
  min-height: $footerHeight;
  padding: 5px;
  background: $darkBlue;
  color: $backgroundColor;
  .pc-logo {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  .left-right-container {
    display: flex;
    .footer-left {
      flex: 0.7;
      display: flex;
      justify-content: space-between;
      .foot-left-one {
        .one-content {
          padding: 5px;
          font-weight: bold;
        }
      }
    }
    .footer-right {
      flex: 0.7;
      display: flex;
      justify-content: flex-end;
      .right-content {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-weight: bold;
      }
    }
    .pc-foot-link {
      cursor: pointer;
      color: $backgroundColor;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}