@import '../config.scss';

.banner-container {
  padding: 5px;
  .banner-head {
    display: flex;
    justify-content: space-around;
    padding: 3%;
    p {
      color: $darkBlue;
      font-size: 40px;
      font-weight: 600;
    }
  }
  .banners {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .banner {
      margin: 5px;
      display: flex;
      flex-wrap: wrap;
      .banner-image {
        flex: 0.5;
        img {
          height: 100%; width: 50vw;
        }
      }
      .banner-content {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        .banner-title {
          padding: 5px;
          display: flex;
          justify-content: center;
          font-size: 20px;
          font-weight: bolder;
          color: $darkBlue;
        }
        .banner-description {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            svg {
              vertical-align: sub;
            }
            color: $darkBlue;
            font-size: 18px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 900px) {
    .banners {
      .banner {
        margin: 20px 10px;
        .banner-image {
          img {
           width: 60vw;
          }
        }
      }
    }
  }
  @media screen and (max-width: 650px) {
    .banners {
      .banner {
        margin: 10px;
        flex-direction: column;
        .banner-image {
          flex: 1;
          display: flex;
          justify-content: center;
          img {
            width: 80vw;
          }
        }
        .banner-content {
          .banner-description {
            p {
              font-size: 14px;
            }
          }
          flex: 1;
        }
        &.middle {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
