@import '../config.scss';
.popularContainer {
  .popularHeader {
    display: flex;
    justify-content: space-around;
    padding: 3%;
    p {
      color: $darkBlue;
      font-size: 40px;
      font-weight: 600;
    }
  }
  .popularCover {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    .popular {
      display: flex;
      padding: 10px;
      .popularImage {
        height: 150px;
        width: 150px;
        overflow: hidden;
        border: 1px solid $normalBorder;
        border-radius: 50%;
        img.landscape {
          height: 100%;
          width: auto;
        }
        img.portrait {
          width: 100%;
          height: auto;
        }
      }
      .popularDesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        .popularName {
          font-size: 20px;
        }
        .popularExpertize {
          color: $lightTextColor;
          font-weight: 550;
        }
      }
    }
  }
}