@import '../config.scss';
.slider-container {
  position: relative;
  margin-top: $navbarHeight;
  .slide {
    background-color: $backgroundColor;
    .slider-img-con {
      width: 100%;
      height: 45vw;
      background-size: cover;
    }
  }
  @media screen and (min-width: 100px) and (max-width: 810px){
    .slide .slider-img-con { height: 60vw; }
  }
  .search-box-container {
    position: absolute;
    top: 50%;  /* this to center the box w.r.t to parent */
    left: 50%;/* this to center the box w.r.t to parent */
    /* Above 2 lines wont fully center it, the next line internally
    centers it, buy moving itself 50% left and top */
    transform:translate(-50%,-50%);
    z-index: 2;
    // padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-form {
      box-shadow: 1px 1px 3px 0px $darkBlue;
      input {
        background-color: $backgroundColor; 
        text-align: center;
        height: 55px;
        width: 230px;
        line-height: 40px;
        font-size: 20px;
        border-width: 0.5px;
        vertical-align: middle;
        border-color: $normalBorder;
      }
      button {
        background: $darkBlue;
        border-color: $darkBlue;
        color: $backgroundColor;
        vertical-align: middle;
        height: 55px;
        width: 120px;
        padding: 3px;
        font-size: 20px;
        &:hover {
          box-shadow: 1px 1px 3px 0px $darkBlue;
        }
      }
    }
    .pc-jumbo {
      display: flex;
      align-items: center;
      flex-direction: column;
      .pc-jumbo-text {
        color: $backgroundColor;
        font-size: 50px;
        font-weight: bolder;
        text-transform: uppercase;
      }
      button {
        background: red;
        border-color: red;
        color: $backgroundColor;
        vertical-align: middle;
        height: 45px;
        width: 120px;
        padding: 3px;
        font-size: 18px;
        &:hover {
          box-shadow: 1px 1px 3px 0px red;
        }
      }
    }
    @media screen and (min-width: 810px) and (max-width: 990px){
      .search-form {
        input {
          height: 35px;
          width: 180px;
          line-height: 30px;
          font-size: 18px;
        }
        button {
          height: 35px;
          width: 100px;
          font-size: 18px;
        }
      }
      .pc-jumbo {
        .pc-jumbo-text {
          font-size: 40px;
        }
        button {
          height: 35px;
          width: 120px;
        }
      }
    }
    @media screen and (min-width: 605px) and (max-width: 810px){
      .search-form {
        input {
          height: 35px;
          width: 120px;
          line-height: 30px;
          font-size: 18px;
        }
        button {
          height: 35px;
          width: 60px;
          font-size: 16px;
        }
      }
      .pc-jumbo {
        .pc-jumbo-text {
          font-size: 30px;
        }
        button {
          height: 35px;
          width: 120px;
        }
      }
    }
    @media screen and (min-width: 200px) and (max-width: 605px){
      .search-form {
        display: flex;
        flex-wrap: nowrap;
        input {
          height: 30px;
          width: 120px;
          line-height: 30px;
          font-size: 18px;
        }
        button {
          height: 30px;
          width: 60px;
          font-size: 16px;
        }
      }
      .pc-jumbo {
        .pc-jumbo-text {
          font-size: 17px;
        }
        button {
          height: 30px;
          width: 100px;
          font-size: 16px;
        }
      }
    }
  }
}
