@import '../config.scss';

.create-blog {
  margin-top: $navbarHeight;
  div[contenteditable]:focus {
    outline: 0px solid transparent;
  }
  // just to put the default placeholder
  [contenteditable]:empty::before {
    content: attr(datatext);
    color: grey;
  }
  .blog-top {
    padding: 10px;
    text-align: center;
    span {
      font-size: 25px;
      font-weight: 600;
    }
  }
  .toolbar {
    display: flex;
    margin: 2px;
    padding: 10px;
    background-color: #DFDCDC;
    justify-content: space-between;
    .left {
      .switch {
        span {
          margin-top: 3px;
        }
        font-size: 18px;
        font-weight: bold;
      }
    }
    button {
      margin: 0px 3px 0px 3px;
    }
  }
  .title {
    margin: 10px;
    textarea {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .editor-container {
    padding: 5px 10px 5px 10px;
    #editor {
      background-color: white;
      min-height: 500px;
      padding: 10px;
      font-size: 21px;
      img {
        max-width: 100%;
        // object-fit: contain;
      }
    }
  }
}
.blogs {
  padding: 5px;
  width: 100%;
  .header {
    margin-bottom: 10px;
    padding: 10px;
    .title {
      font-size: 18px;
      color: $textColor;
    }
    small {
      color: $lightTextColor;
    }
    display: flex;
    justify-content: space-between;
  }
  .blog-list {
    display: flex;
    flex-wrap: wrap;
    .blog-container {
      margin: 10px;
      max-width: 250px;
      box-shadow: 0px 1px 2px 1px $normalShadowColor;
      .img-container {
        width: 100%;
        position: relative;
        overflow: hidden;
        .more-button {
          position: absolute;
          top: 0;
          right: 0;
        }
        img {
          height: 250px;
          object-fit: cover;
        }
      }
      .detail-container {
        padding: 10px;
        .blog-title {
          p {
            margin-bottom: 0;
            &.title {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 18px;
              font-weight: 800;
            }
            .pc-date {
              font-size: 12px;
              color: $lightTextColor;
            }
          }
        }
        .blog-author {
          display: flex;
          justify-content: flex-end;
          a {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
}