@import '../config.scss';
// styling the class component here
.classes {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  padding: 10px;
  .header {
    font-size: 25px;
    font-weight: 500px;
    padding: 10px;
  }
  .content-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    .more-button {
      top: 10px;
      right: 10px;
      position: absolute;
    }
    .content-link {
      margin: 10px;
      min-height: 150px;
      min-width: 200px;
      display: flex;
      cursor: pointer;
      background-color: lightgray;
      text-decoration: none;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.56);
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.56);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.56);
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      .class-repr {
        border-radius: 5px 0px 0px 5px;
        -moz-border-radius: 5px 0px 0px 5px;
        -webkit-border-radius: 5px 0px 0px 5px;
        display: flex;
        flex: 0.4;
        background: red;
        align-items: center;
        text-align: center;
        span {
          color: white;
          font-size: 20px;
        }
      }
      .class-detail {
        border-radius: 0px 5px 5px 0px;
        -moz-border-radius: 0px 5px 5px 0px;
        -webkit-border-radius: 0px 5px 5px 0px;
        flex: 0.6;
        background: white;
      }
    }
  }
}

//styling the classManager component. 
.tool-bar {
  top: $navbarHeight;
  height: $toolbarHeight;
  position: absolute;
  width: 100%;
  padding: 5px 0px 0px 0px;
  .toolbar-container {
    height: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    background: $primaryHover;
    .left-tools {
      span {
        color: white;
        font-weight: 600;
        font-size: 16px;
      }
    }
    .right-tools {
    }
  }
}
.class-wrapper {
  .columns {
    height: 100%;
    padding-top: $navbarHeight + $toolbarHeight;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-y: scroll;
    .column-container {
      height: 100%;
      // this 18px value has been calculated according to margins 18 px * 2
      padding-bottom: 18px;
      .column-inner-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 300px;
        max-height: 100%;
        margin: 8px 8px 8px 8px;
        border-radius: 3px;
        background-color: $boardColor;
        .column-title {
          padding: 8px;
          position: relative;
          span {
            font-size: 20px;
            font-weight: 600;
          }
          .more-button {
            top: 5px;
            right: 7px;
            position: absolute;
          }
        }
        .task-list {
          min-height: 200px;
          max-height: 100%; // to set task list a scrollview
          overflow-y: scroll;
          .task-container {
            margin: 8px;
            padding: 5px;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 2px;
            flex-grow: 1;
          }
        }
        .column-footer {
          padding: 10px;
          cursor: pointer;
        }
      }
    }
    .add-new-column {
      .title {
        padding: 8px;
        margin: 8px;
        background-color: lightgray;
        width: 200px;
        border: 1px solid lightgray;
        border-radius: 2px;
        cursor: pointer;
        span {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
// contains the details of the task.
.overlay-container {
  padding: 0;
  .task-detail-overlay {
    .overlay-title {
      padding: 7px;
      background-color: #75757575;
      .head {
        display: inline;
        span.title {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    .left {
      .overlay-description {
        padding: 5px;
        .desc-head {
          u {
            font-weight: bold;
            font-size: 17px;
          }
        }
        .desc {
          padding: 5px;
          font-size: 15px;
          font-weight: 400;
        }
      }
      .edit-button {
        margin-left: 10px;
        vertical-align: inherit !important;
      }
      textarea {
        background: transparent;
        border: none;
        border-color: transparent;
        resize: none;
      }
      .comment-container {
        padding: 5px;
        display: flex;
        justify-content: stretch;
      }
      .comments {
        padding: 5px;
        .s-comment {
          display: flex;
          justify-content: stretch;
          div {
            img {
              border: 1px solid white;
              border-radius: 45px;
              padding: 3px;
            }
          }
          .com-con {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .com-auth {

            }
            .com-desc {

            }
          }
        }
      }
    }
  }
}
