@import '../config.scss';
// styling the class component here
.classes {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  padding: 10px;
  .header {
    font-size: 25px;
    font-weight: 500px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
  .content-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    .more-button {
      top: 10px;
      right: 10px;
      position: absolute;
    }
    .content-link {
      margin: 10px;
      height: 150px;
      width: 250px;
      display: flex;
      cursor: pointer;
      text-decoration: none;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.56);
      border-radius: 5px;
      // styling the adding new class 
      &.add-new {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.56);
        button {
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.56);
          &:hover {
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.56);
          }
        }
      }
      .class-repr {
        padding: 5px;
        border-radius: 5px 0px 0px 5px;
        display: flex;
        flex: 0.5;
        background: red;
        align-items: center;
        text-align: center;
        span {
          color: white;
          font-size: 20px;
        }
      }
      .class-detail {
        padding: 5px;
        border-radius: 0px 5px 5px 0px;
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        span {
          text-align: center;
          &.name {
            font-weight: bold;
          }
          &.date {
            color: black;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

//styling the classManager component. 
.tool-bar {
  top: $navbarHeight;
  height: $toolbarHeight;
  position: absolute;
  width: 100%;
  padding: 5px 0px 0px 0px;
  .toolbar-container {
    height: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    background: $primaryHover;
    .left-tools {
      display: flex;
      flex-direction: row;
      // style for each items in the toolbar
      .each-item {
        padding: 0px 5px 0px 5px;
        display: flex;
        align-items: center;
      }
      // styling the name of the class in the toolbar
      .class-name {
        color: white;
        font-weight: 600;
        font-size: 16px;
      }
      .user-list {
        // styling the short user popover content
        .i-user {
          position: relative;
          padding: 4px;
          border-radius: 50%;
          font-weight: 500;
          cursor: pointer;
          background: rgba(255, 255, 255, 0.9);
          &:hover {
            background:rgba(255, 255, 255, 0.5);
          }
          .green-dot {
            position: absolute;
            height: 10px;
            width: 10px;
            background-color: rgb(113, 249, 113);
            border-radius: 50%;
            top: 20px;
            left: 15px;
          }
        }
      }
    }
    .right-tools {
      display: flex;
      button {
        color: white;
        svg {
          fill: white;
        }
      }
    }
  }
}
.class-wrapper {
  // background: orange;
  .columns {
    height: 100%;
    padding-top: $navbarHeight + $toolbarHeight;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-y: scroll;
    .column-container {
      height: 100%;
      // this 18px value has been calculated according to margins 18 px * 2
      padding-bottom: 18px;
      .column-inner-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 300px;
        max-height: 100%;
        margin: 8px 8px 8px 8px;
        border-radius: 3px;
        background-color: $boardColor;
        .column-title {
          padding: 8px;
          position: relative;
          span {
            font-size: 20px;
            font-weight: 600;
          }
          .more-button {
            top: 5px;
            right: 7px;
            position: absolute;
          }
        }
        .task-list {
          min-height: 200px;
          max-height: 100%; // to set task list a scrollview
          overflow-y: scroll;
          .task-container {
            margin: 8px;
            padding: 5px;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 2px;
            flex-grow: 1;
          }
        }
        .column-footer {
          padding: 10px;
          cursor: pointer;
        }
      }
    }
    .add-new-column {
      .title {
        padding: 8px;
        margin: 8px;
        background-color: lightgray;
        width: 200px;
        border: 1px solid lightgray;
        border-radius: 2px;
        cursor: pointer;
        span {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
// contains the details of the task.
.overlay-container {
  padding: 0;
  .task-detail-overlay {
    .overlay-title {
      padding: 7px;
      display: flex;
      justify-content: space-between;
      background: rgba(133, 145, 133, 0.14);
      .head {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        textarea {
          width: 100%;
          resize: none;
          padding: 0px 3px;
          overflow-y: scroll;
          font-size: 18px;
          font-weight: bold;
          background: transparent;
        }
        .buttons-group {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            margin-left: 5px;
          }
          .edit-title {
            margin-left: 5px;
            svg {
              fill: rgba(19, 124, 189, 1);
            }
          }
        }
      }
    }
    .overlay-body {
      display: flex;
      .left {
        flex: 0.7;
        .overlay-description {
          padding: 5px;
          .desc-head {
            u {
              font-weight: bold;
              font-size: 17px;
            }
          }
          .desc {
            textarea {
              width: 100%;
            }
            padding: 5px;
            font-size: 15px;
            font-weight: 400;
          }
        }
        .edit-button {
          margin-left: 10px;
          vertical-align: inherit !important;
        }
        textarea {
          background: transparent;
          border: none;
          border-color: transparent;
          resize: none;
        }
        .comment-container {
          padding: 5px;
          display: flex;
          justify-content: stretch;
        }
        .comments {
          padding: 5px;
          .s-comment {
            display: flex;
            justify-content: stretch;
            padding-bottom: 10px;
            padding-top: 10px;
            div {
              img {
                border: 1px solid white;
                border-radius: 50%;
                padding: 1px;
              }
            }
            .com-con {
              margin-left: 10px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .com-config {
                small {
                  cursor: pointer;
                  color: #696969;
                  margin-right: 5px;
                  &.danger u {
                    &:hover {
                      color: red;
                    }
                  }
                  &.primary u {
                    &:hover {
                      color: rgba(19, 124, 189, 1);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .right {
        display: flex;
        flex: 0.3;
        justify-content: flex-end;
        .rt-in {
          padding: 5px 5px 5px 5px;
          display: flex;
          flex-direction: column;
          .rt-tools {
            display: flex;
            flex-direction: column;
          }
          .rt-actions {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
