@import '../config.scss';

.profile {
  display: flex;
  flex-direction: column;
  padding: 4px;
  position: relative;
  width: 100%;
  overflow: hidden;
  .cover-pic {
    max-height: 300px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right, $borderOnDarkBlue, 0%, $skyBlueMain, 100%);
    // over writing the cropper styles 
    .cr-boundary {
      z-index: 0;
    }
    img {
      width: 100%;
    }
    .edit-cover {
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      color: $backgroundColor;
      .edit-icon {
        vertical-align: text-top;
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: $darkBlue;
        svg {
          fill: $darkBlue;
        }
      }
    }
  }
  .cover-pic-edit-mode {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    position: relative;
    .canvas-container {
      height: calc((100vw * 0.81) * 0.33) !important;
      @media screen and (max-width: 855px) {
        height: calc(100vw * 0.33) !important;
      }
      #mainCanvas {
        width: 100% !important;
        object-fit: contain !important;
        height: auto !important;
        background: white;
        box-shadow: 3px 3px 3px 3px;
      }
      .upper-canvas {
        object-fit: contain !important;
        height: auto !important;
        width: 100% !important;
      }
    }
    .edit-cover {
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 5px;
      right: 1px;
      color: $backgroundColor;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: $darkBlue;
      }
    }
    .pc-zoom-slider {
      position: absolute;
      bottom: 10px;
    }
  }
  .profilePic {
    position: absolute;
    top: 100px;
    left: 10px;
    border: 1px solid $normalBorder;
    box-shadow: 0px 0px 5px 1px $normalShadowColor;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    img.portrait {
      width: 100%;
      height: auto;
    }
    img.landscape {
      height: 100%;
      width: auto;
    }
    span {
      position: absolute;
      top: 70px;
      left: 110px;
    }
    svg {
      border-radius: 100px;
      background-color: $primary;
    }
  }
  .top-details {
    width: 100%;
    background: white;
    padding: 5px;
    .name {
      font-size: 20px;
      font-weight: bold;
    }
    .designation {
      font-size: 16px;
      font-weight: bold;
      color: $lightTextColor;
    }
  }
  .bio {
    width: 100%;
    padding: 20px 5px;
    .bio-content {
      font-size: 20px;
    }
    .bio-info {
      margin-left: 2px;
      display: flex;
      justify-content: space-between;
      p {
        &.edit {
          padding-right: 5px;
          svg {
            fill: $skyBlueMain;
          }
        }
      }
    }
  }
  .education {
    padding: 20px 5px;
    width: 100%;
    p.p-top {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      padding-right: 5px;
      svg {
        fill: $skyBlueMain;
      }
    }
    .p-edu-list {
      .p-edu-list-i {
        display: flex;
        padding: 2px;
        img {
          height: 45px;
          padding: 2px;
        }
        p {
          padding: 0px 0px 0px 10px;
          span.p-name-i {
            font-size: 18px;
            font-weight: bold;
          }
          span.p-timeline {
            font-weight: bold;
            color: $lightTextColor;
          }
          svg {
            fill: $skyBlueMain;
          }
        }
      }
    }
  }
  .experience {
    padding: 20px 5px;
    width: 100%;
    p.p-top {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      padding-right: 5px;
      svg {
        fill: $skyBlueMain;
      }
    }
    .p-exp-list {
      .p-exp-list-i {
        display: flex;
        padding: 2px;
        img {
          height: 45px;
          padding: 2px;
        }
        p {
          padding: 0px 0px 0px 10px;
          span.p-title-i {
            font-size: 18px;
            font-weight: bold;
          }
          span.p-company-i {
            font-size: 16px;
            font-weight: bold;
            color: $lightTextColor;
          }
          span.p-timeline {
            font-weight: bold;
            color: $lightTextColor;
          }
          svg {
            fill: $skyBlueMain;
          }
        }
      }
    }
  }
  .skills {
    padding: 20px 5px;
    width: 100%;
    p.p-top {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      padding-right: 5px;
      svg {
        fill: $skyBlueMain;
      }
    }
    .skills-container {
      padding: 5px 5px 5px 0px;
      span {
        margin: 5px;
        padding: 5px;
        color: $backgroundColor;
        background: $skyBlueMain;
      }
    }
  }
  @media screen and (max-width: 855px) {
    padding: 5px 15px;
  }
}