@import '../config.scss';

.settings {
  display: flex;
  padding: 5px 5px 5px 10px;
  flex-direction: column;
  .setting-types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid $borderColor;
    .i-setting {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    .active {
      color: $skyBlueMain;
      border-bottom: 5px solid $skyBlueMain;
      text-align: center;
      width: 100%;
      padding: 10px;
    }
  }
  .container-settings {
    padding-top: 5px;
    .basic {
      .label {
        font-size: 16px;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      .value {
        margin-left: 5px;
        padding: 2px;
        font-size: 15px;
      }
      .edit-icon {
        margin-left: 5px;
        vertical-align: text-top;
        &:hover {
          svg {
            fill: $skyBlueMain;
          }
        }
      }
      ul {
        display: flex;
        li {
          color: $backgroundColor;
          padding: 5px;
          margin-left: 2px;
          background-color: $skyBlueMain;
          list-style-type: none;
        }
      }
    }
    .switch-adv-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
        color: $lightTextColor;
        line-height: 18px;
      }
      button.switch-button {
        color: $backgroundColor;
      }
    }
  }
  @media screen and (max-width: 855px) {
    padding: 5px 15px;
  }
}