.settings {
  display: flex;
  // flex: 0.8;
  flex-direction: column;
  .setting-types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(167, 182, 194, 1);
    .i-setting {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    .active {
      color: rgba(19, 124, 189, 1);
      border-bottom: 5px solid rgba(19, 124, 189, 1);
      text-align: center;
      width: 100%;
      padding: 10px;
    }
  }
  .container-settings {
    padding-top: 5px;
    .basic {
      .label {
        font-size: 16px;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      .value {
        margin-left: 5px;
        padding: 2px;
        font-size: 15px;
      }
      .edit-icon {
        margin-left: 5px;
        vertical-align: text-top;
        &:hover {
          svg {
            fill: rgba(19, 124, 189, 1);
          }
        }
      }
      ul {
        display: flex;
        li {
          color: white;
          padding: 5px;
          margin-left: 2px;
          background-color: rgba(19, 124, 189, 1);
          list-style-type: none;
        }
      }
    }
    .switch-adv-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
        color: rgba(92, 112, 128, 1);
        line-height: 18px;
      }
      button.switch-button {
        background: rgba(15, 153, 96, 1);
        color: white;
      }
    }
  }
  @media screen and (max-width: 855px) {
    padding: 5px 15px;
  }
}