@import '../config.scss';
.broWrapper {
  display: flex;
  margin-top: $navbarHeight;
}
.sideNav {
  flex: 0.2;
  padding: 50px 20px 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .sideNavElement {
    padding: 10px 10px 10px 10px;
    align-self: stretch;
    span {
      font-size: 18px;
      font-weight: bold;
      color: rgba(19, 124, 189, 1);
      svg {
        fill: rgba(19, 124, 189, 1);
      }
    }
    &:hover {
      background-color: rgba(167, 182, 194, 1);
      span {
        color: white;
        svg {
          fill: white;
        }
      }
      text-decoration: none; // to remove the underline from link
    }
  }
  .active {
    span {
      color: white;
      svg {
        fill: white;
      }
    }
    background-color: rgba(19, 124, 189, 1);
  }
}
