@import '../config.scss';
.broWrapper {
  display: flex;
  margin-top: $navbarHeight;
  .fake-side-nav {
    flex: 0.19;
    margin-top: 4px;
    margin-left: 4px;
    padding: 50px 10px;
  }
  .bro-right {
    flex: 0.81;
  }
  @media screen and (max-width: 855px) {
    display: block;
    .fake-side-nav {
      display: none;
    }
  }
}
.sideNav {
  display: flex;
  margin-top: 4px;
  margin-left: 4px;
  padding: 50px 5px;
  width: 20%;
  height: calc(100% - 70px); // substract navbarheight(60px) and 4 px top margin + shadow as well
  z-index: 3;
  align-items: center;
  flex-direction: column;
  position: fixed;
  border: 1px solid $normalBorder;
  background-color: $fadedBackground;
  .sideNavElement {
    margin-bottom: 5px;
    padding: 10px 10px 10px 10px;
    align-self: stretch;
    // box-shadow: 0px 1px 2px 1px $normalShadowColor;
    border: 1px solid $normalBorder;
    background-color: $fadedBackground;
    span {
      font-size: 16px;
      font-weight: bold;
      color: $navTextColor;
      svg {
        fill: $navTextColor;
      }
    }
    &:hover {
      background-color: $backgroundColor;
      border-left: 3px solid $skyBlueMain;
      text-decoration: none; // to remove the underline from link
    }
  }
  .active {
    span {
      color: $skyBlueMain;
      svg {
        fill: $skyBlueMain;
      }
    }
  }
  @media screen and (max-width: 855px) {
    display: none;
  }
}
// styling the small screen side navigation
.pc-small-screen-sidenav {
  flex: 1;
  display: none;
  .nav-button {
    background-color: $backgroundColor;
    color: $navTextColor;
  }
  .pc-collapse-menu {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    .sideNavElement {
      margin-bottom: 5px;
      padding: 10px 10px 10px 10px;
      align-self: stretch;
      border: 1px solid $normalBorder;
      background-color: $fadedBackground;
      span {
        font-size: 16px;
        color: $navTextColor;
      }
      &:hover {
        background-color: $backgroundColor;
        border-left: 3px solid $skyBlueMain;
        text-decoration: none; // to remove the underline from link
      }
    }
    .active {
      span {
        color: $skyBlueMain;
        svg {
          fill: $skyBlueMain;
        }
      }
    }
  }
  @media screen and (max-width: 855px) {
    display: block;
    margin: 70px 20px 0px 15px;
  }
}
